/*** GSEA and MSigDB styles ***/
/*** Design by Rebecca Fagan, fagandesign, www.fagandesign.com ***/



/*** general overall styles ***/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    background-color:#4c9bcf;
}

a {
    color: #003399;
    text-decoration: none;
}

a:hover {
    color: #3366CC;
    text-decoration: underline;
}

a:active {
    color: #003399;
    text-decoration: underline;
}


/* FORMS - these forms styles have been picked up from the Broad web site */
input {
    border: 1px solid #999; 
    margin-right: 2px; 
    color: #000; 
    vertical-align: top;
    font-size: 85%;
    padding: 2px;
}

select {
    /*border: 1px solid #999; */
    color: #000;
    vertical-align: middle;
    font-size: 85%;
    background-color: #F8EDCC;
}

input.search {
    background-color: #efefef;
}

input.text {
    background-color: #F8EDCC;
}

input.radio {
    /*** put this class inside the Input tag ***/
    border: 0px solid #fff;
    margin-right: 0px;
    color: #000;
    vertical-align: middle;
    font-size: 85%;
    padding: 2px;
    background-color: #FFFFFF;
}
input.checkbox {
    /*** put this class inside the Input tag ***/
    border: 0px solid #fff;
    margin-right: 0px;
    color: #000;
    vertical-align: middle;
    font-size: 85%;
    padding: 2px;
    background-color: #FFFFFF;
}

/*** overall page wrapper ***/


#wrapper {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
}

/*** overall page wrapper for doc toc***/


#wrapper_doc_toc {
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    background-image: url(../images/spacer.gif);
    background-repeat: repeat-x;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
}



#wrapper_doc_toc {
   position: absolute;
   z-index: 1;
   background-color: #FFFFFF;
   background-image: url(../images/spacer.gif);
   background-repeat: repeat-x;
   left: 0px;
   top: 0px;
   bottom: 0px;
   width: 100%;
}

/*** breadcrumbs and Broad logo ***/

#breadcrumbs{
    background-image: url(../images/bkg3b.jpg);
    background-repeat: repeat-y;
    background-color: #4c9bcf;
    height: 33px;
    text-align: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #00609f;
    text-decoration: none;
}
#breadcrumbs a {
    text-decoration: none;
    color: #00609f;
}

#breadcrumbs a:hover {
    text-decoration: underline;
    color: #00609f;
}

#breadcrumbs a:active {
    text-decoration: underline;
    color: #1c3564;
}

/*** search box ***/

#search {
    background-image: url(../images/bkg3a.jpg);
    background-repeat: no-repeat;
    height: 34px;
    padding-right: 10px;
    padding-left: 230px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 6px;
    text-align: right;
    margin: 0px;
    padding-bottom: 0px;
}
#search form {
    margin: 0px;
    padding: 0px;
}


/*** top horizontal navigation buttons ***/

#topnavs {
    background-color: #1c3564;
    background-image: url(../images/bkg3b.jpg);
    background-repeat: no-repeat;
    height: 38px;
    padding-right: 10px;
    padding-left: 230px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
    padding-top: 15px;
    z-index: 100;
}
#topnavs ul {
    list-style: none;
    margin:0;
    padding:0;
    float:left;
    white-space: nowrap;
}
#topnavs ul li {
    position:relative;
    min-height: 1px;
    /* keep the menus on one line */
    white-space: nowrap;
    display: inline;
    
}
#topnavs ul li a {
    color: #333333;
    text-decoration: none;
    margin: 0px 15px 0px 0px;
    padding-top: 2px;
    padding-right: 14px;
    padding-bottom: 2px;
    padding-left: 14px;
    line-height: 18px;
}
#topnavs ul li a:hover {
    background-color: #FFFFFF;
    color: #999999;
}
#topnavs ul li a.on {
    background-color: #1c3564;
    color: #FFFFFF;
}


/*** body content wrapper and text styles ***/

#contentwrapper {
    background-color: #FFFFFF;
    background-image: url(../images/logobg.gif);
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 50px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#contentwrapper p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
}

#contentwrapper h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
    margin: 0px 0px 20px;
    padding: 6px 0px 12px;
    line-height: 25px;
    background-image: url(../images/h1-underline.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#wrapper #contentwrapper #content_navs h1.msigdbhome {
    text-align: right;
    margin: 27px 0px 20px;
    padding: 6px 0px 12px;
}

#contentwrapper h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    color: #990000;
    background-color: #dce5f1;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}
#contentwrapper h2 a {
    color: #990000;
    text-decoration: underline;
    
}
#contentwrapper h2 a:hover {
    color: #FF0000;
    text-decoration: underline;
    
}

#contentwrapper h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #990000;
    text-decoration: none;
    line-height: 14px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#contentwrapper h3 a {
    color: #990000;
    text-decoration: underline;
}

#contentwrapper h3 a:hover {
    color: #FF0000;
    text-decoration: underline;
}

#contentwrapper h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #3399CC;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 13px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#contentwrapper h4 a {
    color: #3399CC;
    text-decoration: underline;
}

#contentwrapper h4 a:hover {
    color: #66CCFF;
    text-decoration: underline;
}

#contentwrapper h5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #1c3664;
    text-decoration: none;
    line-height: 13px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
#contentwrapper h5 a {
    color: #1c3664;
    text-decoration: underline;
}

#contentwrapper h5 a:hover {
    color: #3366CC;
    text-decoration: underline;
}

#contentwrapper h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1c3664;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 13px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
#contentwrapper h6 a {
    color: #1c3664;
    text-decoration: underline;
}

#contentwrapper h6 a:hover {
    color: #3366CC;
    text-decoration: underline;
}


#contentwrapper ul {
    margin: 0px 0px 18px;
    padding: 0px;
}

/* i.e 7 has a problem with this configuration so I replaced it with the two styles below.
#contentwrapper ul li {
list-style: none;
background: url(../images/bullet.gif) no-repeat 3px 0.4em;
padding-left: 20px;
padding-bottom: 8px;
}
*/

#contentwrapper .body ul li {
    list-style: none;
    background: url(../images/bullet.gif) no-repeat 3px 0.4em;
    padding-left: 20px;
    padding-bottom: 8px;
}
#contentwrapper #content_full ul li {
    list-style: none;
    background: url(../images/bullet.gif) no-repeat 3px 0.4em;
    padding-left: 20px;
    padding-bottom: 8px;
}

#contentwrapper ul li ul {
    margin: 8px 0px 0px;
    padding: 0px;
}

#contentwrapper ul li ul li{
    list-style: none;
    background: url(../images/bullet.gif) no-repeat 3px 0.4em;
    padding-left: 20px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;	
}


#contentwrapper table tr td {
    vertical-align: top;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    margin: 0px;
}


/*** table used for lists on download page, browse collections, and similar lists ***/

#contentwrapper table.lists1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    margin-bottom: 6px;
}

#contentwrapper table.lists1 tr {
}

#contentwrapper table.lists1 tr:hover {
    background-color: #d6ebf9;
}
#contentwrapper table.lists1 tr:hover th {
    background-color: #b4d9f3;
}


#contentwrapper table.lists1 tr th {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    color: #990000;
    font-size: 11px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    background-color: #d6ebf9;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    width: 194px;
}

#contentwrapper table.lists1 tr.sub th {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #8ebffc;
    font-weight: normal;
    color: #333333;
}
#contentwrapper #content_navs .body .lists1 .sub {
    font-weight: normal;
    color: #333333;}
#contentwrapper #content_navs .body .lists1 .sub a {
    color: #003399;
    text-decoration: none;
    font-weight: normal;
}	
#contentwrapper #content_navs .body .lists1 .sub a:hover {
    color: #3366CC;
    text-decoration: underline;
    font-weight: normal;
}	

#contentwrapper table.lists1 tr.sub th a {
    color: #003399;
    text-decoration: none;
    font-weight: normal;
}
#contentwrapper table.lists1 tr.sub th a:hover {
    color: #3366CC;
    text-decoration: underline;
    font-weight: normal;
}


#contentwrapper table.lists1 tr th a {
    color: #990000;
    text-decoration: underline;
    
}
#contentwrapper table.lists1 tr th a:hover {
    color: #FF0000;
    text-decoration: underline;
    
}

#contentwrapper table.lists1 tr td {
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
}
#contentwrapper table.lists1 tr.sub td {
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #b8d8fc;
}


#contentwrapper table.lists1 tr td ul {
    margin: 0px 0px 4px;
    padding: 0px;
}

#contentwrapper table.lists1 tr td ul li {
    list-style: none;
    background: url(../images/bullet.gif) no-repeat 3px 0.4em;
    padding-left: 20px;
    padding-bottom: 0px;
    
}




/*** table used for lists on browse genesets page ***/

#contentwrapper table.lists2 {
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 16px;
    padding-right: 10px;
}
#contentwrapper #content_navs .body .highlight {
    font-weight: bold;
    color: #990000;
    border: 1px solid #99CCFF;
    padding: 0px 2px 2px;
    background-color: #cce6ff;
}
#contentwrapper #content_navs .body .disabled {
    color: #999999;
}


/*** table used for lists on view gene families page ***/

#contentwrapper table.lists3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    margin-bottom: 6px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dfe7f3;
}

#contentwrapper table.lists3 tr {
}

#contentwrapper table.lists3 tr th {
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: #dfe7f3;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    line-height: 13px;
}

#contentwrapper table.lists3 tr td {
    vertical-align: top;
    text-align: center;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dfe7f3;
    line-height: 13px;
}
#contentwrapper table.lists3 .head {
    font-weight: bold;
    text-align: left;
}

#contentwrapper table.lists3 tr td.null {
    color: #999999;
}


/*** table used for geneset pages ***/

#contentwrapper table.lists4 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    margin-bottom: 6px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    padding: 0px;
    width: 100%;
}
#contentwrapper #content_navs .body .lists4 p {
    margin: 0px;
    padding: 0px;
}

#contentwrapper table.lists4 tr {
}




#contentwrapper table.lists4 tr th {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    color: #990000;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    background-color: #d6ebf9;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #8ebffc;
    width: 225px;
}

#contentwrapper table.lists4 tr.toprow th {
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #8ebffc;
    
}

#contentwrapper table.lists4 tr.toprow td {
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #8ebffc;
    
}

#contentwrapper table.lists4 tr th a {
    color: #990000;
    text-decoration: underline;
    
}
#contentwrapper table.lists4 tr th a:hover {
    color: #FF0000;
    text-decoration: underline;
    
}

#contentwrapper table.lists4 tr td {
    vertical-align: top;
    text-align: left;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #b8d8fc;
}


#contentwrapper table.lists4 tr td ul {
    margin: 0px 0px 4px;
    padding: 0px;
}

#contentwrapper table.lists4 tr td ul li {
    list-style: none;
    background: url(../images/bullet.gif) no-repeat 3px 0.4em;
    padding-left: 20px;
    padding-bottom: 0px;
    
}


/*** full width content area constrained to 906px ***/
#content_full {
    padding: 21px 0px 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 45px;
    width: 906px;
    
}
#content_full table tr td.column {
    vertical-align: top;
    width: 440px;
}

#content_full table tr td.gutter {
    width: 26; 
    vertical-align: bottom;
}

/*** content area contains left side navs ***/

#content_navs {
    padding: 0px;
    width: 951px;
    margin: 0px;
}
#content_navs table tr td.navs {
    vertical-align: top;
    width: 170px;
}
#content_navs table tr td.margin {
    width: 34; 
    vertical-align: bottom;
}
#content_navs table tr td.body {
    padding: 21px 0px 0px;
    vertical-align: top;
    width: 747px;
}

#content_navs table tr td.column {
    vertical-align: top;
    width: 360px;
}
#content_navs table tr td.gutter {
    width: 26; 
    vertical-align: bottom;
}

/*** search page styles / annotate genesets styles ***/
#contentwrapper #content_navs .body table tr td.leftcol {
    padding-right: 20px;
}
#contentwrapper #content_navs .body table tr td.rightcol {
    padding-left: 20px;
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #AAA;
    padding-right: 10px;
}
.description{
    font-size: 9px;
    font-style: italic;
    line-height: 11px;
    color: #666666;
}

/*** full width content area expands to fill page - use for search results, etc. ***/
#search_results {
    padding: 21px 0px 0px;
    margin-top: 0px;
    margin-right: 45px;
    margin-bottom: 0px;
    margin-left: 45px;
    width: auto;
    
}
#search_results h6 {
    color: #FFFFFF;
    background-color: #990000;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 13px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}
#search_results .page a {
    text-decoration: underline;
}
#search_results .page .on {
    font-weight:bold;
    color: #990000;
    border: 1px solid #99CCFF;
    padding: 0px 2px 2px;
    background-color: #cce6ff;
}

#search_results table   {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dfe7f3;
    border-collapse: collapse;
}
#search_results table tr th  {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    background-color: #dfe7f3;
    vertical-align: middle;
    text-align: left;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
#search_results table tr td  {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dfe7f3;
    vertical-align: top;
    text-align: left;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
}
#search_results .highlight  {
    font-weight: bold;
    color: #990000;
    border: 1px solid #99CCFF;
    padding: 0px 2px 2px;
    background-color: #cce6ff;
}	
#search_results input  {
    border: 0px solid #fff;
    margin-right: 0px;
    color: #000;
    vertical-align: top;
    font-size: 85%;
    padding: 0px;
    background-color: none;
}



/*** compute overlaps page styles ***/



#contentwrapper table.overlapsSummary   {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dfe7f3;
    
}
#contentwrapper table.overlapsSummary tr th  {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    background-color: #dfe7f3;
    vertical-align: middle;
    text-align: left;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
#contentwrapper table.overlapsSummary tr td  {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dfe7f3;
    vertical-align: top;
    text-align: left;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
}


#contentwrapper table.overlapsMatrix   {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4c9bcf;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dfe7f3;
    
}
#contentwrapper table.overlapsMatrix tr th  {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4c9bcf;
    background-color: #dfe7f3;
    vertical-align: bottom;
    text-align: left;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}
#contentwrapper table.overlapsMatrix tr td  {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8ebffc;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dfe7f3;
    vertical-align: top;
    text-align: left;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

#contentwrapper table.overlapsMatrix tr td.off  {
    border-top: 1px none #999999;
    border-right: 1px none #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
}
#contentwrapper table.overlapsMatrix tr th.on  {
    background-color: #1c3664;
    font-size: 11px;
    font-weight: bold;
    color: #1c3664;
    text-align: center;
    vertical-align: middle;
    border-top: 1px none #999999;
    border-right: 1px none #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
}

#contentwrapper table.overlapsMatrix tr td.sources  {
    border-top: 1px none #999999;
    border-right: 1px none #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}


/*** place below main content for full width overlaps matrix ***/

#overlapsMatrixWrapper {
    padding: 21px 0px 0px;
    margin-top: 0px;
    margin-right: 45px;
    margin-bottom: 0px;
    margin-left: 45px;
    width: auto;
    
}

/*** left side navs ***/
#nav{
    width: 170px;
}
#nav h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    color: #FFFFFF;	
    margin: 0px;
    display: block;
    background-color: #4c9bcf;
    border-top: 1px solid #cce6ff;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
#nav ul li a {
    list-style: none;
    background: #9ec9e6 url(../images/nav-bullet.gif) no-repeat 10px 0.5em;
    padding-left: 25px;
    margin: 0;
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: #1c3564;
    font-style: normal;
    font-weight: normal;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cce6ff;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 4px;
}
#nav ul li a.on {
    color: #FFFFFF;
    text-decoration: none;
    background: #4c9bcf url(../images/nav-bullet-over.gif) no-repeat 10px 0.5em;
}
#nav ul li a:hover {
    color: #1c3564;
    text-decoration: none;
    background: #c5e0fc url(../images/nav-bullet.gif) no-repeat 10px 0.5em;
}
#nav ul li a:hover.on {
    color: #FFFFFF;
    text-decoration: none;
    background: #c5e0fc url(../images/nav-bullet-over.gif) no-repeat 10px 0.5em;
}
#nav ul li a:active {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #4c9bcf;
}


/*** footer ***/
#footer{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #4c9bcf;
    padding-top: 4px;
    padding-bottom: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #1c3665;
    padding-right: 10px;
    padding-left: 10px;
}
#footer a {
    color: #FFFFFF;
    text-decoration: none;
}
#footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#footer a:active {
    color: #1c3564;
    text-decoration: underline;
}
#footer table tr td {
    vertical-align: top;
}

/*** top logo ***/
#logo {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
}
#logo2 {
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 5px;
}


#info_window {
    font-size: 10px;
    line-height: 12px;
    background-color: #dbebfb;
    position: absolute;
    z-index: 50;
    width: 198px;
    padding: 10px 10px 12px;
    border: 1px solid #4c9bcf;
    left: 725px;
    top: 449px;
}
