body, a.title:link, a.title:visited, a.title:active{font-size:12px;font-family:Verdana;color:#444444;}
 body{border-color:#EFF0F4;background-color:#EFF0F4;border-width:1px;}
 #container{border-color:#EFF0F4;border-width:1px;}
 #banner{border-color:#EFF0F4;border-width:1px;}
 a,a:visited,a:active{color:#1BA4D4;}
 #articles .footer{background-color:#535455;}
 #articles .footer, #articles .footer a, #articles .footer a:active, #articles .footer a:visited{color:#EEEEEE;}
 .row_odd{background-color:#E3E3E3;}
 #header{border-color:#9C9C9C;font-size:18px;border-width:3px;}
