* { margin: 0; padding:0; }
body, textarea, input.text, a.title:link, a.title:visited, a.title:active {
    color: #444;
    font-family: Tahoma;
    font-size: 12px;
}
body {
    background-color: #fff;
    height: 310px;
    min-height: 310px;
    overflow: hidden;
    width: 100%;
}
a,a:visited,a:active { color: #88bc50; }

.clear {
    clear: both;
}

/* FORMS */
form ul {
    margin-top: 5px;
}
form ul li {    
    list-style: none;
    margin: 5px 10px;
}
form ul li.buttons {
    margin-top: 10px;
}
form ul li label {
    display: block;
}
form ul li.note {
    text-align: center;
}
input.text, textarea {
    border: 1px solid #E3E3E3;
}
.input-overlay {
    color: #AAA;
    margin: 1px;
    position: absolute;
}
textarea {
    width: 99%;
}

/* TOP LEVEL WIDGET CONTAINERS */
#container {
    border: 1px solid #9c9c9c;
    height: 100%;
}
#header {
    border: 3px solid #9c9c9c;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}
#header_indicator {
    background: url('/images/indicator.gif') no-repeat;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
}
#message {
    background-color: #88bc50;
    height: 50px; /* can we calculate this? */
}
#message div {
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}
#banner {
    background-color: #fff;
    border-top: 1px solid #9c9c9c;
    bottom: 0;
    height: 37px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#banner a {
  background: #fff url('/images/widget_banner.png') no-repeat center;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 5px;
  width: 100%;
}

/* SUGGESTION FORM */
textarea#topic {
    font-size: 16px;
}
#topic-status {
    font-size: 18px;
    text-align: right;
}
.char-overflow {
    color: #D40D12;
}
#post_button {
    border: 1px solid #9c9c9c;
    padding: 5px;
    width: 100%;
}

/* SUGGESTION LIST */
#articles {
  padding: 5px 0 0 0;
}
.article {
  padding: 5px 0 5px 5px;
}
.row_odd {
    background-color: #E3E3E3;
}
.title {
    display: block;
    overflow: hidden;
    text-decoration: none;
}
.vote_true, .vote_false {
    cursor: pointer;
    float: right;
    height: 18px;
    margin: 0 5px;
    width: 28px;
}
.vote_true {
    background: #ffc928 url(/images/vote_voted.gif) no-repeat -27px 0;
}
.vote_false {
    background: #88bc50 url(/images/vote_voted.gif) no-repeat 0 0;
}
#articles .footer {
    background-color: #535455;
    bottom: 37px;
    left: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#articles .footer, #articles .footer a, #articles .footer a:active, #articles .footer a:visited {
    color: #eee;
}
#articles .footer a {
    margin: 0 5px;
}
