body {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana,Tahoma, Arial,Helvetica,sans-serif;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: justify;
}

p {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: justify;
}

li {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: left;
}

td {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: left;
	margin-bottom: 2px;
}

ul {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: left;
}

.pcenter {
	TEXT-ALIGN: center;
}

.pright {
	TEXT-ALIGN: right;
}

.header {
	FONT-SIZE: 7pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,sans-serif;
	TEXT-ALIGN: center;
}

.copyright {
	FONT-SIZE: 7pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,sans-serif;
	TEXT-ALIGN: center;
}

.tlink {
	FONT-SIZE: 7pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,sans-serif;
	TEXT-ALIGN: left;
}

.itable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
}


a:link {
	color: #0000FF;
	text-decoration: none;
}

a:visited {
        color: #800080;
		  text-decoration: none;
}

a:hover {
         color: #008000;
         text-decoration : underline;
}

hr {
	line-height: 12pt;
	}

.mttitle {
	FONT-SIZE: 9pt;
	FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,sans-serif;
	TEXT-ALIGN: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-top-width: thin;
}

.artitle {
	FONT-SIZE: 10pt;
	FONT-FAMILY:  Verdana,Tahoma,Arial,Helvetica,sans-serif;
	TEXT-ALIGN: center;
}

.facts {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: "Courier New", Courier, monospace;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: justify;
}

.lcontent {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-STYLE: normal;
	BACKGROUND-COLOR: #D3DCE3;
	TEXT-ALIGN: left;
}

/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#styletwo {position:relative;display:block;height:24px;font-size:10px;font-weight:bold;background:transparent url(bgoff.gif) repeat-x top left;font-family:Verdana,Tahoma, Arial,Helvetica,sans-serif;}
#styletwo ul {margin:0;padding:0;list-style-type:none;width:auto;}
#styletwo ul li {display:block;float:left;margin:0 1px 0 0;}
#styletwo ul li a{display:block;float:left;color:#000;text-decoration:none;padding:6px 10px 0 10px;height:24px;background:transparent url(bgoff.gif) repeat-x top left;}
#styletwo ul li a:hover {color:#fff;background:transparent url(bgon.gif) repeat-x top left;}
#styletwo ul li a.current{color:#fff;background:transparent url(bgon.gif) repeat-x top left;}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */


/* ^^^^^^^^ Floating CSS code ^^^^^^^^^^ */

#maincontainer{
width: 800px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
height: 160px; /*Height of top section*/
}

#contentwrapper{
float: left;
width: 100%;
}

#content3c{
margin: 0 130px 0 115px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#content2c{
margin: 0 0px 0 135px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#content1c{
margin: 0 0px 0 0px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftmenu{
float: left;
width: 115px; /*Width of left column in pixel*/
margin-left: -800px; /*Set margin to that of -(MainContainerWidth)*/
}

#leftsp{
float: left;
width: 135px; /*Width of left column in pixel*/
margin-left: -800px; /*Set margin to that of -(MainContainerWidth)*/
}

#rightsp{
float: left;
width: 130px; /*Width of right column*/
margin-left: -130px; /*Set left margin to -(RightColumnWidth)*/
}

#footer{
clear: left;
width: 100%;
padding: 4px 0;
}

.innertube{
margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}