
/*
-----------------------------------------------
UCSC Print Friendly for Press Releases
----------------------------------------------- 
*/

body {
font-family: "Times New Roman", serif;
font-size: 12pt;
}

#pageTop, #pageLeft, #leftnavlist {
display: none;
}

#pageContent {
position: relative;
width: 450pt;
margin-left: -120pt;
padding: 20pt;
}

#pageContent a:link:after, #content a:visited:after {
content: " (" attr(href) ") ";
}

a:link, a:visited {
color: blue;
text-decoration: underline;
}

