/*
-----------------------------------------------
UCSC Screen Styles for Second Level Pages
Last edit: March 20, 2006
----------------------------------------------- */


/* This is the default text style
----------------------------------------------- */

body, td, th {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
}
/*/*/a{}
body, body td, body th {
  font: xx-small/1.5em Verdana, Geneva, Arial, Helvetica, sans-serif; 
  voice-family: "\"}\"";
  voice-family: inherit;
  font: x-small/1.5em Verdana, Geneva, Arial, Helvetica, sans-serif; 
}
html>body, html>body td, html>body th {
  font: x-small/1.5em Verdana, Geneva, Arial, Helvetica, sans-serif; 
}  
/* */
/* Leave empty comment above Intact just below all text style css */


/* BEGIN Legacy Tag Defs (in alphabetical order)
----------------------------------------------- */

body {
  color:#000;
  margin:0;
  padding:0;
  word-spacing:normal; 
  letter-spacing:normal; 
  text-transform:none;
/*   background:#fff; */
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 { 
margin: .3em 0% .5em 0%;
color: black;
text-align: left;
font-style: normal;
word-spacing: normal;
letter-spacing: normal;
text-transform: none;
} /* top margin range 1.667em - .8em and bottom margin range 1em - 0em */

h1 {font: 2.01em/1.4em Arial, sans-serif; font-weight: bold;}
h2 {font: 1.75em/1.3em Arial, sans-serif; font-weight: bold;}
h3 {font: 1.52em/1.2em Arial, sans-serif; font-weight: bold;}
h4 {font: 1.32em/1.2em Arial, sans-serif; font-weight: bold;}
h5 {font: 1.15em/1.1em Arial, sans-serif; font-weight: bold;}
h6 {font: 1em/1.1em Arial, sans-serif; font-weight: bold;}

p {
  /*/*/ margin: .6em 0% 1em 0%; /* */
  /*/*/ line-height:/* */ 1.4; /* */
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
} /* top range .4em - 1em, bottom range .4em - 1em */

table {
  line-height:/* */ 1.4em;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

/*
ol {
margin: .8em 0% 1em 8%;
line-height: 1.4;
list-style-position: outside;
}
LI {
margin: .7em 0% .7em 0%;
}
*/


ul {
  margin: 0 0 .8em 0;
  line-height: 1.4em;
/*  padding: 0; */
/*  list-style: none; */
/* margin: .8em 0 1em 0; */
/* list-style-position: outside; */
/* list-style-image: url(http://www.ucsc.edu/images/bluedot3.gif); */
}

/* END Legacy Tag Defs (in alphabetical order)
----------------------------------------------- */

/* Legacy classes
----------------------------------------------- */

/* This is the standard lead-in text style */
p.maintext {
  font-size:122%; 
  line-height:1.6em;
}

/* This is the standard page title text */
.subhead, .unitname {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:170%; 
  font-weight:700; 
  color:#900;
  line-height:/* */ 1.4em;
}

/* This is an alternate larger text style */
#pagetext {
  font-size:120%; 
}

/* This is an alternate larger highlight text style */
#highlight {
  font-size:110%; 
  line-height:1.4em; 
}

/* Page subsection heading */
.sectionhead {
  font-size:125%; 
  font-weight:700; 
  color:#333;
}

/* Page subsection heading as link */
.sectionhead a {
   font-weight:700;
   color:#333;
}

/* Caption styling */
.caption {
  color:#999;
}

/* Copyright styling */
.copyright, .copyright a {
  font-size: 95%; 
  color:#999;
}

.serif {
font-family: Georgia, "Minion Web", Palatino, "Times New Roman", serif;
}

/* END Legacy classes
----------------------------------------------- */


/* Link styles
----------------------------------------------- */

a:link {
  color: #039;
  font-weight: normal;
  background: transparent;
  text-decoration: underline;
}

a:visited {
  color: #699;
  font-weight: normal;
  background: transparent;
  text-decoration: underline;
}

a:active {
  color: #FC3;
  font-weight: normal;
  background: transparent;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #C00;
  font-weight: normal;
  background: transparent;
  text-decoration: underline;
}

/* Classes
----------------------------------------------- */

/* This is the standard lead-in text style */
p.maintext {
  font-size:122%; 
  line-height:1.6em;
}

/* This is the standard page title text */
.subhead, .unitname {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:170%; 
  font-weight:700; 
  color:#900;
  line-height:/* */ 1.4em;
}

/* This is an alternate larger text style */
#pagetext {
  font-size:120%; 
}

/* This is an alternate larger highlight text style */
#highlight {
  font-size:110%; 
  line-height:1.4em; 
}

/* Page subsection heading */
.sectionhead {
  font-size:125%; 
  font-weight:700; 
  color:#333;
}

/* Page subsection heading as link */
.sectionhead a {
   font-weight:700;
   color:#333;
}

/* Caption styling */
.caption {
  color:#999;
}

/* Copyright styling */
.copyright {
  font-size: 98%; 
  color:#999;
}
.copyright a { 
  color:#999;
}

.serif {
font-family: Georgia, "Minion Web", Palatino, "Times New Roman", serif;
}


/* New styles (based on style-3L)
----------------------------------------------- */

h2 {
	margin-top: 16px;
	margin-bottom: .05em;
}
h3, h4, h5 {
	margin-top: 1.0em;
	margin-bottom: .05em;
}

/* Styles for top section */
#pageTop h1 span {
   display: none;
}

/* Styles for left section of both 2-col and 3-col format page */
#pageLeft p, #pageLeft a {
  font-size: 100%;
  text-decoration: none;
/*  line-height: 1.4em; */
}
#pageLeft .address a {
  font-size: 100%;
  text-decoration: underline;
}
#pageLeft h4 {
  margin: .7em 0 0.1em 0;
  line-height: 1.3em;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 100%; 
  font-weight: bold;
  color: #222;
}
#pageLeft h5 {
  margin: 1.5em 0 -0.6em 0;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 100%; 
  color: #222;
}

#pageLeft .leftnavlist, #pageLeft .leftnavlistother {
  margin: 0.5em 0 0.5em 0;
  font-size: 112%;
}

/* For non-bullet list */
.leftnavlist ul {
  list-style: none;
  margin: 0 0 .8em .7em;
  padding: 0;
}
.leftnavlist li, .leftnavlist li a {
  margin: 0 0 0 0;
  text-indent: -.7em;
  line-height: 1.2em; /* control left nav line wrapping here */
  padding: .1em 0 .1em 0; /* control additional spacing here */
}

/* For bullet list */
.leftnavlistother ul {
  list-style-type: none;
  list-style-image: url("http://www.ucsc.edu/images/bulletlistnavother.gif"); 
  margin: 0 0 .8em 19px;
  padding: 0;
}
.leftnavlistother li, .leftnavlistother li a {
  margin: 0 0 0 -4px;
  font-size: 100%;
  text-indent: 0;
  line-height: 1.3em; /* control left nav line wrapping here */
  padding: .1em 0 .1em 0; /* control additional spacing here */
}

#pageLeft .copyright {
  margin: 2.0em 0;
  line-height: 1.3em;
}
#pageLeft .copyright a {
  text-decoration: underline;
}

/* Styles for center section of 3-col format page only */
#pageCenterContent {
  font-size: 122%;
}
#pageCenterContent p {
  line-height: 1.5em;
}
#pageCenterContent h2 {
  margin: -0.2em 0 0.4em 0;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 115%;
  color: #111; 
  font-weight: bold;
  line-height: 1.5em;
}

/* Styles for main section of 2-col format page only */ 
#pageContent {
  font-size: 122%;
}
#pageContent p {
  line-height: 1.4em;
}
#pageContent th, #pageContent td {
  font-size: 75%;
}
#pageContent h2, #pageContent h3, #pageContent h4, #pageContent h5, #pageContent h6 {
  font-family: Arial, sans-serif;
}
#pageContent h2 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  color: #900; 
  font-weight: bold;
}
#pageContent h3, #pageContent h3 a {
  margin-top: 1.5em;
  margin-bottom: 0.6em;
  font-size: 120%;
  font-weight: bold;
  color: #000; 
}
#pageContent h3 a {
  font-size: 100%;
  text-decoration: underline;
}
#pageContent .textSmall {
  font-size: 97%;
  line-height: 1.2em;
}

/* Styles for right section of 3-col format page only */
#pageRight p {
  font-size: 112%;
  line-height: 1.4em;
}
#pageRight h3 { /* blue all-cap heading style */
  font-family: Arial, sans-serif;
  font-size: 135%;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  color: #266CA7;
  letter-spacing: 0.2em;
  margin: 5px 0 0 0;
}
#pageRight #highlights .sectionhead, #pageRight #headlines .sectionhead, .sectionheadtextonly {
  font-family: Arial, sans-serif;
  font-size: 135%;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  color: #266CA7;
  letter-spacing: 0.2em;
  margin: 5px 0 0 0;
}
#pageRight #headlines, #pageRight #headlines .sectionhead {
  margin: 18px 0 0 0;
}

#pageRight h4 {
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin-bottom: -0.3em;
  font-size: 110%; 
  color: #222;
}

/* Styles for text-only pages */ 
#pageTop h2 {
/*  font: 2.2em/1.1em "Arial Narrow", "Helvetica Narrow", sans-serif; */
  color: #900; 
  font-weight: bold;
  margin-top: -.3em;
  margin-bottom: .3em;
}
#textonlyContainer td {
/*  font-size: 70%; */
}

/* Styles for photo captions & credits */
#pageCenter p.photoCaption {
  margin-top: 20px;
  font-size: 110%; 
  line-height: 1.3em;
  color: #666;
}

/* Stylized HR - redudant info ensures proper browser display */
hr {
  border: none;
  height: 1px;
  border-color: #C3D4E9;
  color: #C3D4E9;
  background: #C3D4E9;
  background-color: #C3D4E9;
}

/* Public Affairs Dept. -- END Default Styles */

/***
*
*  Callout Box: These styles take <div> with a class of "callout"
*	 and float it right. Be sure to use paragraphs within the box
*	see: /news_events/strike/afscme_05-08/
*
*/
.callout { width:160px; float:right; margin:0 0 10px 10px; background-color:#ffffcc; padding:1.4em; font-size:10px; }
.callout h4 { color:#990000; font-size:13px; margin-bottom:8px; }
.callout ul { margin:0 0 0 1.6em; padding:0 0 1em 0; }
.callout li { margin:0 0 0.4em 0; padding:0; }
.callout p { font-size:10px !important; }
