body {
	background-color:#ffffff;
	color:#000000;
}

/* Global Top Navigation Links */
A.topnav, A.topnav:visited, A.topnav:hover {
	font:bold 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

/* Top Nav help and site index links */
A.topnavsml, A.topnavsml:visited, A.topnavsml:hover {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline
}

/* Left Nav Not Links */
.leftnavOn {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

.leftnavresources {
	background-color:#eaeaea;
}

.leftnavresourcesheader {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#DF0024;
}

.leftnavsubjectsheader, .leftnavsubjectsheader:visited, .leftnavsubjectsheader:hover {
	color:#ffffff;
	text-decoration:none;
}

/* Left Nav Links - highlighted */
A.leftnavOn, A.leftnavOn:visited, A.leftnavOn:hover {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none
}

/* Left Nav Links - not highlighted */
A.leftnav, A.leftnav:visited {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none
}

A.leftnav:hover {
	color:#df0024;
	text-decoration:none;
}

.bg-leftnav {
	background:#D1E1EA;
}

.bg-leftnavOn {
	background:#6E83A0;
}

/* Left Nav Links - 2nd level */
A.leftnav2, A.leftnav2:visited {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none
}

A.leftnav2:hover {
	color:#df0024;
	text-decoration:none;
}

/* Left Nav Links - 2nd level highlighted */
A.leftnav2on, A.leftnav2on:visited, A.leftnav2on:hover {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none
}

/* Left Nav Links - 3rd level background */
.bg-leftnav3 {
	background-color:#eaeaea;
}

.bg-leftnav3On {
	background-color:#6E83A0;
}

/* Left Nav Links - 3rd level */
A.leftnav3, A.leftnav3:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

A.leftnav3:hover {
	color:#DF0024;
	text-decoration:none;
}

/* Left Nav Links - 3rd level */
A.leftnav3On, A.leftnav3On:visited, A.leftnav3On:hover {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

/* NPG Subject black links */
A.subject, A.subject:visited {
	font:normal 10px Arial, Verdana, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

A.subject:hover {
	color:#cc3300;
	text-decoration:none;
}

/* NPG Subject Browse all publications link */
A.subjectred, A.subjectred:visited, A.subjectred:hover {
	font:normal 10px Arial, Verdana, Helvetica, sans-serif;
	color:#cc3300;
	text-decoration:none;
}

/* popup close window links */
A.closewindow, A.closewindow:hover, A.closewindow:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:underline;
}

/* popup close window links - in colour for base */
A.closewindow2, A.closewindow2:hover , A.closewindow2:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#56177B;
	text-decoration:underline;
}


/* Search Text */
.search {
	FONT:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

.searchspacerbar {
	background-color:#000000;
}

/* Advanced Search Links */
A.adsearch, A.adsearch:visited, A.adsearch:hover {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}

/* Breadcrumb trail - unlinked text */
.breadcrumb {
	FONT:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#D1E1EA;
}

/* Breadcrumb trail links */
A.breadcrumblink, A.breadcrumblink:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none
}

A.breadcrumblink:hover {
	color:#000000;
	text-decoration:underline;
}

/* table that holds article image */
.imagetable {
	background-color:#000000;
}

/* homepage */
.welcometext {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

.advancesdivider {
	background:url(/nmeth/images/homepage/advances_divider.gif) top left repeat-y;
}

.latestadvances {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

.latestadvances:visited {
	color:#6E83A0;
	text-decoration:underline;
}

.latestadvances:hover {
	color:#df0024;
	text-decoration:underline;
}

.researchreviewsrj {
	font:italic normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

.researchreviewslink {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

.researchreviewslink:visited {
	color:#6E83A0;
	text-decoration:underline;
}

.researchreviewslink:hover {
	color:#df0024;
	text-decoration:underline;
}

.registertext {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

.registerlink, .registerlink:visited, .registerlink:hover {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

/* toc */
.toc-issueheader {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#6E83A0;
}

.whitesml {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#6E83A0;
}

.toc-contentheader {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#DF0024;
	
}


.categ_small {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#DF0024;
	
}





.toc-pagenumbers {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	
}


.pagenum {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	
}



.toc-issueprevnext {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#D1E1EA;
}

.toc-header {
	font:bold medium Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	margin:0;
}

.toc-subhead {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
}


.toctitle {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
}



.toclinks {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}



a.toclinks:link, a.toclinks:visited {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}

a.toclinks:hover {
	color:#DF0024;
	text-decoration:underline;
}

.toc-textlink {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}


.contentslink {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}


.toc-textlink:visited {
	color:#6E83A0;
	text-decoration:underline;
}

.toc-textlink:hover {
	color:#DF0024;
	text-decoration:underline;
}

.toc-textspacer {
	font:bold x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
}

/* advances archive */
.archbrowsebluelt {
	background-color:#D1E1EA;
}

.archbrowsebluedk {
	background-color:#6E83A0;
}

.archbrowsemonthlnk, .archbrowsemonthlnk:visited {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

.archbrowsemonthlnk:hover {
	color:#DF0024;
	text-decoration:underline;
}

/* Application notes */
.appnotessrc {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	
}

.appnotes-textlink {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
	line-height:1.7em;
}

.appnotes-textlink:visited {
	color:#6E83A0;
	text-decoration:underline;
}

.appnotes-textlink:hover {
	color:#DF0024;
	text-decoration:underline;
}

.bluemed{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
}

.redmed{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#DF0024;
	text-decortation:underline
}

/* methods team */
.teamlinks, .teamlinks:visited {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

.teamlinks:hover {
	color:#DF0024;
	text-decoration:underline;
}

.teamtop, .teamtop:visited , .teamtop:hover {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

/* classes for "call for papers" box on homepage */
.callforpapers {
	background-color:#e91122;
}

.callforpapers-td {
	background-color:#fffee8;
	text-align:center;
}

.callforpaperslink, .callforpaperslink:visited , .callforpaperslink:hover {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#e91122;
	text-decoration:none;
}

/* classes for rtnav sponsors box */
.sponsors {
	background-color:#000000;
}

.sponsors-td {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
}

/* popup classes */
.bg-popheader {
	background-color:#6E83A0;
}

.bg-popboxdk {
	background-color:#D1E1EA;
}

.bg-popboxlt {
	background-color:#ffffff;
}

.popareatitle {
	font:bold x-small Verdana, Arial, Helvetica, sans-serif;
	color:#cc0000;
	text-transform:uppercase;
}

h1.poptitle {
	font:bold large Georgia, Times New Roman, Times, serif;
	color:#000000;
	margin:0;
}

.heading1 {
	font:bold medium Verdana, Arial, Helvetica, sans-serif;
	color:#cc0000;
}

/* Login Text Labels */
.login {
	FONT:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#D1E1EA;
}

.loginborder{
	background-color:#34424c;
}

/* 11px black links */
A.blacksml2, A.blacksml2:visited {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline
}

A.blacksml2:hover {
	color:#cc3300;
	text-decoration:underline;
}

/* back to top links links 10px variable */
A.top, A.top:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline
}

A.top:hover {
	color:#cc3300;
	text-decoration:underline;
}

/* small coloured links 10px RH Nav */
A.linksml {
	FONT:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

A.linksml:visited {
	color:#6E83A0;
	text-decoration:underline;
}

A.linksml:hover {
	color:#df0024;
	text-decoration:underline;
}

/* article references list */
ol.references {
	margin-top:3px;
	margin-bottom:0;
	list-style-position:outside;
}

ol.references li {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

A.referencelink {
	color:#6E83A0;
	text-decoration:underline;
}

A.referencelink:visited {
	color:#6E83A0;
	text-decoration:underline;
}

A.referencelink:hover {
	color:#df0024;
	text-decoration:underline;
}

/* weblinks */
td.weblinks {
	background-color:#D1E1EA;
}

A.weblinks {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

A.weblinks:visited {
	color:#6E83A0;
	text-decoration:underline;
}

A.weblinks:hover {
	color:#df0024;
	text-decoration:underline;
}

.weblink-href {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
}

/* printer friendly */
.pf-closewindow, .pf-closewindow:visited {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}

.pf-closewindow:hover {
	color:#DF0024;
	text-decoration:underline;
}

/* rightnav */
.fulltextheader {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
	text-transform :uppercase;
	background-color:#6E83A0;
}

.rtnavdark {
	background-color:#D1E1EA;
}

.rtnavlight {
	background-color:#ffffff;
}

/* Black author names 12px variable */
.author {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}
/* Advertisement text uppercase grey 12px variable */
.grey12 {
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	text-decoration:none;

}

/* Advertisement text uppercase grey 10px variable */
.greysml {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#CCCCCC;
	text-decoration:none;
	text-transform : uppercase;
}

/* lowercase grey 10px variable */

.grey10 {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	text-decoration:none;
	}
	
A.grey10 {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	text-decoration:none;

}
A.grey10:hover {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	text-decoration:underline;

}


/* Small red 10px text */
.redsml2 {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;
}

.seealso {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;
}



.linksml {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;
}


/* Small black 10px text variable */
.blacksml {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}


/* black 12px text bold variable */
.blackmedbold {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

.heading4 {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}



.articletitle {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}




/* white 12px text bold variable */
.whitemedbold {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

/* black 11px text bold */
.black11pxbold {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

/* white 11px text bold */
.white11pxbold {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
}



/* Archive table headings 11px white */
.archivehead {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}



/* Black text 10px */
.blacksml2 {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

/* Black text 10px variable*/
.blacksmltext {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}
/* Black text 11px */
.norm {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	line-height: 16px;
}

/* Article link blue 10px */
A.articlelink {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline;
}

A.articlelink:visited {
	color:#6E83A0;
	text-decoration:underline;
}

A.articlelink:hover {
	color:#df0024;
	text-decoration:underline;
}



/* Login box links 10px coloured */
A.login, A.login:visited, A.login:hover {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}

/* Article dividers 10px blue */
.articlelink {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#0000FF;
	line-height : 14px;
}

/* footer line */
.footerline {
	background-color:#000000;
}

/* Copyright links 10px black */
A.copyright, A.copyright:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none
}
A.copyright:hover {
	color:#cc3300;
	text-decoration:none;
}

/* copyright for article picture */
td.copyright {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#D1E1EA;
}

/* Privacy links 10px coloured */
A.privacy  {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#6E83A0;
	text-decoration:underline
}
A.privacy:visited {
	color:#6E83A0;
	text-decoration:underline
}
A.privacy:hover {
	color:#df0024;
	text-decoration:underline;
}

/* Footer Navigation links 11px coloured */
A.footer {
	color:#6E83A0;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-size: 11px;
}
A.footer:visited {
	color:#6E83A0;
	text-decoration:underline;
}
A.footer:hover {
	color:#df0024;
	text-decoration:underline;
}

/* Second level headings Georgia 18px variable */
H2 {
	font:bold large Georgia, Times New Roman, Times, serif;
	color:#000000;
}

/* area title for article pages - nmeth */
.areatitle {
	font:bold x-small Verdana, Arial, Helvetica, sans-serif;
	color:#df0024;
	text-transform:uppercase;
}

/* Free colour */
.free {
	font:bold x-small Verdana, Arial, Helvetica, sans-serif;
	color:#df0024;
	background-color:#d1e1ea;
	
}

/* heading2 - nmeth */
.heading2 {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#df0024;
	text-transform:uppercase;
}

/* blue text links */
.textlink {
	color:#6E83A0;
}

.textlink:visited {
	color:#6E83A0;
}

.textlink:hover {
	color:#DF0024;
}

/* Article heads 12px variable */
.articlehead {
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

/* Article heads red 12px variable */
.articlehead_red{
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#DF0024;
}

.heading3{
	font:bold small Verdana, Arial, Helvetica, sans-serif;
	color:#DF0024;
}


/* Article titles 20px variable */
h1.atitle {
	font:bold large Georgia, Times New Roman, Times, serif;
	color:#000000;
}

/* Article text 12px variable */
.articletext {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}




/* Article para text 12px variable */
p.articletext {
	font:normal small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	margin-top:0.8em;
	margin-bottom:0;
}

p.articletext a:link {
	color:#6E83A0;
}

p.articletext a:visited {
	color:#6E83A0;
}

p.articletext a:hover {
	color:#DF0024;
}

/* Doi numbers 10px variable */
.doi {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

/* Article guide 10px variable */
.articleguide {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

/* Dividing lines 10px variable */
.divider {
	font:normal x-small Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
/* PROTOCOL ICONS STYLES */
.caution {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#F1AF13;
	text-transform:uppercase;
	margin-top:0.8em;
	margin-bottom:0;
}

.pause{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#00993C;
	text-transform:uppercase;
	margin-top:0.8em;
	margin-bottom:0;
}

/*njiobs css */
.njobs-complaintext { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #000000
}

.njobs-complaintext70 { 
	font:normal 70% Verdana, Arial, Helvetica, sans-serif; 
	color: #000000
}

.njobs-comredtext {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #CC3300;
	line-height: 11px;
	padding: 0px;
}

A.njobs-comexternal:link  {
	font-size: 70%;
	color: #000000;
	text-decoration: none;
}

A.njobs-comexternal:visited  {
	color: #000000;
	text-decoration: none;
}

A.njobs-comexternal:hover  {
	color: #CC3333;
	text-decoration: none;
}

A.njobs-commorex:link  {
	color: #CC3300;
	text-decoration: none;
}

A.njobs-commorex:visited  {
	color: #CC3300;
	text-decoration: none;
}

A.njobs-commorex:hover  {
	color: #CC3300;
	text-decoration: none;
}

.njobs-bgFFFFFF {
	background-color:#ffffff;
}

.njobs-bgE6E6E6 {
	background-color:#e6e6e6;
}

.njobs-plaintext {
	color: #000000; 
	font-family: Verdana, Arial, Helvetica, sans-serif
}

A.njobs-morex:link, A.njobs-morex:visited {
	color: #cc3300; 
	text-decoration: none
}

A.njobs-morex:hover {
	color: #cc3300; 
	text-decoration: none
}

.njobs-redtext { 
	color: #cc3300; 
	font:normal 11px Verdana, Arial, Helvetica, sans-serif
}  

span.njobs-c3 {font-size: 70%}

span.njobs-c2 {color: #CC3333}

span.njobs-c1 {font-size: 80%}


/*nevents css */
.nevents-bgF7F7F7 {
	background-color:#f7f7f7;
}
		
.nevents-complaintext { 
   font:normal 10px Verdana, Arial, Helvetica, sans-serif; 
   color: #990000
}
  
A.nevents-commorex:link  {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif; 
	color : #CC3300;
	text-decoration: none;
}

A.nevents-commorex:visited  {
	color : #CC3300;
	text-decoration: none; 
}

A.nevents-commorex:hover  {
	color : #CC3300;
	text-decoration: none; 
}

/* products search box */
.prdnorm{
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}
/* popup close window links - in colour for base */
A.prdclosewindow, A.prdclosewindow:hover , A.prdclosewindow:visited {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}
A.prd_red11 {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300; font-weight:normal; text-decoration:underline;
}

A.prd_red {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300; font-weight:normal; text-decoration:underline;
}
A.prd_red:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight:normal;
	text-decoration:underline;
}

.prd_head{
	font:bold large Georgia, Times New Roman, Times, serif;
	color:#000000;
}
A.prd_red:visited {
font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc33000; font-weight:normal;
	text-decoration:underline;
}

/* jobs search box */
.jbsnorm {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

A.jbslink {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight: bold;
	text-decoration:underline;
}
A.jbslink:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;font-weight: bold;
	text-decoration:underline;
}
A.jbslink:visited {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;font-weight: bold;
	text-decoration:underline;
}

.jbs_red {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300; font-weight:normal; text-decoration:underline;
}
.jbs_red:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight:normal;
	text-decoration:underline;
}
.jbs_red:visited {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc33000; font-weight:normal;
	text-decoration:underline;
}


.categ_large {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 18px;
	COLOR: #DF0024;
	TEXT-DECORATION: none;
	TEXT-TRANSFORM: uppercase;
	LINE-HEIGHT: 2;
}

.categ_app {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 18px;
	COLOR: #003366;
	TEXT-DECORATION: none;
	TEXT-TRANSFORM: uppercase;
	LINE-HEIGHT: 2;
}

/* Archive month Links */
A.archivemonth {
	FONT-SIZE: xx-small;
	COLOR: #0066CC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}
A.archivemonth:visited {
	FONT-SIZE: xx-small;
	COLOR: #0066CC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}
A.archivemonth:hover {
	FONT-SIZE: xx-small;
	COLOR: #cc3300;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}

/* Page numbers black 10px text variable */
.pagenum2 {
	font-size:xx-small;
}

/* Styles for login box - Jeremy Thomson Oct 03 */
.lgn_border {background-color: #D1E1EA;}
.lgn_background {background-color: #D1E1EA;}
.lgn_text {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 10px; line-height: 11px;}
a.lgn_text, a.lgn_text:link {color: #6E83A0; text-decoration: underline;}
a.lgn_text:visited {color: #384955; text-decoration: underline;}
a.lgn_text:hover {color: #CC3300; text-decoration: underline;}
.lgn_textbig {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; line-height: 14px;}
.lgn_textalt {color: #384955; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; line-height: 16px;}
.lgn_textred {color: #CC3300; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 10px; line-height: 11px;}
.lgn_textbox {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; margin-left: 0px; padding-left: 0px;}


/* white previous and next unlinked */
.whitesml2 {
	FONT-SIZE:10px; COLOR:#FFFFFF; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif
}

/* white previous and next links */
A.whitesml2 {
	FONT-SIZE: 10px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}
A.whitesml2:visited {
	FONT-SIZE: 10px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}
A.whitesml2:hover {
	FONT-SIZE: 10px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}

.greysml {
	FONT-SIZE: 10px;
	COLOR: #CCCCCC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	text-transform : uppercase;
}


/* Small grey links 10px */
A.greysmllink {
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	line-height : 14px;
	font-size: 10px;
}
A.greysmllink:hover {
	COLOR: #cc3300;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	line-height : 14px;
	font-size: 10px;
}
A.greysmllink:visited {
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	line-height : 14px;
	font-size: 10px;
}

/* Basic links */
A {
	COLOR: #6E83A0;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #df0024;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}
A:visited {
	COLOR: #6E83A0;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}


/* 1st level table headings 12px variable */
.table1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: x-small;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* 2nd level table headings 12px variable */
.table2 {
	FONT-SIZE: x-small;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* 3rd level table headings 10px variable */
.table3 {
	FONT-SIZE: xx-small;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* white 12px text bold */
.white12pxbold {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
}

/* toc - next issue link */
.tocnext {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.redsml2 {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;
}


/* styles for lists in article text */
.lcroman{
list-style-type: lower-roman; 
}

.ucroman{
list-style-type: upper-roman; 
}