.transMenu {
	LEFT: -1000px; OVERFLOW: hidden; POSITION: absolute; TOP: -1000px
}
.transMenu .content {
	POSITION: absolute
}
.transMenu .items {
	Z-INDEX: 9002; LEFT: 0px; POSITION: relative; TOP: 0px
}
.top .items {
	
}
.transMenu .background {
	Z-INDEX: 9001; FILTER: alpha(opacity=80); LEFT: 0px; POSITION: absolute; TOP: 0px; opacity: .8;
}
.transMenu .shadowRight {
	Z-INDEX: 9003; FILTER: alpha(opacity=80); WIDTH: 2px; POSITION: absolute; TOP: 3px; opacity: .4
}
.transMenu .shadowBottom {
	Z-INDEX: 9001; FILTER: alpha(opacity=80); LEFT: 3px; POSITION: absolute; HEIGHT: 2px; opacity: .4
}
.transMenu .item {
	FONT-SIZE: 8pt;  CURSOR: pointer; COLOR: #000000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.transMenu .hover {
	BACKGROUND: #003366; COLOR:  #FFffff; FONT-SIZE: 8pt;  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.transMenu .item IMG {
	MARGIN-LEFT: 10px
}
.transMenu .item#active {
	BACKGROUND: #003366; COLOR: #000000; FONT-SIZE: 8pt;  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.transMenu .item#active:hover {
	BACKGROUND: #003366; COLOR: #000000; FONT-SIZE: 8pt;  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
#kash-transmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#kash-transmenu LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#kash-transmenu LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: url(images/mainnav-sep.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#kash-transmenu LI A SPAN {
	
}
#kash-transmenu LI A:hover {
	
}

#kash-transmenu A.jahover {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top; COLOR: #ffffff; TEXT-DECORATION: none
}
#kash-transmenu A.jahover-active {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top; COLOR: #ffffff; TEXT-DECORATION: none
}
A.mainlevel-trans {
	
}
#kash-transmenu A.mainlevel-trans:hover {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-trans:active {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-trans:unknown {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans:hover {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans:active {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top 
}
#kash-transmenu A.mainlevel-active-trans:unknown {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-active-trans-first {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-active-trans-first:hover {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-active-trans-first:active {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-active-trans-first:unknown {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans-first {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans-first:hover {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans-first:active {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-active-trans-first:unknown {
	BACKGROUND: url(images/mainnav-active-bg.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-trans-first:hover {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-trans-first:active {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.havechild-mainlevel-trans-first:unknown {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-trans-first:hover {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-trans-first:active {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
#kash-transmenu A.mainlevel-trans-first:unknown {
	BACKGROUND: url(images/mainnav-sep.gif) #fe8f0c no-repeat right top
}
