@charset "utf-8";
/* CSS Document */
#midtop {
background-image: url( );
background-position:bottom;
color:#000000;
text-align: left;
}
#body1 {
	background-color: #ffffff;
	background-image: url(v1_bg.jpg);
	background-position:top;
	background-repeat:repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#apDiv1 {
	position: relative;
	width:152px;
	height:269px;
	z-index:1;
	overflow: visible;
}
#left02 {
color:#FFFF00;
}
#rightbottom {
color: #990000;
}
#menu01 {
color: #FFFFFF;
text-align:left;
}
#menu01 a {
color: #FFFFFF;
}
td,tr,th{
font-family:Calibri, Tahoma,"Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-size:13px;
}
.centerdiv{ /*IE method of centering a relative div*/
text-align: center;
}

.centerdiv>div{ /*Proper way to center a relative div*/
margin: 0 auto;
}
#leftbar {
	background-image:url(../images/bottom_flame.gif);
	background-position: bottom;
	background-repeat:no-repeat;
}
.header1,h1{
font-family:  Helvetica,"Trebuchet MS",Geneva, Arial,, sans-serif;
font-size:24px;
font-weight: lighter;
text-align:left;
line-height:120%;
color: #1F487C;
}
.header2,h2{
font-family:  Helvetica,"Trebuchet MS",Geneva, Arial,, sans-serif;
font-size:18px;
font-weight: bold;
color: #9D85BF;
}
.header3,h3{
font-family:  Helvetica,"Trebuchet MS",Geneva, Arial,, sans-serif;
font-size:14px;
font-weight: bold;
color: #007A00;
}
#pagetext{
font-family:Calibri,Tahoma,"Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-size:14px;
text-align:left;
color: #000066;
}
#contentonly{
font-family:Calibri,Tahoma,"Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
text-align:left;
color: #000066;
}
#button {
border:2px solid   #0000FF;
padding:2px;
background-color: #000066;
color:#FFFFFF;
font-size:10px;
font-weight:bold;
}
#table-form{
border-collapse:collapse;
}
#table-form .field{
background-color:#666666;
}
#table-form input,#table-form textarea{
background-color: #FFFFCC;
border:1px solid #FF0000;
font-size:12px;
font-family:"Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
border-collapse:collapse;
}
#table-form #button {
border:2px solid  #990000;
padding:2px;
background-color:#FF0000;
color:#FFFFFF;
font-size:10px;
font-weight:bold;
}
#index_00 li {
	list-style-image:url(/images/bullet_star_red_anim.gif);
	position:relative; 
	left: -20px;
}
#whitetext, #whitetext a, #whitetext a:hover,#hitcount {
font-family:"Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
color: #FFFFFF;
}
#page_index {
text-align:left;
}
#pagecount,#hitcount{
color: #003366;
}
#content_text{
text-align:left;
}
#maklumatsemasa li, #beritaterkini li,#tender li, #perkhidmatan li {
	list-style-image:url(/images/bullet_star_red_anim.gif);
	position:relative; 
	left: -20px;
}
#main_index ul li {
list-style-image:url(/images/bullet_star2.gif);
}
#main_index table {
	border-collapse:collapse;
}
#tender_box{
background-image:url(v1_r20_c2.jpg);
background-position:right;
background-repeat:repeat-y;
}
#address{
background-position:bottom;
background-repeat:no-repeat;
background-image:url(address_bg.jpg);
}
#footer_bot, #tP{
font-family:"Myriad Pro","Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#999999; font-size:14px;
}
#jumlah_pelawat, #pelawat_aktif{
font-family:"Myriad Pro","Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-weight:bold;
color: #330066; font-size:14px;
}
#navigation li,#navigation a {
list-style:none; font-weight:bold;
font-size:13px;
position:relative;
color: #000066;
text-decoration:none;
}
.linkmenu {
color: #003366;
}
#table_inside {
border-collapse:collapse;
border:1px solid #003366;
}
.pagetext p, .pagetext header3{
text-align:left;
position:relative;
color:#FFFF00;
left: -20px;
}
p {
	position: static;
	left: -20px;
}
.note {
font-size:8pt;
}
#feedback_form table input, #feedback_form table textarea{
border:1px solid #0066FF;
font-family:"Myriad Pro","Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
 
}
#carian input{
border: none;
font-family:"Myriad Pro","Trebuchet MS",Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
}
#carian #button {
border:1px solid #0066FF;
background-color:#FFCC00;
}
.footer {
font-size:8.5pt;
}
.beritaterkini_box {
	background-image: url(v1_r20_c11.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #F5ed70;
}
.beritaterkini_box {
	background-image: url(v1_r20_c19.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #F5ed70;
}
#main_index #table {
border:1px solid #000000;
border-collapse:collapse;
}
#main_index #table th {
background-color:#000066;
color:#FFFFFF;
padding:2px;
}
.yellowtext{
color:#FFFF00;}
.header{
	font-family:  "Myriad Pro", Calibri, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18pt; 
	color: #990000;
	}
.highlight { background-color: yellow }
#menubar, #menubar a {
color:#FFFF00;

}
#topmenu a{
text-decoration:none;
}
tr.alt td {
	background: #ecf6fc;
}
tr.over td {
	background: #bcd4ec;
}
.download,#download {
border-collapse:collapse;
border:1px solid #000000;
}
.download th, #download th {
background:#000033;
color:white;
}