BODY {
background-image:url(/Images/background.gif);
background-repeat:no-repeat;
background-color:#FFF;
font-family:Verdana, Arial, Helvetica, Tahoma, sans-serif;
margin:0;
}

TD,TH {
font-size:80%;
line-height:145%;
}

/* 

10px 75%
11px 85%
12px 92%
13px 100% (base)
14px 107%
15px 115%
16px 123%
18px 138.5%

*/

P {
margin-bottom:5px;
}

HR {
clear:both;
border:0; 
color:#CCCCCC; 
background-color:#CCCCCC; 
height:1px;
margin:0;
margin-top:5px;

}

H3 { 
font-size:130%; /*17px*/  
color:#000; 
text-decoration: none;
margin:10px 0;
}

H4 { 
font-size:115%; /*15px*/
color:#315A5A; /* teal */
text-decoration: none;
margin-bottom:10px;
}

H5 { 
font-size:100%; /*13px*/
text-decoration: none; 
margin-bottom:8px;
}

A:link,.bluetext {
color:#339;
}

H5, A:visited,.redtext,.resname,.resname2 {
color:#900;
}

A:hover,A:active {
color:#900;
text-decoration:none;
}

a.homenav {
text-decoration:none;
color:#900;
}

a.homenav:hover {
color:#339;
text-decoration:underline;
}

#headernav {
color:#C6FBFC;
font-size:85%;
}

#headernav a {
color:#C6FBFC;
font-size:100%;
}

.botnav {
font-size:70%;
color:#036;
text-decoration:none;
}

#leftnav td {
font-size:70%;
line-height:135%;
}

#newsroom-calendar {
font-size:80%;	
line-height:135%;
}

.rightnav {
font-size:65%;
line-height:125%;
}

.norepeat {
background-repeat:no-repeat;
}

.bold {
font-weight:700;
}

#highlights {
margin:10px auto;
}

.headline {
font-family:Arial, Helvetica, sans-serif;
color:#900;
font-size:138.5%;
font-weight:400;
line-height:130%;
margin:0 0 5px;
}

.searchtext {
font-size:83%;
}

.l {
font-size:107%;
color:#930;
}

.featuretitle {
font-size:123%;
color:#900;
}

.featurebyline {
font-size:107%;
font-style:italic;
line-height:80%;
color:#315A5A;
}

/* Styles used on Research 1/2 and researchers' page */
.resname { 
font-size:150%;
}

.resname2 { 
font-size:115%; 
}

.caltitle {
font-size:115%; 
font-weight:700;
color:#900;
}

.largetext {
font-size:130%;
font-weight:700;
text-decoration:none;
}

.newstext {
font-size:65%;
padding:0 10px;
}

.tableheader {
background:#C0D4D3;
}

.tablebordercolor {
background:#A5B7B6;
}

a.TOC-currentlocation {
color:#900;
text-decoration:none;
font-weight:700;
}

a.TOC {
color:#036;
}

div.TOC {
text-align:center;
}

.greentext {
color:#315A5A;
}

.purpletext {
color:#909;
}

/* image related */

table caption { margin-bottom:10px }

.imageLeft {
float:left;
margin:5px 7px 0 5px !important;
}

.imageleftbullets {
float:left;
margin:5px 20px 0 5px !important;
}

.imageRight {
float:right;
margin:5px 0 0 10px !important;
}

.imagecontainer {
background:url(/images/shadowAlpha.png) no-repeat bottom right !important;
padding:0;
}

.innerbox {
position:relative;
bottom:6px;
right:6px;
border:1px solid #999;
margin:0;
padding:4px;
}

.innerbox p {
font-size:14px;
margin:3px;
}

.caption {
text-align:left;
font-size:65%;
font-style:italic;
color:maroon;
}

.smalltext {
font-size:75%;
}

.midtext {
font-size:85%;	
}

.newsfeatures {
clear:both;
padding:0px 0px 0px 10px;
border:0;
}

/* divider in HOME/Highlights */
.double {
clear:both;
color:#FFF;
background:#FFF;
background-image:url(/Images/hrbg.jpg);
background-repeat:repeat-x;
border:none;
width:100%;
height:10px;
margin-top:10px;
padding:0 0 10px;
}

/* FHT related */
div.savebox {
width:600px;
background-color:#F3E29C;
border:1px solid #C60;
padding:20px;
}

#viewReports {
background:#ABC2DD;
}

#viewReports td.bg1 {
background-color:#EEE;
padding:10px;
}

#viewReports td.bg2 {
background-image:url(/images/viewreportsbg.jpg);
background-repeat:repeat-x;
padding:10px;
}

.progressArea {
float:left;
border:1px solid #C93;
background-color:#EFF7FE;
width:300px;
padding:10px;
}

.tablecontent,#viewReports td {
background:#FFF;
}

#gwastable td, #gwastable th {
font-size:71%;
line-height:125%;
}