h3 {margin: 0px 0px 10px 0px; }

.glossymenu{
margin: 0px;
padding: 0;
width: 165px; /*width of menu*/
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}

.glossymenu a.menuitem{
background: white url(/images/glossyback2.gif) repeat-x bottom left;
/*background-color: white;*/
font: bold 13px Verdana, Helvetica, sans-serif;
color: #990000; 
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 4px 0;
padding-left: 5px;
text-decoration: none;
border-bottom: 1px solid #9A9A9A;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: #990000; 
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
/*background-image: url(glossyback2.gif);*/
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid #9A9A9A;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 11px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
background:#EBEBEB;
}

.glossymenu div.submenu .redborder {border:1px dashed #990000; margin:10px 0px 0px 0px }