[global]
DEFAULT_TEMPLATE=admin-microcluster
ENABLE_EXPERIMENTAL=True

[cluster admin-microcluster]
AVAILABILITY_ZONE=us-east-1a
CLUSTER_SIZE=1
CLUSTER_USER=sgeadmin
KEYNAME=aquarius2
NODE_IMAGE_ID=ami-999d49f0
NODE_INSTANCE_TYPE=t1.micro

[aws info]
AWS_ACCESS_KEY_ID=AKIAJUP5Z626SQIATKWQ
AWS_SECRET_ACCESS_KEY=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
AWS_USER_ID=728213020069

[key aquarius2]
KEYNAME=aquarius2
KEY_LOCATION=/home/syoung/.ssh/id_rsa

