

.cwp-checklist{clear:both;list-style:none url(../../../Resources/css-components/cwp/checklist_checkbox.gif) !important;}
.cwp-checklist li{margin-left:20px !important;}
.cwp-checklist ul{list-style:disc none;}
.cwp-checklist ol li{list-style-type: decimal; list-style-image:none;}
.cwp-checklist .task_comment {color:#CC0000;}



.cwp-howto {list-style-position:outside !important;margin-left:30px !important;}
.cwp-howto ol {list-style-position:outside !important;}
.cwp-howto ul {list-style-position:outside !important;}

.cwp-chrome01 {clear:both;font-size:93%;margin-bottom:1.5em;border-left: 1px solid #e7e2d7;border-bottom: 1px solid #e7e2d7;background: #fffaee url(../../../Resources/css-components/cwp/chrome01_background.gif) top right no-repeat;padding: 15px;}
.cwp-chrome01 h2 {font-size: 136%;color:#669834;margin-bottom:10px;border-bottom:1px dotted #669834;padding-bottom:5px;}
.cwp-chrome01 h3 {font-size: 100%;margin-bottom:0;}
.cwp-chrome01 dl dt {}
.cwp-chrome01 dl dd {padding-left:0px;}
.cwp-chrome01 ul {padding-left:0px;list-style:none none;}
.cwp-chrome01 ul li{margin:0.5em 0px 0em 0px;}
.cwp-chrome01 a{text-decoration:none;}
.cwp-chrome01 a:hover{text-decoration:underline;}

.cwp-chrome02{clear:both;margin-bottom:1.5em;}
.cwp-chrome02 h2{font-size:136%;background:#669834 url(../../../Resources/css-components/cwp/chrome02_background.gif) top right no-repeat;color: #fff;padding:5px 15px;margin-bottom:0;}
.cwp-chrome02 h3{font-size:110%;}
.cwp-chrome02 div.cwp-pane {background:#fffaee;border:1px solid #e7e2d7;border-top:1px dashed #669834;padding:15px;}
.cwp-chrome02 dl dd {padding-left:0px;}

.cwp-chrome03 {clear:both;margin-bottom:1.5em;}
.cwp-chrome03 h2 {font-size: 152%;color:#669834;margin-bottom:10px;border-bottom:1px dotted #669834;padding-bottom:5px;}
.cwp-chrome03 h3 {font-size: 100%;margin-bottom:0;}
.cwp-chrome03 dl dt {font-weight:normal;}
.cwp-chrome03 dl dd {padding-left:0px;}
.cwp-chrome03 ul {padding-left:0px;list-style:none;}
.cwp-chrome03 ul li{margin-left:0px;  list-style-image: none; }

.cwp-chrome04 {clear:both;margin-bottom:1.5em;}
.cwp-chrome04 h2 {font-size:167%;margin-bottom:.5em;display:none;}
.cwp-chrome04 h3 {font-size: 122%;margin-bottom:0;}
.cwp-chrome04 img {float:right;clear:right;margin-left:15px;}

.cwp-chrome05 {clear:both;margin-bottom:1.5em;}
.cwp-chrome05 h2 {font-size: 152%;color:#669834;margin-bottom:10px;border-bottom:1px dotted #669834;padding-bottom:5px;}
.cwp-chrome05 dl{padding-left:15px;}
.cwp-chrome05 dl dt{font-weight:normal;display: list-item;list-style:none url(../../../Resources/css-components/cwp/chrome05_bullet.gif) outside;}
.cwp-chrome05 dl dd{padding-left:0px;}
.cwp-chrome05 ul {list-style:none url(../../../Resources/css-components/cwp/chrome05_bullet.gif) outside;}
.cwp-chrome05 ul li {margin:0.5em 0px 0em 15px;}
.cwp-chrome05 ul li:first-child{margin-top:0em;}

.cwp-chrome06 {clear:both;margin-bottom:1.5em;}
.cwp-chrome06 h2 {font-size:136%;margin-bottom:.5em;}
.cwp-chrome06 h3 {font-size: 122%;color:#669834;margin-bottom:10px;margin-top:20px;border-bottom:1px dotted #669834;padding-bottom:5px;}
/* why is this here? */
/* .cwp-chrome06 img {float:right;clear:right;margin-left:15px;} */
.cwp-chrome06 ul {padding-left:0px;list-style:none;}
.cwp-chrome06 ul li{margin-left:0px;margin-top:4px;}

.cwp-chrome07 {clear:both;margin-bottom:1.5em;border-right: 1px solid #d4cdcd;border-bottom: 1px solid #d4cdcd;background: #f2ebeb url(../../../Resources/css-components/cwp/chrome07_background.gif) top left no-repeat;}
.cwp-chrome07 h2 {font-size: 136%;border-bottom: 1px solid #d4cdcd;padding:5px 10px 5px 10px;margin:0px 0px -1px 0px;}
.cwp-chrome07 div.cwp-pane {padding:0px 15px;margin: 15px 0px;}
.cwp-chrome07 dl dt {}
.cwp-chrome07 dl dd {padding-left:0px;}
.cwp-chrome07 ul {padding-left:0px;}

.cwp-chrome08 {clear:both;margin-bottom:1.5em;background: #E4F5FD url(../../../Resources/css-components/cwp/chrome08_top_left.gif) top left no-repeat;}
.cwp-chrome08 h2 {font-size: 136%;padding:10px 15px 10px 15px;margin:0px 0px -1px 0px;background: transparent url(../../../Resources/css-components/cwp/chrome08_top_right.gif) top right no-repeat;}
.cwp-chrome08 div.cwp-pane {padding:0px 15px 15px 15px;margin: 0px 0px;}
.cwp-chrome08 dl dt {}
.cwp-chrome08 dl dd {padding-left:0px;}
.cwp-chrome08 ul {padding-left:0px;}

div.cwp-sticker {
float:right;
font-size:90%;
line-height:1em;
margin-top:-2.5em;
padding-right:15px;
text-align:right;
}
div.cwp-sticker a {
color:#D4D4D4;
text-decoration:none;
}
div.window sticker a:hover {
color:#FFFFD4;
text-decoration:underline;
}

.cwp-alert {background: url(../../../Resources/css-components/cwp/alert.gif) 5px 5px no-repeat;padding:5px 5px 6px 30px;color:#f00;margin-bottom:15px;}


.cwp-tabs {
border-bottom:1px solid #c2c2c2;
padding:15px 0x 0px 0px;
font-family:"Trebuchet MS",Tahoma,Verdana,sans-serif;
font-size: 110%;
font-weight: bold;
margin-bottom:15px;
}
.cwp-tabs:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.cwp-tabs {display: inline-block;}
html[xmlns] .cwp-tabs {display: block;}
* html .cwp-tabs {height: 1%;}

.cwp-tabs ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:10px 10px 0pt 50px;
}
.cwp-tabs li {
display:inline;
position:relative;
z-index:40;
margin:0pt;
padding:0pt;
}
.cwp-tabs a {
background:transparent url(../../../Resources/css-components/cwp/tab_left.gif) no-repeat scroll left top;
float:left;
margin:0pt 3px 0px 0px;
padding:0pt 0pt 0pt 10px;
text-decoration:none;
margin-bottom:-1px;
}
.cwp-tabs li.alert a {
background:transparent url(../../../Resources/css-components/cwp/tab_left_alert.gif) no-repeat scroll left top;
padding:0pt 0pt 0pt 30px;
}
.cwp-tabs a span {
background:transparent url(../../../Resources/css-components/cwp/tab_right.gif) no-repeat scroll right top;
color:#2626b8;
display:block;
float:left;
padding:5px 15px 4px 6px;
}
.cwp-tabs a span {
float:none;

color: #fff;
}
.cwp-tabs a:hover span {
color:#ff0000;
}
.cwp-tabs li.active {}
.cwp-tabs li a:hover, .cwp-tabs li.active a {
background-position:0% -50px;
border-bottom:1px solid #fff;
position:relative;
z-index:41;
}
.cwp-tabs a:hover span, .cwp-tabs li.active a span {
background-position:100% -50px;
color: #00f;
}

.cwp-tabs li.cwp-minor-tab {float:right;}
.cwp-tabs li.cwp-minor-tab a {background:transparent url(../../../Resources/css-components/cwp/tab_left_minor.gif) no-repeat scroll left top;}
.cwp-tabs li.cwp-minor-tab a span {background:transparent url(../../../Resources/css-components/cwp/tab_right_minor.gif) no-repeat scroll right top;}
.cwp-tabs li.cwp-minor-tab a:hover {background-position:0% -50px;}
.cwp-tabs li.cwp-minor-tab a:hover span {background-position:100% -50px;}

.cwp-alphaindex {margin-bottom:15px;}
.cwp-alphaindex h3{font-size:100%;display:inline;}
.cwp-alphaindex ul {display:inline;font-weight:bold;}
.cwp-alphaindex ul li {display:inline;}
.cwp-alphaindex ul li a {text-decoration:none;}
.cwp-alphaindex ul li a:hover {text-decoration:underline;}

    
/* Back to top.  Goes with the glossary */
.cwp-btt a {font-size:80%;color:#777;text-decoration:none;}
.cwp-btt a:visited {color:#777;}
