/* All Hail the Suckerfish - http://www.htmldog.com/articles/suckerfish/dropdowns/ */

#nav {
	margin: 0;
	padding: 0;
}

/*
#nav li a, #nav li a:link, #nav li a:active, #nav li a:hover, #nav li a:visited {
	background: transparent;
	color: #fff;
	padding: 10px 15px 3px 15px;	
	font-weight: bold;
	text-decoration: none;
	width: auto;
	display:inline-block;
	
}
*/

#nav li a:link, #nav li a:hover, #nav li a:active, #nav li a:visited {
	background: transparent;
	color: #fff;
	padding: 10px 15px 3px 15px;	
	font-weight: bold;
	text-decoration: none;
	width: auto;
    display:block;
}


#nav, #nav ul {
	float: left;
	height: 28px;
	width: auto;
	list-style: none;
	line-height: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	z-index: 80;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
}

#nav a {
	/* display:inline-block; */
	width: auto;
	color: #fff;
	text-decoration: none;
}



#nav li {
	float: left;
	width: auto;
	text-align: middle;
	vertical-align: center;	
	border-right: 1px solid #5A74BD;
}
#nav li a {
	/* display: block; */
	height: 21px;
}

/* Menu Box */
#nav li ul {
	font-family: arial, helvetica, sans-serif;
	font-size: .8em;
	background-color: #1C2D7D;
	position: absolute;
	left: -999em;
	height: auto;
	width: 17em;
	font-weight: normal;	
	border: none;
	margin: 0 0 0 0;
	text-transform: none;
	padding-bottom: 15px;
	border: 0;
}

#nav li li {
	width: 17em;
}

#nav li ul a {
	color: #fff;
	width: auto;
	display:block;
}
#nav li ul a.last {
	border: none;
}
/* third-and-above-level lists */
#nav li ul ul {
	font-size: 1em;
	margin: -2.25em 0 0 17em;
	border-top: 1px solid #8DA1D1;
	border-left: 1px solid #8DA1D1;
	border-bottom: 1px solid #18276C;
	border-right: 1px solid #18276C;	
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}
#nav li:hover, #nav li.sfhover {
	background-color: #1C2D7D;
}
#nav li ul li {
	border: 0;
}
#nav li ul li a, #nav li ul li a:link {
	height: auto;
}
#nav li ul li:hover {
	background-color: #4969B2;
}

#nav {position: relative; height: 29px;}

#nav #panelFirst:hover {
	background: #4969B2 url(../img/bg-menu-first.gif) top left no-repeat;
}
#nav #panel2c ul li a, #nav #panel3c ul li a, 
#nav #panel4c ul li a, #nav #panel5c ul li a, 
#nav #panel6c ul li a,#nav #panel7c ul li a,
#nav #panel8c ul li a,#nav #panel9c ul li a {
	border: 0;
}

/* Extra Wide 
#nav li#panel6c ul { width: 20em; }
#nav li#panel6c ul li { width: 100%; }
*/

/* Sticky IE Menus Fix */
#nav li:hover, #nav li.hover {
    position: static;
}

#nav li ul li a.daddy {
	background: url(../img/rightarrow2.html) center right no-repeat;
}

/* Vertical Drop Nav */
#nav2, #nav2 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 150px;
}

#nav2 li { /* all list items */
	position : relative;
	float : left;
	line-height : 1.25em;
	margin-bottom : -1px;
	width: 150px;
}

#nav2 li ul { /* second-level lists */
	position : absolute;
	left: -999em;
	margin-left: 148px;
	margin-top : -2em;
	border-top: 1px solid #FCED9A;
	border-left: 1px solid #FCED9A;
	border-right: 1px solid #C4A806;
	border-bottom: 1px solid #C4A806;
}

#nav2 li ul ul { /* third-and-above-level lists */
	left: -999em;
}

#nav2 li a {
	width: 11em;
	w\idth : 10em;
	display : block;
	color : black;
	text-decoration : none;
	background-color : #FFFDF4;
	padding : 0 0.5em;
}

#nav2 li ul li a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#nav2 li a:hover {
	color: white;
	background-color: black;
}

#nav2 li:hover ul ul, #nav2 li:hover ul ul ul, #nav2 li.sfhover ul ul, #nav2 li.sfhover ul ul ul {
	left: -999em;
}

#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li li li:hover ul, #nav2 li.sfhover ul, #nav2 li li.sfhover ul, #nav2 li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}
	
#nav li a.daddy {
	background: url(../img/rightarrow1.html) center right no-repeat;
}

#nav #panel2c ul
{
	width: 25em;
}

#nav #panel2c ul li
{
	width: 25em;
}

#nav #panel5c ul
{
	width: 28em;
}

#nav #panel5c ul li
{
	width: 28em;
}

#nav #panel7c ul
{
	width: 20em;
}

#nav #panel7c ul li
{
	width: 20em;
}

#nav #panel9c ul
{
	width: 22em;
}

#nav #panel9c ul li
{
	width: 22em;
}

/* funding */
#nav #panel3c ul
{
	width: 10em;
}

#nav #panel3c ul li
{
	width: 10em;
}

/* Industry */
#nav #panel6c ul
{
	width: 17em;
}

#nav #panel6c ul li
{
	width: 17em;
}

/* Forms */
#nav #panel-forms ul
{
	width: 16em;
}

#nav #panel-forms ul li
{
	width: 16em;
}

/* Proposals */
#nav #panel4c ul
{
	width: 29em;
}

#nav #panel4c ul li
{
	width: 29em;
}