/* Academic Computing Services
 * Styles for Print - print.css 
 * Note: Selectors semantically ordered, declarations alphabetical
 */

@media print
{
    .printbegone /* and others */
    {
        display: none;
    }

	.printhomepage
	{
		margin-left:15px;
		margin-right: 19px;
		width:100%;
	}
	
	p
	{
		margin: 0;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	
	ol,ul
	{ 
	margin-top: 5px;
	padding-top: 0;
	}
	
	h1,h2,h3,h4,h5,h6
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	}
	
	h1
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17pt;
	color: #4965B2;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20pt;
	margin-top: 12pt;
	}

	h6
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17pt;
	color: #4965B2;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20pt;
	margin-top: -15pt;
	line-height: 14pt;
	}

	h2
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	margin: 0pt;
	}

	h3
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #4969B2;
	margin-bottom: 0pt;
	margin-top: 0pt;
	}
	
	h5
	{
	Font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1D2D7D;
    margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
	}

#content a { 
	border: 0;
	color: #327CC5; 
	text-decoration: none;
}
#content a:link {
	border-bottom: 1px solid #528BC5;
	color: #353799;
	cursor: pointer;
}
#content a:visited { 
	border-bottom: 1px solid #528BC5;
	color: #353799;
}
#content a:active {
	color: #353799;
}
#content a:hover {
	background: #EAF0FF;
	border-bottom: 1px solid #353799;
	color: #004386;
	cursor: pointer;
	outline: none;
}
#content {
	list-style: none url("images/blue_bullet.gif") outside;
	width: inherit;
	font-size: 10pt;
}
#page .canvas #centercolumnwide #contentbox #content td {
	padding-right: 0px;
	padding-left: 0px;
	x-cell-content-align: top;
	border-left-color: #e9e9e9;
	border-left-width: 3px;
	border-left-style: Solid;
	border-top-color: #e9e9e9;
	border-top-width: 3px;
	border-top-style: Solid;
	border-right-color: #e9e9e9;
	border-right-width: 3px;
	border-right-style: Solid;
	border-bottom-color: #e9e9e9;
	border-bottom-width: 3px;
	border-bottom-style: Solid;
}

#page .canvas #centercolumnwide #contentbox #content li {
	line-height: 16pt;
}

#page .canvas #centercolumnwide #contentbox #content table li {
	margin-top: 0px;
	/* margin-right: -20px; */
	margin-bottom: 0px;
	margin-left: -18px;
	line-height: 16pt;
}

/*
#page .canvas #centercolumnwide #contentbox #content table p {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 16pt;
}

#page .canvas #centercolumnwide #contentbox #content ol {
	list-style-type: decimal;
	list-style-image: none;
}
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	line-height: normal;
	margin:0;
	padding:0;
	width:100%;
	
}
}

/*
body {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
    margin: 0;
	padding: 0;
    
}

#skipnav { display: none; }
h1 { 
	font-size: 1.4em;
	display: block; 
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 0 0 5px 0;
}
h2 {
	font-size: 1.2em;
	display: block; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0 0 5px 0;
}
h3 {	
	border-bottom: 1px solid #ccc; 
	padding-bottom: 5px; 
	margin-bottom: 5px;
}
h4 {
	padding-bottom: 0; 
	margin-bottom: 0; 
}
#contentleft {
	background: transparent;
	float: left;
	height: 100%;
	margin-right: 10px;
	width: 300px;
}
#contentright {
	background: transparent;
	float: left;
	height: 100%;
	margin-right: 10px;
	width: 300px;
}
#header img, #menu, #highlight, #sidebar { 
	display: none; 
}
#footer {
	border-top: 1px dashed #ccc;
	clear: both;
	padding-top: 20px;

}
.smap {
	clear:both;
	display: block;
	height: 396px;
	width: 366px;
}
*/