/* Academic Computing Services
 * Styles for Screen - screen.css 
 * Note: Selectors semantically ordered, declarations alphabetical
 */
 
/* Main Styles */
html {    
	font-size: 62.5%;
	margin: 0 0 1px 0;
	height: 100%;
	padding: 0;
}
body {
	background: #4969B2 url("../img/bg.gif") top repeat-x;
	/*	background: #4969B2 url(../img/bg-content.gif) top center repeat-y fixed; */
	color: #104883;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	height: 100%;
	line-height: 1.6em;
	margin:0;
	padding:0;
	width:100%;
	
}

tr.canvas {
	/* background: transparent url(../img/bg.gif) top repeat-x; */
	min-height: 100%;
}

#canvas {
	/* background: transparent url(../img/bg.gif) top repeat-x; */
	min-height: 100%;
}
* html #canvas tr.canvas {
	height: 100%;
}
#blueheader {
	background: transparent url("../img/bg.gif") top repeat-x;

}
#page {	
	/* background: #4969B2 url(../img/bg-content.gif) top center repeat-y fixed; */
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 974px;
}
/* Accessibility - Skip Navigation */
#skipnav {
	position: absolute;
	top: 0;
	z-index: 2;
}
	#skipnav a{
		background:transparent;
		border:none;
		color: #fff;
		margin-left:-999px!important;
		margin-left:5px;
		margin-top:10px;
		padding-top:10px;
		text-decoration:none;
	}
	#skipnav a:focus {
		background:#528BC5;
		color:#fff;
		margin-left:0!important; 
		padding:3px;
	}
#header {
	background: transparent;
	height: 101px;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#search {
	float: right;
	background: transparent url("../img/bg-searchbig.html") top center no-repeat;	
	height: auto;
	margin: auto auto;
	padding-top: 20px;
	width: 320px;
}
#menu {
	background: transparent url("../img/bg-menu_gold.gif") top left no-repeat;
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	height: 30px;
	padding: 7px 0;
	text-transform: uppercase;
}

#menu2 {
	background: transparent url("../img/bg-menu_gold.gif") top left no-repeat;
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	height: 43px;
	padding: 1px 0 0 0;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu ul li {
	float: left;
	list-style: none;
}
#menu ul li a, #menu ul li a, #menu ul li a:active, #menu ul li a:hover, #menu ul li a:visited {
	background: transparent;
	border: 0;
	border-right: 1px solid #5A74BD;
	color: #fff;
	padding: 3px 15px;	
	font-weight: bold;
}
#menu ul li a:hover {
	border-bottom: 2px solid #fff;
}
.hi-img {
	background: #efefef;
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
	clear: both;
	display: block;
	margin-top: 10px;
	padding: 10px;
	text-align: center;	
}
#highlight {
	background: transparent url("../img/bg-hi.gif") top repeat-x;
	height: 210px;
	padding: 25px;
}
	
#sidebar {
	background: #fff;
	float: right;
	width: 214px;
}
	#sidebar ul {
		list-style: none;
		/* margin: 0 0 20px 0; */
		padding: 0;		
	}
	
	#sidebar li {
		list-style: none;
		list-style-image: none;
	}
	
	#sidebar ul li a {
		background: #fff;
		border-bottom: 1px solid #eee;
		color: #104983;
		display: block;
		padding: 3px;
		width: 208px;
	}
	#sidebar ul li a:link, #sidebar ul li a:visited { 
		color: #528BC5;
		font-weight: bold;
		text-decoration: none;
	}
	#sidebar ul li a:active { 
		color: #72B4F5;
		display: block;
		font-weight: bold;
		text-decoration: none;
	}
	#sidebar li a:hover {	
		background: #528BC5;
		color: #fff;
		display: block;
		font-weight: bold;
		text-decoration: none;
	}
	
#contentbox {
	/* background: #fff url(../img/bg-content.gif) top center repeat-y; */
	clear: both;
	color: #000000 /* #444 */;
	display: block;
	/* float: left;	*/
	min-height: 100%;
/*	padding: 25px;
	width: 924px; */
}

#content {
	height: 100%;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
}
#contentwide {
	background: #fff;
	float: left;
	height: 100%;
	margin-right: 15px;
	width: 615px;
}

#columnfront {
	background: transparent;
	float: left;
	height: 100%;
	width: 449px;
}
#columnfront.first {	
	margin-right: 20px;
}
#columnfront.news {
	color: #fff;
	line-height: 1.2em;
}
#columnfront.news ul li {
	margin-bottom: 10px;
}

#columnfront.news a:link, #columnfront.news a:visited {	
	border-bottom: 1px solid #A7B7ED;
	color: #fff;
}
#columnfront.news a:hover {
	background: transparent;
	border-bottom: 1px solid #fff;
}

#footer {
	background: #f3f3f3 url("../img/bg-footerbar-thin.gif") top repeat-x;
	clear: both;
	color: #555;
	font-size: 0.9em;
	height: 95px;
	line-height: 1.2em;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	/* width: 944px; */
}

#footer
{
	position: relative;
	margin: 0 0 0 0;
	text-align: center;
}

	/* A CSS hack that only applies to IE -- specifies a different offset for the footer */

	* html #footer
	{
		margin-top: 0em /* -4em; */
	}


.footerLeft {
	float: left;
}
.footerRight {
	float: right;
	height: 50px;
	width: 200px;
	text-align: center;
}
/* General Styles */

#content a { 
	border: 0;
	color: #327CC5; 
	text-decoration: none;
}
#content a:link {
	border-bottom: 1px solid #528BC5;
	color: #353799;
	cursor: pointer;
}
#content a:visited { 
	border-bottom: 1px solid #528BC5;
	color: #353799;
}
#content a:active {
	color: #353799;
}
#content a:hover {
	background: #EAF0FF;
	border-bottom: 1px solid #353799;
	color: #004386;
	cursor: pointer;
	outline: none;
	/* font-size: 10pt; */
	font-weight: normal;
	text-align: center;
}
.features a, a:link, a:hover {
	background: transparent;
	border: 0;
}
img {
	border: 0;
	margin: 0;
	padding: 0;
}
ol,ul { 
	margin-top: 5px;
	padding-top: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17pt;
	color: #4965B2;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20pt;
	margin-top: 12pt;
}
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17pt;
	color: #4965B2;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20pt;
	margin-top: -15pt;
	line-height: 14pt;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	margin: 0pt;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #4969b2;
	margin-bottom: 0pt;
	margin-top: 0pt;
}
h5   {
	Font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1D2D7D;
    margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
}
#columnfront.news h3 {
	border-bottom: 1px solid #fff;
	color: #fff;
}

h4 {
	border-bottom: 1px dotted #cbc397;
	font-size: 1.2em;
	font-weight: normal;
	margin: 10px 0 0 0; 
	padding: 0;	
}

h5 {
	font-size: 11pt;
	font-weight: bold;
	padding: 0;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.printOnly {
    display: none;
}

/* Dropdown Menus */
#dropmenudiv{
position:absolute;
border:0;
border-bottom-width: 0;
font-family: 'Trebuchet MS', sans-serif;
font-size: 10pt;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
border-bottom: 2px solid #4751B4;
color: #fff;
width: 100%;
display: block;
text-indent: 15px;
padding: 4px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
color: #fff;
background: #5164B9;
border-bottom: 2px solid white;
}

/* Sub Styles */
#menusub h3{
	color: #3E41B0;
	border-bottom: 1px solid #3E41B0;
}
#menusub{
	background: #fffdf4;
	float: left;
	width: 150px;
	height: auto;
	border: 0px none #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0px;
}
	/*
	#menusub ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
		}
			
	#menusub li {
		margin: 0;
		list-style: none;
		list-style-image: none;
	}
	*/
	
	#menusub li a {
		border-bottom: 1px solid #eee;
		display: block;
		padding: 5px 5px 5px 0;
		color: #6F6B53;
		text-decoration: none;
		width: 100%;
		}
		
	#adminnav li a {
		display: inline;
		width: 30px;
		font-size: .8em
	}

	html>body #menusub li a {
		width: auto;
		}

	#menusub li a:hover {
		background: #FFF5CB;
		border-bottom: 1px solid #CBC397;
		color: #104883;
		}
#contentboxsub {
	float: left;
	width: 767px;
	height: auto;
	margin: 20px 0 0 0;
	padding-bottom: 50px;
}
#maincolsub {
	float: left;
	height: auto;
	padding: 0;
	width: 560px;
}
#maincolsub.faculty {
	width: 725px;
}
.facinfo {
	font-size: .9em;
	line-height: 1.2em;
	float: left;
	width: 150px;
}
.facbody {
	float: right;
	width: 555px;
	padding-top: 0;
}
#sidebarsub {
	float: right;
	height: auto;
	width: 150px;
	padding: 15px;
	background: #fffdf4;	
	border: 1px solid #fccd37;
}

/* Forms */
.form {
	margin:0;
	padding:0;
}
.searchlinks{
	color: #fff;
	float: left;
	width: auto;
	clear: left;
}
.searchlinks a, .searchlinks a:link, .searchlinks a:visited, 
.searchlinks a:active { color: #fff; border: none; }
.searchlinks a:hover {background: transparent; border-bottom: 1px solid #fff; }


.div_texbox {
	width: 220px;
	background:transparent;
	clear: right;
	float:right;
	height:35px;
	padding:0;
	text-align: right;
}

.textbox {
	background-color:#eee;
	height: 16px;
	width:150px;
	font:normal 15px Arial;
	color: #666;
	padding:3px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC5DF;
}
.textbox:focus, .textbox:hover {
	background-color:#fff;
	color:#000;
}

.button_div {
	float: right;
	height:15px;
	margin:0;
	padding:0;
}
.buttons {	
	background: #40B53B;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC5DF;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	height: 20px;
	width: 30px;
}
.buttons:active {
	background-color:#08AAE6;
	outline: none;
}

::-moz-selection{
background: #FFF4B5;
color: #304A97;
} 

::selection {
background: #FFF4B5;
color: #304A97;
}

/* Styles for Tabs */
div #Tabber { margin: 0 0 15px 0; padding-top: 3px; }
#Tabber ul.tablist {
	padding: .4em 0;
	margin: 0;
	border-bottom: 1px solid #778;
	font: bold 12px Verdana, sans-serif;
	}
#Tabber ul.tablist li {
	list-style: none;
	margin: 0;
	display: inline;
	}
#Tabber ul.tablist li a {	
	padding: .4em 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #B9CFE6;
	text-decoration: none;
	}
#Tabber ul.tablist li a:hover {
	color: #000;
	background: #9cf;
	border-color: #227;
	}
#Tabber ul.tablist li.current a {
	background: white;
	border-bottom: 1px solid white;
	}

/* Tables */
table.contact {
	border-width: 0px;
	border-spacing: 2px;
	border-style: solid;
	border-color: #d3d3d3;
	border-collapse: separate;
	background-color: white;
}
table.contact th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	background-color: white;
}
table.contact td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	background-color: white;
}
	
/* Action Links */
#actionLinks {
	margin: 0;
	padding: 0;
}
#actionLinks li {
	margin-bottom: 0;
}
#actionLinks li,#actionLinks li a, #actionLinks li a:link, #actionLinks li a:visited, #actionLinks li a:active {
	color: #353B86;
	background: #fff url("../img/ql-bg.gif") 0 0 no-repeat;
	border: 0;
	display: block;
	float: left;
	list-style: none;
	list-style-image: none;
	padding: 0;
	width: 280px;
	height: 68px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#actionLinks img { float: right; }
#actionLinks span { 
	font-size: 1.6em; 
	font-family: Arial, sans-serif; 
	line-height: 1.2em;
	float: left;
	padding: 0;
	margin: 20px auto 0 auto;
	width: 100%;
	height: auto;
	}
#actionLinks li a:hover {
	background: #fff url("../img/ql-bg.gif") 0 -68px no-repeat;
	color: #fff;
	text-decoration: underline;
	border: 0;
}
/* Hacks */

/* for Internet Explorer 6 */
/*\*/
* html #canvas {
	height: 100%;
}

* html #tabbox {
	height: 550px;
}


#centercolumn {
	background: #fff;
	float: left;
	height: 100%;
	margin-right: 1px;
	margin-left: 1px;
	width: 615px;
}

#centercolumnwide {
	background: #fff;
	/* float: left; */
	height: 100%;
	margin-right: 1px;
	margin-left: 1px;
	width: 793px;
}

.sidecolumn {
	width:178px;
	/* float:left; */
}
/* Page Nav */
.cwp-page-nav{
	font-size: 93%;
	padding: 5px 5px 15px 0px;
	background: #FFFDF4;
	overflow: hidden;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fbcc36;
	border-right-color: #fbcc36;
	border-bottom-color: #fbcc36;
	border-left-color: #fbcc36;
}
.cwp-page-nav h4{
/*text-transform:uppercase;*/	font-size: 116%;
	font-weight: bold;
	color: #DBAA27 /* #669834 */;
	margin-left: 15px;
	margin-bottom: 0.25em;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
}
.cwp-page-nav a, .cwp-page-nav a:link, .cwp-page-nav a:visited {
	text-decoration:none;
	color: #0000EE;
}
.cwp-page-nav a:hover {
	color: #DBAA27;
}
/*
.cwp-page-nav a:hover{text-decoration:underline;color:#f00;}
.cwp-page-nav a:visited{color:#800080;}
.cwp-page-nav li span{font-weight:bold;}
*/
.cwp-page-nav ul{margin-bottom:15px;font-size:93%;/* margin-left:-5px; */}
.cwp-page-nav ul ul{margin-bottom:0px;font-size:100%;}
/*.cwp-page-nav ul li{list-style:none url("images/blue_bullet_triangle.gif") outside                !important;margin-top:.5em;}*/
.cwp-page-nav ul li{
	margin-top:.5em;
	list-style:none;
	background: url("images/blue_bullet_triangle.gif") no-repeat left 7px;
	line-hieght: 11pt;
	padding-left: 10px;
	margin-left: -15px;
	zoom: 1; /* trigger hasLayout so that the background image shows up when line wraps to second line */
	/* See: http://www.satzansatz.de/cssd/onhavinglayout.html
		http://www.cayenne.co.uk/ie7/disappearing-content.html
	*/
}
.cwp-page-nav p{margin-left:15px;margin-bottom:15px;font-size:93%;}

.print-button{float:right;}
.print-button a, .print-button a:active, .print-button li a:hover, .print-button li a:visited {
	background: transparent;
	color: #fff;
	padding: 4px 15px 8px 15px;	
	font-weight: bold;
	text-decoration: none;
	width: auto;
}
.print-button {text-transform:uppercase;display:inline;}
.print-button a{font-family:"Trebuchet MS",sans-serif;letter-spacing:0.5px;font-weight:bold;border-left: 1px solid #5A74BD; line-height:2.3em; }

/* global content classes */
.access-aid {text-indent:-1000em;height:0px;display:block;float:left;padding:0px;margin:0px;}

/* Search Forms */
#cwp-search{padding:0;clear:right;color:#fff;background:url("images/search_bottom_left.gif") bottom left no-repeat;width:17.3em;margin:20px 0px 5px 0px;float:right;}
#cwp-search a{color:#fff;text-decoration:none;}
#cwp-search form{border-right:1px solid #FFCC00;padding-bottom:20px; clear:both;position:relative;top:-1px;font-size:85%;}
#cwp-search fieldset{padding:0px 15px;}
#cwp-search legend{font-weight:bold; }
#cwp-search form.first{}
#cwp-search form.last{border:none;background:url("images/search_bottom_right.gif") right bottom no-repeat;}
#cwp-search input.text-field{ width:8.7em; }
#cwp-search input.image-button{vertical-align:bottom;}
#cwp-search ul{display:none;margin:0px;padding:0;}
#cwp-search ul li{margin:0px;display:block;float:left;background:#40509B url("images/search_inactive_left.gif") top left no-repeat;margin-right:5px;position:relative;}
#cwp-search ul li span{padding:5px;display:block;background:url("images/search_inactive_right.gif") top right no-repeat;zoom:1;}
#cwp-search ul li.active{background:#6573BC url("images/search_active_left.gif") top left no-repeat; z-index:1; }
#cwp-search ul li.active span{background: url("images/search_active_right.gif") top right no-repeat;zoom:1;}
#cwp-search.with-js ul{display:block;}
#cwp-search.with-js{background:none;}
#cwp-search.with-js legend{display:none;}
#cwp-search.with-js form{display:none;}
#cwp-search.with-js .cwp-search-tl{padding:7px 0px 0px 0px;background:url("images/search_top_left.gif") top left no-repeat;}
#cwp-search.with-js .cwp-search-tr{padding:0px 0px 0px 0px;background:url("images/search_top_right.gif") top right no-repeat;}
#cwp-search.with-js form.first .cwp-search-tr{padding:7px 0px 0px 0px;}
#cwp-search.with-js fieldset{padding:5px 10px 15px 10px;background:url("images/search_bottom_right.gif") bottom right no-repeat;}
#cwp-search.with-js form.active{display:block;border-right:none;background:url("images/search_bottom_left.gif") bottom left no-repeat;padding:0px;}
#advanced-search-link{padding-left:5.5em;line-height:15px;}	
#cwp-search .go-button{border:0px;width:27px;height:16px;background:url("images/search_go.gif") top left no-repeat;margin:0px 0px 2px 3px;}
#cwp-search .go-button span{display:none;}
#cwp-search .find-button{border:0px;width:27px;height:16px;background:url("images/search_find.gif") top left no-repeat;margin:0px 0px 2px 3px;}
#cwp-search .find-button span{display:none;}

#content ul {
	/* list-style: url("images/blue_bullet.gif") outside; */
	/* width: inherit; */
	margin-bottom: 10px;
}

#content ul li {
	list-style:none;
	background: url("images/blue_bullet.gif") no-repeat left 6pt;
	padding-left: 8pt;
	margin-left: -27px;
	zoom: 1; /* trigger hasLayout so that the background image shows up when line wraps to second line */
	/* See: http://www.satzansatz.de/cssd/onhavinglayout.html
		http://www.cayenne.co.uk/ie7/disappearing-content.html
	*/
}

#content ul li ul {
	margin-top: 2px;
	margin-bottom: 2px;
}

#content ul ul ul li {
	margin-left: -55px;
}

#cwp-search {
	font-size:85%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.22;
}

/*
fieldset, img {
border:0 none;
}

.cwp-u {
display:inline;
}

#cwp-hd {
font-size:85%;
}

div#cwp-doc {
text-align:left;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {reset-fo...grids.css (line 7)
margin:0;
padding:0;
}
*/

p {
	margin:0;
	padding:0;
}

/* global content classes */
.access-aid {text-indent:-1000em;height:0px;display:block;float:left;padding:0px;margin:0px;}
#page .canvas #centercolumnwide #contentbox #content td {
	padding-right: 0px;
	padding-left: 0px;
	x-cell-content-align: top;
	border-left-color: #e9e9e9;
	border-left-width: 3px;
	border-left-style: Solid;
	border-top-color: #e9e9e9;
	border-top-width: 3px;
	border-top-style: Solid;
	border-right-color: #e9e9e9;
	border-right-width: 3px;
	border-right-style: Solid;
	border-bottom-color: #e9e9e9;
	border-bottom-width: 3px;
	border-bottom-style: Solid;
}

#page .canvas #centercolumnwide #contentbox #content table li {
	margin-top: 0px;
	/* margin-right: -20px; */
	margin-bottom: 0px;
	/* margin-left: -18px; */
	/* line-height: 16pt; */
}

#page .canvas #centercolumnwide #contentbox #content table p {
	margin-left: 0px;
	margin-right: 0px;
	line-height: 16pt;
}

/*
#page .canvas #centercolumnwide #contentbox #content ol {
	list-style-type: decimal;
	list-style-image: none;
}
*/

#page .canvas .sidecolumn cwp-page-nav .cwp-tree oneatatime arrows a:link,
#page .canvas .sidecolumn cwp-page-nav .cwp-tree oneatatime arrows a:visted,
#page .canvas .sidecolumn cwp-page-nav .cwp-tree oneatatime arrows a:hover {
	color: #0000CC;
}
#page .canvas #centercolumnwide #contentbox #content blockquote {
	margin-bottom: 0px;
}
