/*advanced style rules not safe for NN 4.x*/
body, body div, body p, body th, 
body td, body li, body dd, body ul, body dl, body ol{
    /* more specific to override imported rule */
    font-size:    x-small;      
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";   
    /* trick WinIE4/5 into thinking rule is over */
    voice-family: inherit;   
    /* recover from trick */
    font-size:    small
    /* intended value for better browsers */
}

html>body, html>body div, html>body p, 
html>body th, html>body td, 
html>body li, html>body dd ,html>body ul, html>body dl, html>body ol{
    font-size:    small
    /* be nice to Opera */
}

#body{
	padding: 25px;
}

#page{
	min-width: 762px;
	width:expression(document.body.clientWidth < 800? "762px": "auto");
}

.fixed#page {
 width: 743px;
}

@media handheld, tv {
  #page{
    min-width: 0px;
  }
}

/* page columns */
#primary{
	width: 73%;	
	padding-right: 8px;
}
#secondary{
	width: 22%;
}
#primary.equals{
	width: 48%;
	float: left;
}
#secondary.equals{
	width: 48%;
	float: right;
	text-align: left;
}


/* header */
#banner{
	padding: 5px;
	background-image: url(http://www.nlm.nih.gov/images/left_corner.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
#search{
	padding: 5px;
	background-image: url(http://www.nlm.nih.gov/images/right_corner.gif);
	background-position: top right;
	background-repeat: no-repeat;
	color: #fff;
}
#NLMlogo{
	margin: 0px 0px  2px 6px;
}
#title #nlm{
	font-size: 125%;
	font-weight: 600;
	line-height: .9em;
}

/* header textfield, resizes the search input area to a useful size (IE5+, NN6+, Safari */
td #searchForm{
	margin: 3px 0px 0px 0px;
	padding: 0px;
    font-size: 13px;      
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";   
    voice-family: inherit;   
	width: 18.95em;
}
html>body td #searchForm {
	width: 18.95em;
} 
#searchForm label{
	font-size: 13px;
}
#PARAMETER{
	width: 180px;
	font-family:"Courier New", Courier, mono;
}

#searchForm .navbar{
	font-size:10px;
}

/*  Section Bar            */
#section{
	font-size:170%; 
	font-weight: 100;
	padding-left: 30px;
}
/*long section names */
.longTitle{
	font-size: 65%;
	/* false value for WinIE4/5 */
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size: 80%;
}
html>body .longTitle {
	font-size: 80%;
} 

/* advanced breadcrumb styles */
span#container{
	display: block;
	padding:2px 0px 4px 60px;
}
span#mwcontainer{
	display: block;
	padding:2px 0px 4px 60px;
}
#portal #portal-pageTitle{
	display: block;
	width: 100%;
	border-bottom: 1px solid #ffffff;
	font-size: 170%; 
	margin: 0px;
	padding: 30px 0px 0px 30px;
}

/*+++++++++++++++++++++++++*/
/*  Exhibit Navigation     */
/*+++++++++++++++++++++++++*/
#exhibNav{
	display: block;
	width: 11.5em;
	padding: 0px;
	margin: 0px 5px 0px 0px;
	font-size: .5em;
	text-align: left;
	float: right;
}
#return img{
	width: 1em;
}
#projNavigation{
	border: none;
	width: auto;
	border-bottom:2px solid #777;
	border-top: 2px solid #fff;
}
h1.bottom{
	border-bottom: 1px solid #ccc;
}

ul.invArrow{
	list-style-image:url(/images/red-arrow.gif);
	margin-left: 25px;
}

/*printer friendly*/
#print-box{
	font-size: x-small;
	text-align: right;
	margin: 3px;
	width:auto;
	display:block;
}

#print-version{
	display: inline;
}
#screen-version{
	display: none;
	font-weight: bold;
}
#print-version a, #print-version a:hover, #print-version a:active, #print-version a:visited{
	text-decoration: none;
	color:#0072c2; 
	font-weight: bold;
}

/* */
ul.portal-ServiceList h2{
	padding: 4px 4px 6px 10px;
	margin-bottom: 2px;
}

/*
# search box table
*/
table.searches{
	text-align: center;
	border: none;
	border-top: 1px solid #ccc;
	clear: both;
	margin-bottom: 10px;

}
.searches .multRows td{
	border-right: none;
	border-bottom:1px solid #ccc;
}
.searches .info{
	border-left: none;
	border-top:none;
	padding:5px 5px 5px 10px;
	text-align: left;
}
.searches .info li{
	list-style-type: disc;
	list-style-position: outside;
	margin: 0em 0em 0em 1.5em;
	padding: 0px;
}
.searches td.forms{
	padding: 5px;
	color:#666;
	font-weight: bold;
	background-color:#f2f2f2;
	border-left: 1px solid #ccc;
}
td.forms form{
	padding-top: 9px;
	padding-left: 15px;
}
td.forms form label{
	font-size: 85%;
}
.forms input.text{
	width: 150px;
	border:1px solid #666;
}

/* press release info box */
#docData{
	font-size: 90%;
	float: right;
	margin: 10px 0px 2px 10px;
	border-bottom: 1px solid #ccc;
	width: 19em;
}
#docData p{
	margin: 0px;
	padding: 5px 5px 3px 5px ;
	border-top: 1px solid #ccc;
}
/*return to top blue button style link */
#totop{
	float: right;
	background-color:#0072c2;
	color: white;
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	border: none;
	padding: 4px;
	display: block;
}

/*
#related Info Bar Mostly found in two column HMD pages
*/
#relatedBar{
	width: 163px;
	}
#relatedBar ul {
	margin: 0px; 
	padding: 0px;
	border: 1px solid #fff; 
	background-color: #f2f2f2;
	list-style-type: none;
}
#relatedBar ul li{
	list-style-type: none;
}
#relatedBar H2{
	background-color: #2486cc;
	color: white; 
	border-top: 2px solid #fff;
	border-bottom: 1px solid #fff;
	margin: 0px; 
	padding:5px 2px 5px 10px;
	font-weight: bold;
}
#relatedBar ul ul {
	margin: 0px; 
	padding: 0px;
	list-style-type: none;
	font-size:85%;
	border: none;
	padding: 4px;
}


/* two column hmd*/

div#twoColumn h2{
	font-size: 130%;
	color: #666;
}
div#twoColumn div#left {
	float:left;
	width:47%;
}
div#twoColumn div#right {
	float:right;
	width:47%;
	border-left:1px solid #ccc;
	padding-left:15px;
}


/* change mouse pointer to help pointer */
abbr, acronym, .help {
	border-bottom: 1px dotted #333;
	cursor: help;
  }
  
.highlighted {
	border: 1px solid #336699; 
	display: block;
	margin: 20px 0px 10px 0px; 
}

div#footer {
	border-top: #999 4px solid; 
	margin: 3px 0px 5px 0px;
}


