/* QUICKSAND GOOGLE WEB FONT */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/qhfoJiLu10kFjChCCTvGlHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand'), local('Quicksand-Bold'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

html, body,
.wiki-content,
.pagetree {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px;
}

/* CODE AND PRE - BLACK ON MAUVE */
.code {
    border-style: none !important;
}

.wiki-content .preformattedContent, .wiki-content .code .panel {
    border-color: transparent !important;
}

.wiki-content .preformattedContent, .wiki-content .codeContent {
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}

pre {
    margin: 12px 0;
    padding: 6px 9px 7px;
    font-size: 11px;
    border: 1px solid #CCC;
    background: #FFFFEB !important;
    color: #555 !important;
    border-left: none;
    border-right: none;
    overflow: auto;
}


pre, pre {
    font-family: "Lucida Grande";
}

p, blockquote, pre, pre, div, form, table {
    vertical-align: baseline;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

/* PRE - BLACK ON WHITE WITH BORDER */
pre {
    /*  float: left; */
    width: 540px;
    padding: 0 0 0 5px; 
    color: #44FF00;
    background: #222;
    overflow: auto;
    font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
    margin: 0.9em 0; padding: 8px;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
pre a:hover {
    background: #FFC;
}
pre a:hover {
    background: #ABD86E;
}
pre a {
    color: #48E !important ;
    outline-style: none;
    outline-width: medium;
    text-decoration: none;
}

/* HIDE METADATA AT TOP OF PAGE, INCLUDING PAGE NAME */
.page-metadata-wrapper,
.page-metadata,
.page-metadata-modification-info,
#fullscreen-container .customSection,
#fullscreen-container .page_title {
    visibility: hidden !important;
    display: none !important;
}


/* CLEAR MENU BAR BACKGROUND IMAGE */
#menu_bar {
    background: url();
}

/* CLOAK TOGGLE IN LEFT NAVBAR */
.cloakToggle {
    margin: 0px !important;
}
/* WIKI CONTENT FONT */
.wiki-content,
.wiki-content p {
    /*font-family: Helvetica !important;*/
}

/* REMOVE BACK BUTTON */
a.space_back {
    display: none !important;
}

a.space_link {
    background: none !important;
    font-size: 20px !important;
}

/* MAILING LIST */
#description-box {
    font-size: 16px !important;
}
#admin-notice {
    visibility: hidden !important;
    display: none !important;
}


/* PAGETREE BACKGROUND */
.page_left_section {
    background-color: #FFF !important;
}



/* HIDE TOP MENU */
#top_menu {
    visibility: hidden !important;
    display: none !important;
}


/* HIDE CHILDREN SECTION */
#children-section {
    visibility: hidden !important;
    display: none !important;
}

.wiki-content h3 {
    margin-top: 10px !important;
}

/* TOGGLE PAGETREE */
.plugin_pagetree ul li a {
color: black !important;
    padding: 0px !important;
    margin: 0px !important;
}

/* ACTIVE ARROW OF CATEGORY (Download, Developers,etc.) */
#category_menu_dynamic li#active a span.menu_left {
    background: url("../../images/templates/pointer/category_menu_active.png") no-repeat scroll transparent;
    background-position: center bottom; 
   color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding: 0 10px;
}

/* NAVIGATION MENU ON HOVER */
.navTree .plugin_pagetree_children ul li span:hover[id^='childrenspan'] {
    background-color: #7DE !important;
    color: #000 !important;
}

.plugin_pagetree ul li a,
.plugin_pagetree ul li a:hover,
.plugin_pagetree ul li a:active,
.plugin_pagetree ul li a:visited {
    color: #000 !important;
}

.plugin_pagetree li:hover,
.plugin_pagetree li:active,
.plugin_pagetree li:visited {
    background-color: #BCD !important;
}

span[id^='childrenspan'] {
    visibility: visible !important;
    background-image: url(/confluence/s/1636/56/1/_/download/resources/com.adaptavist.confluence.themes.sitebuilder:sitebuilder/icons/document_plain.png);
    background-repeat: no-repeat;
    height: 20px !important;
    color: #000;
}

.navTree .plugin_pagetree_children ul li {
    background-image: url(http://www.stuartpyoung.com/confluence/s/1636/56/1/_/download/resources/com.adaptavist.confluence.themes.sitebuilder:sitebuilder/nlstree/img/lineints.gif);
    background-repeat: no-repeat;
}

.navTree .plugin_pagetree_children ul li img {
    visibility: hidden !important; 
    width: 15px !important;
}

.navTree .plugin_pagetree_children ul li  a.plugin_pagetree_childtoggle {
    visibility: visible !important;
    background-image: url(http://www.stuartpyoung.com/confluence/s/1636/56/1/_/download/resources/com.adaptavist.confluence.themes.sitebuilder:sitebuilder/icons/folder.png);
    background-repeat: no-repeat;
    background-position: left !important;
    height: 30px !important;
    width: 30px !important;
    z-index: 500;
}

.plugin_pagetree {
    background-color: #FFF !important;
    border: 1px solid #AAA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.customSection .plugin_pagetree ul {
    font-size: 13px;
}

.navTree {
    background-color: #FFF;
    border: 1px;
    border-color: #444;
}

#top_logo_wrapper {
    float: left;
    height: 0px !important;
    width: 500px;
}

#category_menu_wrapper {
    left: 130px !important;
    position: absolute !important;
    z-index: 500 !important;
}

#top {
    height: 0px !important;
    padding: 0 10px  !important;
    text-align: left  !important;
}

#menu_bar {
    -moz-border-radius: 6px 6px 6px 6px;
    padding: 0 !important;
    top: 10px !important;
}

#top_menu {
    height: 52px !important;
   position: absolute !important;
    right: 190px !important;
    top: -15px !important;
    width: 445px !important
}    

#breadcrumb_wrapper,
#breadcrumbs li, 
#breadcrumbs li a,
#breadcrumb_wrapper li span, 
#breadcrumb_wrapper li span a,
#breadcrumb_wrapper #breadcrumbs li span, 
#breadcrumb_wrapper #breadcrumbs li span a {
    visibility: hidden !important;
    display: none !important;
}


#category_menu_dynamic li a span.menu_left {
    color: #FFFFFF !important;
}

#category_menu_dynamic li.menu_item_1 a span.menu_left {
    visibility: hidden !important;
    display: none !important;
}

#category_menu_dynamic {
    margin-left: 90px !important;
}
