/* MAILING LIST */

body, table .nabble {
    margin: 0 !important;
}

/* REMOVE TITLE, ADMIN NOTICE */
#description-box,
#admin-notice,
#forum-title {
    visibility: hidden !important;
    display: none !important;
}

/* REMOVE TOP MARGIN */
#forum-header {
    padding-top: 0 !important;
}
