
html, body, #mnTbl {height:100%; margin:0px; padding:0px;}
body, p, td, th, li, b, a, ul, font, div, layer, span {font-family:Verdana,Arial,Helvetica,sans-serif;}
#mnHeadTbl {width:100%; height:auto; background: url(../images/header_bg.gif) repeat top right;}

/*** top Nav elements for SI Frame Head ***/
#topNavCellSi {width:auto; height:auto; background: url(../images/header_r_si.gif) no-repeat top right;}
#topNavLinksMn {width:466px; height:auto; padding:0px 60px 10px 0px;}
#topNavLinksMn a {color:#31568C; font-size:12px; font-weight:bold; text-decoration:none; margin-left:8px;}
#topNavLinksMn a:hover {color:#000000; text-decoration:underline;} 
#topNavLinksUtil {width:416px; height:auto; padding:0px 110px 10px 0px;}
#topNavLinksUtil a {font-size:11px; color:#466593; text-decoration:none; margin-left:10px;} 
#topNavLinksUtil a:hover {color:#000000; text-decoration:underline;} 

