html, body, #mnTbl {height:100%; margin:0px; padding:0px;}
body, p, td, th, li, b, a, ul, font, div, layer, span {font-family:Verdana,Arial,Helvetica,sans-serif;}

/*** left nav elements ***/
#mnLeftCol {width:246px; height:auto; background: url(../images/leftnav_bot_BG.gif) repeat top left;}
#leftNavShadow {padding-top:20px; width:246px; height:auto; background: url(../images/leftnav_bg.gif) repeat top left;}

.leftNavItem {width:229px; height:auto; background: url(../images/leftnav_bg.gif) repeat top left; border: solid #31568C; border-width:0px 0px 1px 0px;}
.leftNavItem div {width:auto; height:auto; padding:4px 6px 4px 10px;}
.leftNavItem div a {color:#31568C; font-size:13px; font-weight:bold; text-decoration:none; text-transform:uppercase;}
.leftNavItem div a:hover {color:#CA242A; text-decoration:underline;} 

.leftSubNavItem0 {width:229px; height:auto; background: url(../images/leftnav0_bg_red.gif) repeat top left;}
.leftSubNavItem0 div {width:auto; height:auto; padding:4px 6px 4px 10px;}
.leftSubNavItem0 div a {color:#FFFFFF; font-size:12px; font-weight:bold; text-decoration:none;}
.leftSubNavItem0 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem0 div {background: url(../images/rtArrowFFF.gif) no-repeat 3px center;}

.leftSubNavItem1 {width:229px; height:auto; background: url(../images/Leftnav2_bg_blue.gif) repeat top left;}
.leftSubNavItem1 div {width:auto; height:auto; padding:4px 6px 4px 20px;}
.leftSubNavItem1 div a {color:#FFFFFF; font-size:11px; font-weight:bold; text-decoration:none;}
.leftSubNavItem1 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem1 div {background: url(../images/rtArrowFFF.gif) no-repeat 12px center;}

.leftSubNavItem2 {width:229px; height:auto; background: url(../images/leftnav1_bg_red.gif) repeat top left;}
.leftSubNavItem2 div {width:auto; height:auto; padding:4px 6px 4px 30px;}
.leftSubNavItem2 div a {color:#FFFFFF; font-size:11px; font-weight:normal; text-decoration:none;}
.leftSubNavItem2 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem2 div {background: url(../images/rtArrowFFF.gif) no-repeat 22px center;}

.leftSubNavItem3 {width:229px; height:auto; background: url(../images/leftnav3_bg_red.gif) repeat top left;}
.leftSubNavItem3 div {width:auto; height:auto; padding:4px 6px 4px 40px;}
.leftSubNavItem3 div a {color:#FFFFFF; font-size:11px; font-weight:normal; text-decoration:none; font-style:normal;}
.leftSubNavItem3 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem3 div {background: url(../images/rtArrowFFF.gif) no-repeat 32px center;}

#activeLeft.leftSubNavItem0 div a, #activeLeft.leftSubNavItem1 div a, #activeLeft.leftSubNavItem2 div a, #activeLeft.leftSubNavItem3 div a {color:#FFFFFF;}
#activeLeft.leftSubNavItem0 div a:hover, #activeLeft.leftSubNavItem1 div a:hover, #activeLeft.leftSubNavItem2 div a:hover, #activeLeft.leftSubNavItem3 div a:hover {text-decoration:none;}