.footerlogos {
	display: none;
}

TABLE { BORDER-COLOR: white ; }

TR {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.footer {
	FONT-SIZE: 9pt
}
A {
	COLOR: #000099; FONT-FAMILY: Arial, Verdana
}
A:hover {
	COLOR: #000099; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #6f2388
}
A.breadcrumbLinks:visited {
	COLOR: #ffffff
}
.breadcrumbLinks {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
A.breadcrumbLinks:hover {
	COLOR: #ffffff
}
.searchIn {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
.header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 145%; LINE-HEIGHT: 120%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; COLOR: #000000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; COLOR: #000000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 145%; LINE-HEIGHT: 120%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; margin-bottom:0px;
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; COLOR: #000000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; 
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; FONT-FAMILY: Arial, Helvetica, sans-serif; 
}

H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; 
}

H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; FONT-FAMILY: Arial, Helvetica, sans-serif; 
} 

.globalNav {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.leftNav {
	FONT-SIZE: 10pt; COLOR: #0c2868
}
.photoCaption {
	FONT-SIZE: 8pt
}
.back {
	FONT-SIZE: 8pt
}
.tools {
	FONT-SIZE: 9pt
}
A.healthSubNav:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.healthSubNav {
	FONT-WEIGHT: bold; COLOR: #ffffff

}
.postingItemColumn {
	WIDTH: 550px; COLOR: maroon; FONT-STYLE: italic; FONT-FAMILY: Arial
}
.postingListHeader {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial; BACKGROUND-COLOR: #dfecf6
}
.newsReleaseDateColumn {
	FONT-SIZE: 10pt; LEFT: 10px; VERTICAL-ALIGN: baseline; WIDTH: 130px; FONT-FAMILY: Arial; TOP: 10px
}
.newsReleaseDisplayNameColumn {
	WIDTH: 430px
}
.labName {
	FONT-WEIGHT: bold; WIDTH: 290px
}
.labHeadPerson {
	WIDTH: 149px
}
.labTitle {
	WIDTH: 80px
}
.labDivision {
	WIDTH: 50px
}
.hideInNormal 
{
	DISPLAY: none
}
.09-Footerlogos { display: none;	}

.smaller {font-size:    10px;}

.breadcrumbs {font-size:    10px;}

#whatsop, #pullquote, #alerts {background-color : #FBEAAE;
layer-background-color : #FBEAAE;} 

#updatesidebar {background-color : #b5cfe4;
layer-background-color : #b5cfe4;} 

#botnav, #topnav, #searchtable { background-color : #3333cc;
layer-background-color : #3333cc;}

abbr, acronym, .def {
  text-decoration: none; 
  cursor: help;
  }
  
li { 
	margin: 7px 0 0 0 ;} 
	
ol.flow li { 
	border:1px solid;margin:7px;padding:7px; background-color : #E6F2FF;}
ol.flow li ol { 
	margin:7px;padding:7px;	 background-color : #ffffff;}
ol.flow ul li {
	border:0px; margin:7px; padding:0px;}
ol.flow ul ol li {
	border:1px solid; margin:7px; padding:7px; background-color : #E6F2FF; }
ol.flow ul ol ul li {
	border:0px; margin:7px; padding:0px;}
	
	th {background-color : #EEF5FB;
FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; text-align : left;} 

#fundnav { background-color : #DFECF6;
layer-background-color : #DFECF6;}

#fundsubnav { background-color : #DFECF6;
layer-background-color : #DFECF6;
background-image : url(./design/hgrad.gif); } 


ul.nobullets 
{
list-style-type: none;
}

ul.smallmarginlist
{
margin-left: .7em;
padding-left: .7em;
}

#draft {background-color : #FF6600;
layer-background-color : #FF6600;
margin:7px 0px 0px 0px;} 

.draft {
	color: #FF0000;
	}