
#topnav, #toptable, #searchtable, #botnav, #disclaimertable, #botspace, #whatsop, #updatesidebar, #fundnav, #fundnavcol, #rightnavcol, #rightnavinc, #rightnavgloss, #alerts, #Table7, #Table2, #rightbar { 
  display : none; 
} 

.doNotDisplay {
	DISPLAY: none
}

.content
{
  color: #000;
  padding: 0;
  margin: 0 auto;
}
.rightNav
{
  text-align: left
  color: #000;
  padding: 0;
  margin: 0 auto;
}

table {
width: auto !important}

TR {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif , Courier, Helvetica, sans-serif
}

.footer {
	FONT-SIZE: 9pt
}

a:link, a:visited, a:hover {
	font-family:Arial, Helvetica, sans-serif , Courier, Verdana;
	color: #000099;
	background: transparent;
	text-decoration: underline;
	}
	
A.breadcrumbLinks:visited {
	COLOR: #ffffff
}
.breadcrumbLinks {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
A.breadcrumbLinks:hover {
	COLOR: #ffffff
}
.searchIn {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
.globalNav {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif , Courier, Helvetica, sans-serif
}
.leftNav {
	FONT-SIZE: 10pt; COLOR: #0c2868
}
.photoCaption {
	FONT-SIZE: 8pt
}
.back {
	FONT-SIZE: 8pt
}
.tools {
	FONT-SIZE: 9pt
}
A.healthSubNav:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.healthSubNav {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.postingItemColumn {
	WIDTH: 550px; COLOR: maroon; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif , Courier
}
.postingListHeader {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif , Courier; BACKGROUND-COLOR: #dfecf6
}
.newsReleaseDateColumn {
	FONT-SIZE: 10pt; LEFT: 10px; VERTICAL-ALIGN: baseline; WIDTH: 130px; FONT-FAMILY: Arial, Helvetica, sans-serif , Courier; TOP: 10px
}
.newsReleaseDisplayNameColumn {
	WIDTH: 430px
}
.labName {
	FONT-WEIGHT: bold; WIDTH: 290px
}
.labHeadPerson {
	WIDTH: 149px
}
.labTitle {
	WIDTH: 80px
}
.labDivision {
	WIDTH: 50px
}
.hideInNormal 
{
	DISPLAY: none
}
/* .01-Header 		- hideInPrintNR */
.02-SiteSearch { display: none;	}
.03-HeaderGlobalNav { display: none;	}
.04-TopNav { display: none;	}
/* .05-Breadcrumbs		- hideInPrintNR */
.06-TopBorder { display: none;	}
.07-LeftNav { display: none;	}
.08-Content
{
  color: #000;
  padding: 0;
  margin: 0 auto;
}
.09-Footerlogos { display: none;	}
.10-SubwebSearch { display: none;	}
.11-RightNavTools { display: none;	}
.12-Footer { display: none;	}
.13-WebAuthorConsole { display: none;	}
/* .14-RightNavContent { display: none;	} */

ul.nobullets 
{
list-style-type: none;
}

abbr, acronym, .def, {
  text-decoration: none;
  cursor: help;
  border-bottom: dotted 1px #000099;
  }

#draft {background-color : #FF6600;
layer-background-color : #FF6600;
margin:7px 0px 0px 0px;} 

font {background-color : #FFF1C6;
layer-background-color : #FFF1C6;}

.draft {
	color: #FF0000;
	}