html, body, #mnTbl {height:100%; margin:0px; padding:0px;}
body, p, td, th, li, b, a, ul, font, div, layer, span {font-family:Verdana,Arial,Helvetica,sans-serif;}
#mnHeadTbl {width:100%; height:auto; background: url(../images/header_bg.gif) repeat top right;}
/*a:hover{text-decoration:none;}*/

/*** content ***/
body, td, th, p {
  font-family: verdana, sans-serif;
  font-size: 12px;
}

.boldText {
  font-family: verdana, sans-serif;
  font-size: 12px;
  font-weight:bold;
}

.italicText {
  font-family: verdana, sans-serif;
  font-size: 12px;
  font-style: italic;
}


/*/*/a{}
body,
body td,
body th,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
html>body,
html>body td,
html>body th
html>body p {
  font-size: small;
}  

.indentNoDisc {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.preview-callout, div.global-callout {
	border: 1px #000 solid;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 34px;
	margin-bottom: 7px;
	padding-bottom: 2px;
			}
			
.callout {
	background-color:#DEE7F0; 
	border: 1px solid #cccccc; 
	padding:10px; 
	width:490px; height:auto;
}
			
.stakeHolderDateTH {background-color:#E5E5E5;padding:2px 10px 2px 10px;}
.stakeHolderDateTDL {padding:2px;}
.stakeHolderDateTDR {padding:2px 10px 2px 10px;}

/*** top Nav elements ***/
#topNavCell {width:auto; height:auto; background: url(../images/header_r.gif) no-repeat top right;}
#topNavLinks {width:416px; height:auto; padding:20px 110px 0px 0px;}
#topNavLinks a {font-size:12px; color:#466593; text-decoration:none; margin-left:15px;} 
#topNavLinks a:hover {color:#000000; text-decoration:underline;} 

/*** right nav elements ***/
.style1a {
	color: #FF9900;
	font-weight: bold;
}

/*** left nav elements ***/
#mnLeftCol {width:246px; height:auto; background: url(../images/leftnav_bot_BG.gif) repeat top left;}
#leftNavShadow {padding-top:20px; width:246px; height:auto; background: url(../images/leftnav_bg.gif) repeat top left;}

.leftNavItem {width:229px; height:auto; background: url(../images/leftnav_bg.gif) repeat top left; border: solid #31568C; border-width:0px 0px 1px 0px;}
.leftNavItem div {width:auto; height:auto; padding:4px 6px 4px 10px;}
.leftNavItem div a {color:#31568C; font-size:13px; font-weight:bold; text-decoration:none; text-transform:uppercase;}
.leftNavItem div a:hover {color:#CA242A; text-decoration:underline;} 

.leftSubNavItem0 {width:229px; height:auto; background: url(../images/leftnav0_bg_red.gif) repeat top left;}
.leftSubNavItem0 div {width:auto; height:auto; padding:4px 6px 4px 10px;}
.leftSubNavItem0 div a {color:#FFFFFF; font-size:12px; font-weight:bold; text-decoration:none;}
.leftSubNavItem0 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem0 div {background: url(../images/rtArrowFFF.gif) no-repeat 3px center;}

.leftSubNavItem1 {width:229px; height:auto; background: url(../images/Leftnav2_bg_blue.gif) repeat top left;}
.leftSubNavItem1 div {width:auto; height:auto; padding:4px 6px 4px 20px;}
.leftSubNavItem1 div a {color:#FFFFFF; font-size:11px; font-weight:bold; text-decoration:none;}
.leftSubNavItem1 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem1 div {background: url(../images/rtArrowFFF.gif) no-repeat 12px center;}

.leftSubNavItem2 {width:229px; height:auto; background: url(../images/Leftnav2_bg_blue.gif) repeat top left;}
.leftSubNavItem2 div {width:auto; height:auto; padding:4px 6px 4px 30px;}
.leftSubNavItem2 div a {color:#FFFFFF; font-size:11px; font-weight:normal; text-decoration:none;}
.leftSubNavItem2 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem2 div {background: url(../images/rtArrowFFF.gif) no-repeat 22px center;}

.leftSubNavItem3 {width:229px; height:auto; background: url(../images/Leftnav3_bg_blue.gif) repeat top left;}
.leftSubNavItem3 div {width:auto; height:auto; padding:4px 6px 4px 40px;}
.leftSubNavItem3 div a {color:#FFFFFF; font-size:11px; font-weight:normal; text-decoration:none; font-style:normal;}
.leftSubNavItem3 div a:hover {color:#CCCCCC; text-decoration:underline;} 
#activeLeft.leftSubNavItem3 div {background: url(../images/rtArrowFFF.gif) no-repeat 32px center;}

#activeLeft.leftSubNavItem0 div a, #activeLeft.leftSubNavItem1 div a, #activeLeft.leftSubNavItem2 div a, #activeLeft.leftSubNavItem3 div a {color:#FFFFFF;}
#activeLeft.leftSubNavItem0 div a:hover, #activeLeft.leftSubNavItem1 div a:hover, #activeLeft.leftSubNavItem2 div a:hover, #activeLeft.leftSubNavItem3 div a:hover {text-decoration:none;}

/*** alert box ***/
.alertBox {padding-left:10px; width:195px; height:auto; background: url(../images/leftnav_bg.gif) repeat top left;}
.alertBox div {color:#FF0000; padding:6px 0px 6px 0px; width:auto; height:auto; border: dotted #FFFFFF; border-width:1px 0px 1px 0px; font-size:11px;}
.alertBox a {font-size:11px; color:#466593;} 
.alertBox2 {color:#FFFFFF;}

.alertTxt {color:#FF0000;}

/*** Breadcrumb Navigation ***/
#breadcrumb {width:100%; height:auto; padding:10px 0px 4px 0px; color:#466593;}
#breadcrumb a {font-size:11px; color:#466593;} 
#breadcrumb a:hover {color:#000000; text-decoration:none;} 

#link a:hover {color:#E66C2C;} 


 
#exitDisc a {font-size:11px; color:#466593;} 
#exitDisc a:hover {color:#000000; text-decoration:none;} 


a.exit-disc
{
color:#466593;	
font-size:11px;
text-decoration:none;
}

a.exit-disc:hover 
{
color:#000000; 
text-decoration:underline;
 

}

/*** Center Column content/elements ***/
#mnMidCol {width:100%; height:auto; padding-right:20px;}
#bodySpacer {width:567px; height:10px; font-size:1px;}
#circleIMG {width:100%; height:auto; text-align:center; padding:12px 0px 12px 0px;}
#headerIMG {width:100%; height:auto;; padding:2px 0px 4px 0px;}
.toTop, .toTop a {font-size:9px; color:#999999; text-decoration:none;}
.toTop a:hover {text-decoration:underline; color:#000000;}
.head {font-weight:bold; color:#466593; font-size:medium; text-transform:uppercase;}
.subhead {font-weight:bold;}


/*** right Column elements ***/
#mnRtCol {padding-left:0px; width:168px; height:auto; background-color:#F7F8FA;}
.rtColHead {font-size:14px; color:#FFFFFF; font-weight:bold;}
.quickLinks {margin:0px; padding:0px; width:auto; height:auto; color:#FFFFFF; font-size:11px;}
.quickLinks ul {margin-top:0px; margin-left:2em; padding:0px; font-size:11px;}		
.quickLinks ul li {margin-bottom:2px; padding:0px; font-size:11px;}
.quickLinks ul li a {color:#FFFFFF; font-size:11px;}
.quickLinks ul li a:hover {color:#CCCCCC; text-decoration:none;}
.quickLinks ul a {font-size:11px; color:#466593;} 
.quickLinks ul a:hover {color:#000000; text-decoration:none;} 

.searchTips {margin:0px; padding:0px; width:auto; height:auto; color:#FFFFFF; font-size:11px;}
.searchTips a {color:#FFFFFF; font-size:11px;}
.searchTips a:hover {color:#CCCCCC; text-decoration:none;}

/*** footer ***/
#footerContent {width:100%; height:auto; border: solid #31568C; border-width:1px 0px 0px 0px; text-align:center; vertical-align:middle;}

/*** home page items ***/
/*
#wnbTL, #wnbTR {background: #DEE7F0 url(../images/i_whatsNewBoxTBG.jpg) repeat top left;}
#wnbBL, #wnbBR {background-color: #266293;}
#wnbC {background-color: #DEE7F0; padding:4px 2px 4px 2px;}
.wnbLinkTop {width:85%; height:auto; padding-top:4px; padding-bottom:4px;}
.wnbLink {width:85%; height:auto; border: 1px dotted #216399; border-width:1px 0px 0px 0px; padding-top:4px; padding-bottom:4px;}
.wnbLinkTop a, .wnbLink a {color:#266293; text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
.wnbLinkTop a:hover, .wnbLink a:hover {color:#FF0000;text-decoration:underline;}
*/

#wnbTL, #wnbTR {background: #DEE7F0 url(../images/i_whatsNewBoxTBG.jpg) repeat top left;}
#wnbBL, #wnbBR {background-color: #266293;}
#wnbC {background-color: #DEE7F0;}
#wnbC ul {margin:0; padding:0; list-style:none; width:85%;}
#wnbC ul li {
	margin:0; padding:.5em 0; 
	list-style:none;
	border-bottom: 1px dotted #216399;
}

#wnbC ul li.lastItem {
	border-bottom: none;
}


#wnbC ul li a {
	color:#266293; 
	text-decoration:none; 
	font: normal 12px Verdana;
}
#wnbC ul li a:hover {
	color:#FF0000;
	text-decoration:underline;
}

.arrowList ul {list-style-type: disc; list-style-image: url(../images/arrow.gif); margin-top:0px;}
.arrowList ul li a:hover {color:#FF0000; text-decoration:none;}

/*** Form Styles in rt col ***/
.formtext {color: #333333; font-family:"Verdana",sans-serif; font-size:11px; line-height:13px;}
.textfield {width:96%; height:auto; border-width:1px; color: #333333;font-family: "Verdana",sans-serif;font-size: 11px;background-color: #edf3fd;}
input.submitbtn {text-align:right; color:#FFFFFF; font-family: "Verdana",sans-serif; font-size: 11px; background-color: #335A93; border-color: #335A93; border-width:0px;font-weight:bold}
#form {padding:0px;margin:0px;}
#nlSignup {padding:10px 0px 10px 0px; border: dotted #999999; border-width:1px 0px 1px 0px;}

#nlSignupLink {padding:3px 0px 3px 0px; border: dotted #999999; border-width:1px 0px 1px 0px;}
#nlSignupLink div {background-color:#5c82b8; padding:6px; text-align:center;}
#nlSignupLink div a {color:#FFFFFF; font-size:12px; font-weight:bold; text-decoration:none;}
#nlSignupLink div a:hover {text-decoration:underline;}

#nlSubmit {padding-top:10px;}

/*** Form Styles ***/
.txtbx {width:200px; height:auto;}
#mstable
{
	border:solid 1px gray;
	
	padding-left:5px;
}

hr {color:#D5D5D5;background-color:#D5D5D5;height:1px;}
			/* INITIAL PROPERTIES FOR ALL LINKS IN TOP NAV */
		
			#navigation-wrapper a:link, #navigation-wrapper a:visited {
			display: block;
			text-decoration: none;
			background-color: transparent;
			background: no-repeat left top;
			}
	
			/* ALL LINKS IN "SITE" NAV */
	
	
	
			/* ALL LINKS IN "PRIMARY" NAV */
	
			#site_header{
			width: 1000px;
			height: 50px;
			background: #FFFFFF;
			background: url(../images/kpmg_career_header.jpg) top left no-repeat;
			}


			#navigation-primary {
			height: 20px;
			width: 1000px;
			background-color: #000;
			background: url(../images/navigation-primary.jpg)  top left no-repeat;
			}
	


/*drg*/


.tblCompatibility {
 margin:0;padding:0; 
 border:none;
 border-collapse:collapse;
}

.tblCompatibility td, .tblCompatibility th {
	font:normal 11px Arial;
	margin:0;padding:.3em .5em;
	border:1px solid #999;
	text-align:center;
}

.tblCompatibility th {
	background-color:#ccc;
	font-weight:bold;
}



#steplist h3 {
	width:500px;
	height:55px;
	background: transparent url(../images/number01.gif) no-repeat top left;
	position:relative;
	background-image: url(../images/Step2.gif);
}

#steplist h3 span {
	display:block;
	background-color:#DBDBDB;
	width:100%;
	height:15px;
	position:absolute;
	bottom:12px;
	margin-left:54px;
	font-size: 72%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
}

#steplist #one{background: transparent url(../images/Step1.gif) no-repeat top left}
#steplist #two{background: transparent url(../images/Step2.gif) no-repeat top left}
#steplist #three{background: transparent url(../images/Step3.gif) no-repeat top left}
#steplist #four{background: transparent url(../images/Step4.gif) no-repeat top left}
#steplist #five{background: transparent url(../images/Step5.gif) no-repeat top left}
#steplist #six{background: transparent url(../images/Step6.gif) no-repeat top left}
#steplist #seven{background: transparent url(../images/Step7.gif) no-repeat top left}
#steplist #eight{background: transparent url(../images/Step8.gif) no-repeat top left}
#steplist #nine{background: transparent url(../images/Step9.gif) no-repeat top left}
#steplist #ten{background: transparent url(../images/Step10.gif) no-repeat top left}

.btnRss img {border:0; margin-right:4px; padding-left:20px;}

.btnRss {background:transparent url(../images/icon_rss.gif) no-repeat top left;padding-left:20px; padding-bottom:10px;}

.exclaim {background:#ccc url(../images/exclamation.gif) no-repeat center left; padding:10px 10px 10px 60px;}