#logo2 { 
	display:none;
}
p, td, tr, ul, li, dd, div, span {
	font-family: verdana,helvetica,arial,sans-serif
}
h1,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
body, p, td, ul, ol, li{
	font-size: 10pt;
}
#body{
	font-size: 10pt;
	padding: 0px;
	margin-left: 13px;
}

div#primary{
	float: none;
	margin:0px;
	padding: 0px;
	width: 100%;
}
div#secondary{
	float: none;
	width: auto;
}

h1{
	margin-top: 10pt;
	font-size: 15pt;
	color: black;
}
h2,h3,h4,h5,h6{
	margin-left: 0px;
	margin-bottom: 0px;
}
h2 {
	font-size: 11pt;
}
h3{
	font-size: 10pt;
}
h4{
	font-size: 9pt;
}
h5{
	font-size: 8pt;
}
h6{
	font-size: 7pt;
}


a , a:visited, a:active, a:hover{
 color: black;
}
/*+++++++++++++++++++++++++*/
/* Special Column Types    */
/*+++++++++++++++++++++++++*/
/*Default certain special column types to no display*/

#relatedPages{
	display: none;
}

/*+++++++++++++++++++++++++*/
/* secondary header styles */
/*+++++++++++++++++++++++++*/
#header{
	border-bottom: 2pt solid gray;
}

.banner, .banner a, .banner a:visited, .banner a:active, .banner a:hover{
	text-decoration: none;
}

.noprint{
	display: none;
}

#logo, #NLMBanner{
display: none;
}
#printTitle{
	color: black;
	font-size: 14pt;
	font-weight: bold;
	width: 80%;
}
#printTitle a{
	color: black;
	text-decoration: none;
}
#printTitle #nlm{
	display: inline;
	color: black;
	font-size: 14pt;
	font-weight: bold;
}
#printTitle #nih{
	font-size: 10pt;
	display: block;
}
#searchForm{
	display: none;
}
#section{
	font-size: 14pt;
	border-top: 1px solid #666;
	margin: 5pt 0pt 5pt 0pt;
	padding: 2pt 0pt 2pt 0pt;
}
.longTitle{
	font-size:13pt;
}
#projNavigation ul{
	display: none;
}
/*+++++++++++++++++++++++++*/
/* Header components         */
/*+++++++++++++++++++++++++*/
#breadcrumb, #breadcrumb-alt, #dotted-bar, #section-menu, #image-bar, #breadcrumbNoPics{
	display: none;
}
/*+++++++++++++++++++++++++*/
/* components  
/*+++++++++++++++++++++++++*/
/*printer version style*/
#print-box{
	float: left;
}

#print-version{
	display: none;
}
#screen-version{
	position: absolute;
	top:10px;
	right: 5px;
	font-size: 8pt; 
	font-weight: bold;
	padding: 3px;
	width: 15.5em;
}
#screen-version a, #screen-version a:active, #screen-version a:hover{
	padding: 5px;
	text-decoration: none;
	color: #ffffff;
	background-color: #0072c2;
}

/*
# inverted red/orang arrow bulleted list
# found on the second level menu pages
*/
ul.invArrow{
	list-style-type: none;
	font-size: 10pt;
	padding: 0px;
	margin: 0px;
}

ul.invArrow li{
	padding: 5pt 0pt 5pt 0pt;
}

ul.invArrow li h3{
	font-size: 10pt;
}

ul.invArrow ul{
	list-style-image: none;
	list-style-type:disc;
	list-style-position:outside;
	padding: 2pt  2pt   2pt 15pt; 
	margin: 0px;
}
ul.invArrow ul li{
	margin: 0px;
	padding: 0px;
}

ul.invArrow p{
	margin:0px;
	padding-top:5px;
}

ul.invArrow ul p{
	padding-top:0px;
}

/*
# HMD TOC List,  red arrow bulleted list
# found on HMD Pages
*/
ul.redArrow{
	padding: 0px;
	list-style-type: none;
}
.redArrow p{
	margin: 0 0 10pt 0;
}
.redArrow ul{
	list-style-type: disc;
}
.redArrow ul p{
	margin: 0 0 10pt 0;
}

.redArrow ul ul{
	list-style-type: circle;
}
.redArrow ul li{
	margin: 0 0 3pt 0;
}

.HMDstandard p{
	margin: 0 0 10pt 0;
}
/****************************/


#listings ul li{
	margin: 0 0 10pt 0;
}

#listings ul ul li{
	margin: 0;
}
#listings ul ol li{
	margin: 0;
}

/***************************/
/* anchorlist for HMD FAQ  */
/***************************/
.anchorLinks{
	display: none;
}

#medlineList{
	display: none;
}

#relatedBar{
	/*display: none;*/
	border-top: 1px solid #ccc;
}
#relatedBar ul{
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

#totop{
	display: none;
}
.toTopArrow{
	display: none;
}
.noPrint{
	display: none;
}
/*+++++++++++++++++++++++++*/
/*  footer                 */
/*+++++++++++++++++++++++++*/
#documentNotes {
	clear:both;
	border-top: #ccc 1px solid; 
	font-size: 8pt; 
	padding: 4pt;
}
#documentNotes p{
	margin: 0px;
	padding:0px;
}
#footer {
	border-top: #ccc 2px solid; 
	padding: 4pt;
	clear: both;
}
#footer span{
	font-size: 8pt;
	font-family: verdana,arial,sans-serif;
	display: block;
}


