/* CSS Document */
/* set up columns */
html{
	margin: 0px;
	padding: 0px;
	}
body{
	padding: 0px; 
	margin: 5px; 
	background-color: #ffffff;
	font-family: verdana, helvetica, arial, sans-serif;
}
body, body div, body p, body th, 
body td, body li, body dd, body dl, body ul{
    font-size:    small;      
}
    
.fixed{
	width: 743px;
}

.left{
	float: left;
}
.right{
	float: right;
}
p, td, tr, ul, ol, li, dt, dl, dd, div, span {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
pre{
	font-size: 100%;
}
a img{
	border: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
	color: #A53720;
}
h1{
	font-size:150%;
}
h2{
	font-size:115%;
}
h3{
	font-size:110%;
}
h4{
	font-size:100%;
}
h5{
	font-size:95%;
}
h6{
	font-size:85%;
}
a, td a{
	color: #336699;
}
a:visited, a:active, td a:visited, td a:active {
	color: #666666;
}
a.anchorLinks, a.anchorLinks:visited,  .anchorLinks a, .anchorLinks a:visited{
	color: #336699;
}
p.clear{
	clear: both;
}

/*+++++++++++++++++++++++++*/
/* secondary header styles */
/*+++++++++++++++++++++++++*/
#header{
	color: #ffffff;
	background-color: #0072c2;
	border: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#NLMBanner{
	padding-left: 6px;
}
#printTitle{
	display: none;
	speak:none;
}

#searchForm{
	background-image: none;
	float: right;
	width: 260px;
	color: #ffffff;
	font-size: small;
	font-weight: bold;
	font-family: verdana, helvetica, arial, sans-serif;
}

#searchLabel{
	font-size: 85%;
	display: block;
}
.gobutton{
	border: none;
}

/*redundancy in this class, need to use it outside of the main header*/
 .navbar{
	display:block;
	font-weight: bold;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #ffffff;
	font-size:x-small;
}
.navbar a, .navbar a:visited, .navbar a:active{
	text-decoration: none;
	color:#fff;
}

/*+++++++++++++++++++++++++*/
/*  Breadcrumb Bar         */
/*+++++++++++++++++++++++++*/

#breadcrumb{
	background-color: #666;  
}
#breadcrumb td{
	border-top: 1px solid #ffffff;
}
span#container{
	float: left;
	color: #ffffff; 
	padding: 5px;
	font-size: 85%;
}
span#container A, span#container A:visited, span#container A:hover {
	color: #ffffff
}

span#mwcontainer{
	float: left;
	color: #ffffff; 
	padding: 5px;
	font-size: 85%;
}
span#mwcontainer A, span#mwcontainer A:visited, span#mwcontainer A:hover {
	color: #ffffff
}

/*+++++++++++++++++++++++++*/
/*  Dotted Bar  (Portal Pages)
/*+++++++++++++++++++++++++*/
#dotted-bar{
	background-image: url(../images/triple_dotted_blue.gif); 
	background-repeat: repeat-x; 
	height:9px;
}

/*+++++++++++++++++++++++++*/
/*   Portal Bar            */
/*+++++++++++++++++++++++++*/
#portal{
	background-color: #3c699a;
	color: #ffffff;
	height: 66px;
}
#portal-pageTitle{
	border: none;
	font-size: large; 
	font-weight:bold;
}

#Database-pageTitle{
	border: none;
	font-size: large; 
	font-weight:bold;
}
#portal #Database-pageTitle{
	display: block;
	width: 100%;
	font-size: 160%; 
	margin: 0px;
	padding: 10px 0px 0px 30px;
}
#portal #Database-pageTitle span{
padding-left: 70px;
}
/*+++++++++++++++++++++++++*/
/*   Section Bar           */
/*+++++++++++++++++++++++++*/
#section{
	font-size: 130%;
	height: 45px; 
	padding: 3px;
}

#sectionTitle{
	font-size: 100%;
	padding: .5em 0px 0px 30px;
	float: left;
}

#sectionLogo{
	float: right;
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;	
}

/* color choices for the section header */
.hmd-red{
	background-color: #A61F28; 
	color: #fff;
}
.nlm-blue{
	background-color: #0072c2; 
	color: #fff;
}
.gold{
	background-color: #c28324; 
	color: #fff;
}
.ltPurple{
	background-color: #6b5380; 
	color: #fff;
}
.navy{
	background-color: #1b5d8d; 
	color: #fff;
}
.green{
	background-color: #558000; 
	color: #fff;
}
.gray{
	background-color: #667480; 
	color: #fff;
}
.grape{
	background-color: #89224e; 
	color: #fff;
}
.deepPurple{
	background-color: #464e80; 
	color: #fff;
}
.orange{
	background-color: #cc5f1e; 
	color: #fff;
}
.teal{
	background-color: #408077; 
	color: #fff;
}
.white{
	background-color: #fff; 
	color: #366;
}
.brown{
	background-color: #9a6b3d; 
	color: #fff;
}
.black{
	background-color: #000; 
	color: #fff;
}
.goldenrod{
	background-color: #F7D345; 
	color: #000;
}
.meshGreen{
	background-color: #366;
	color: #fff;
}

#section-menu{
	background-color: #333; 
	color: #fff; 
	text-align: right; 
	font-weight: bold; 
	height: 4px;
}

#section-menu div{
	border-top: 1px solid #fff;
	border-bottom: 2px solid #333;
	padding:2px 5px 1px 0px;
	display: block;
	font-size: 80%; 
	font-family: Arial, Helvetica, sans-serif;
}

#section-menu a, #section-menu a:active, #section-menu a:visited, #section-menu a:hover {
	color: #fff;
	text-decoration: none;
} 

#image-bar{
	height: 65px; 
	background-color: #fff;
	color: #666; 
}

#image-bar #pic-links{
	float: right;
}

#image-bar .title{
	 float: left;
	 text-align: left; 
	 font-weight: bold; 
	 font-size: 90%; 
	 margin: 0px; 
	 padding: 48px 0px 0px 30px;
	 width: 300px;
}
#breadcrumb-alt{
	color: #666;
	background-color: #fff;
}
#breadcrumb-alt div{
	font-size: 80%;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666; 
	margin-left: 30px;
	padding: 2px;
}
#breadcrumbNoPics{
	color: #666;
	background-color: #fff;
}
#breadcrumbNoPics div{
	border-bottom: 1px solid #666; 
	padding: 2px 0px 2px 30px;
	font-size: 80%;
}

/*+++++++++++++++++++++++++*/
/*  Exhibit Navigation     */
/*+++++++++++++++++++++++++*/
#exhibNav{
	display: none;
}

#exhibNav span{
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#exhibNav .current{
	color: #ffcc33;
}

#exhibNav a, #exhibNav span a:visited, #exhibNav span a:active{
	text-decoration: none;
	color: #fff;
}

#projNavigation{
	background:#f2f2f2;
	padding:21px 30px 21px 33px;
	border: none;
	width: 100%;
	border-bottom:2px solid #777;
	border-top: 2px solid #fff;
}
#projNavigation h1{
	color: #000;
}
#projNavigation ul {
	display:inline;
	margin:0px 0px 0px 0px;
	padding:0px;
	list-style-type: none;
}
#projNavigation li {
	display:inline;
	line-height:1.5em;
}

#projNavigation a,#projNavigation a:visited {
	font-size: 90%;
	font-weight:bold;
	color: #2B5681;
	}
#return {
	text-align: right;
}
#return img{
	vertical-align: middle;
}

#return a{
	font-size: 80%;
	font-weight:bold;
	text-decoration: none;
	color: #666666;
}

/*+++++++++++++++++++++++++*/
/*  Global Components      */
/*+++++++++++++++++++++++++*/
h2#prSubTitle{
	color: black;
	margin-top: 10px;
}

/* printer friendly */
#print-box{
	display: none;
}
#print-version{
	display: none;
}
#screen-version{
	display: none;
}

/*
# inverted red/orang arrow bulleted list
# found on the second level menu pages
*/
ul.invArrow{
	list-style-type:none;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

ul.invArrow li{
	margin: 10px 0px 0px 0px;
	list-style-type: disc;
}
ul.invArrow li h3{
	font-size: 110%;
}
ul.invArrow ul{
	list-style-image:url(../images/bullet_greyDisc.gif);
	list-style-position: outside;
	list-style-type: circle;
	margin: 0px;
	padding: 5px 0px 0px 15px;
}
ul.invArrow ul li{
	margin: 0px;
	padding: 0px;
	
}
ul.invArrow p{
	margin:0px;
	padding-top:5px;
}
ul.invArrow ul p{
	padding-top:0px;
}
/*
#HMD TOC List 
*/
ul.redArrow{
	list-style-image: url(/images/bullet_hmd_arrow.gif);
	list-style-position: outside;
	margin-left:18px;
	padding-left:0px;
}
ul.redArrow h2{
	font-size: 130%;
	line-height: .8em;
	color: #666;
	margin-top: 1em;
}
.redArrow h2{
	color: #666;
}
.redArrow h2 a{
	color: #666;
}
ul.redArrow h2 a{
	color: #666;
}
.redArrow ul{
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	margin-top: 8px;
	margin-left: 0px;
	padding-left: 0px;
}


.redArrow ul h3{
	color: black;
}

.redArrow p{
	margin-top: 6px;
}

.redArrow ul ul{
	list-style-type: disc;
	margin:3px 0px 10px 18px; 
}

.redArrow ul ol{
	margin:3px 0px 10px 2em; 
	padding:0px;
}
/*
* HMD anchors link list
*/
ul.anchorLinks li{
	margin-bottom: .5em;
}
ul.anchorLinks ul{
	padding: 2px 0px 5px 15px;
	margin: 0px;
}
ul.anchorLinks ul li{
	margin-bottom: auto;
}
/*
#HMD standardList, used for exceptions to the TOC List
*/
ul.HMDstandard{
	list-style-image: url(../images/bullet_hmd_arrow.gif);
	list-style-position: outside;
	padding: 0px 0px 0px 15px;
	margin: 0px 0px 1em 0px;
}
ul.HMDstandard h2{
	font-size: 130%;
	margin-top: 1em;
	color: #666;
}

ul.HMDstandard h3{
	font-size: 115%;
	margin-top: 1em;
	color: #000;
}

ul.HMDstandard p{
	margin: 5px 0px 0px 0px;
}

.HMDstandard ul{
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;
	margin: 0px;
	padding: 0px 0px 0px 16px;
}

/*
# service listing (portal page)
# list containing green titles (h2)
*/
ul.portal-ServiceList{
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}
ul.portal-ServiceList h2{
	font-size: 120%;
	font-weight: bold;
	color: #ffffff;
	background-color: #336666;
	margin: 0px;
	padding: 3px;
	display: block;
	border: none;
}

ul.portal-ServiceList li{
	margin-bottom: 1em;
}

ul.portal-ServiceList ul{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}


/*
# search box table
*/
td.info{
	text-align: left;
}

.searches .info ul{
	padding: 0px;
	margin:5px 0px 5px 0px;
}
.searches td.forms{
	color:#666;
	padding: 5px;
}

td.forms form{	
	text-align: left;
	color:#666;
	font-weight: bold;
}
.forms input.text{

}

/*
#online exhibitions images
*/
#exhibitions div{
	border: 1px solid #ccc; 
	width: 214px; 
	text-align: center;
}

#exhibitions div span{
	padding: 2px; 
	border-top: 1px solid #ccc; 
	display: block;
	font-size: xx-small; 

}

/*
#online exhibition styles
*/

#listings {
	padding:0px 0px 30px 33px;
}
#listings ul {
	list-style-type: none;
	margin:0px;
	padding: 0px;
}

#listings ul ul{
	list-style-type: disc;
	list-style-image: url(/images/blue_bullet.gif); 
	padding: 0px;
	margin-left: 54px;

}
#listings h2 {
	background:#f2f2f2;
	padding:4px 0px 4px 34px;
	margin-bottom:5px;
	margin-top:19px;
	color:#333;
	border:none;
}

/*
#  Misc componenents/styles
*/
.spacer{
	clear: both;
	padding:2px;
}
#totop{
	display: none;
}

/* a-z list linking to Mplus */
#medlineList h3{
	color: #000;
	padding-top: 15px;
}

div#medlineList p{
	font-weight: bold;
}

.highlighted {
	border: 1px solid #fff; 
	padding: 3px;
	color: #000;
	background-color: #ebf3f8;
}
h2.highlighted{
	margin: 15px 0px 0px 0px;
}
a.toTopArrow, a.toTopArrow:visited{
	color: #777;
	text-decoration: none;
	font-weight: bold;
	font-size: 85%;
	line-height: .72em;
}

.top_bottom{
	padding: 2px 0px 2px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* healthservices page unique styles */
.tfoot{
	background-color: #414891; 
	color: #fff;
}
.tfoot li{
	display: inline;
}

/*+++++++++++++++++++++++++*/
/*  secondary columns      */
/*+++++++++++++++++++++++++*/
/*
# style from second level menu pages
# right sidebar gives associated info
# left and right borders will switched base on left/right container class 
*/

#relatedBar{
	text-align: left;
}
#relatedBar ul {
	list-style: none;

}
#relatedBar h2{
	margin: 0px;
	padding: 0px;
}

#relatedBar ul ul {
	list-style-type: disc;
	list-style-position:outside;
	padding: 5px 2px 5px 5px;
}
#relatedBar ul ul li{
	padding: 5px 0px 0px 10px;
}

/*
#relatedPages
#HMD related Pages style
*/
#relatedPages{
	border-left: 1px solid #666;
}
#relatedPages ul h2{
	font-size: 100%;
	padding: 0px;
	margin-top: 15px;
	color: #666;
}
#relatedPages ul{
	list-style: none;
	padding: 5px;
	margin: 0px;
}
#relatedPages ul li{
	padding-bottom: 3px;
}

#relatedPages ul ul{
	font-size: 90%;
	list-style: none;
	padding: 0px;
	margin:0px;
}

/*
# site index page
*/
ul.indexList{
	list-style-type: none;
	margin: 3px 0px 4px 0px;
	padding: 0px;
}
ul.indexList li{
	margin: 3px 0px 1em 0px;
}
ul.indexList li h2{
	background-image: url(../images/whiteArrow.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 16px;
	background-color: #0072c2;
	color: #fff;
	border: none;
}
ul.indexList h2 a, ul.indexList h2 a:visited{
	background-color: #0072c2;
	text-decoration: none;
	color: #fff;
}
ul.indexList h2.noLink{
	background-color: #999;
}
.indexList ul{
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}
ul.indexList li li{
	background-image: url(../images/indexListBgArrow.gif);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 5px 0px 0px 0px;
	padding: 3px 0px 3px 15px;
}
.indexList li.shaded {
	background-color: #f2f2f2
}

/*
# supplemental info/ menu sidebar: portal-greyTitles
# info-bar or menu style with grey titles bordered on three sides
# left and right borders will switched base on left/right container class 
*/
#portal-greyTitles{
	text-align: left;
}
#portal-greyTitles h2{
	color: #494949;
	font-size: 105%;
	font-weight: bold;
	padding: 3px 3px 3px 10px;
	border-top: 2px solid #999;
	border-bottom: 1px solid #999;
}
.right #portal-greyTitles h2{
	border-left: 1px solid #999;
	border-right: none;
}
.left #portal-greyTitles h2{
	border-right: 1px solid #999;
	border-left: none;
}
#portal-greyTitles ul{
	margin: 0px;
	padding: 0px;
	font-size: 90%;
}

#portal-greyTitles ul li{
	list-style-type: none;

	margin-bottom: .8em;
}
#portal-greyTitles ul ul{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}
#portal-greyTitles ul ul li{
	list-style-type: none;
	
}

/* resources tables*/
.right div.resourceGroup {
    padding: 5px 27px 0px 14px;	
	margin: 0px 0px 30px; 
	border-left: 1px solid #999;
}

.left div.resourceGroup{
    padding: 5px 27px 0px 14px;
	margin: 0px 0px 30px 0px; 
	border-right: 1px solid #999;
}

#portal-greyTitles .top_bottom{
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	margin: 0px 0px 30px; 
	padding: 10px 0px 0px 0px;
}

p.instruction{
	margin: 0px;
	float: right;
	text-align: right;
}
h2.resTitle{
	font-size: 135%;
	color: #0072c2;
	background-color: #fff;
	margin: 3% 0px 5px 5%;
}
.blueBorder{
	border-top: 10px solid #00559a;
	border-bottom: 10px solid #00559a;
	padding: 2px 0px 2px 0px ;
}
.ltBlueBorder{
	border-top: 10px solid #cde4f6;
	border-bottom: 10px solid #cde4f6;
	padding: 2px 0px 2px 0px ;
}
.greyBorder{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1px 0px 1px 0px;
	margin: 0px 5% 5% 5%;
}

table#selectedResources{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}
table#moreResources{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}
#selectedResources td{
	background-color: #cde4f6; 
	border-top: #fff 1px solid;
	border-left: #fff 1px solid;
	border-right: #999 1px solid; 
	border-bottom: #b3bfc8 1px solid; 
	padding: 11px 13px 11px 13px;
	width: 50%;
	vertical-align: top;
}
#moreResources td{
	border-top: #fff 1px solid;
	border-left: #aaa 1px solid;
	border-right: #999 1px solid; 
	border-bottom: #b3bfc8 1px solid; 
	padding: 11px 13px 11px 13px;
	width: 50%;
	vertical-align: top;
}
div.resource{
	float: left;
	width: 90%;
}
div.resource p{
	margin: 0px;
	font-size: 80%;
}
div.resource a, div.resource a:visited {
	color: #336699;
	text-decoration: none;
}
div.resource a:hover{
	text-decoration:underline;
}
td .help{
	float: right; 
	border: none;
}

/*+++++++++++++++++++++++++*/
/*  Global Footer Style    */
/*+++++++++++++++++++++++++*/
#documentNotes {
	border-top: #ccc 1px solid; 
	padding: 5px;
	margin-top: 3px;
	clear: both;
}
#documentNotes p{
	font-size: 80%; 
	padding: 0px;
	margin: 0px;
}
#footer {
	padding: 5px;
	clear: both;
}
#footer a:visited {
	color: #336699
}
#footer span{
	font-size: 80%;
	font-family: verdana,arial,sans-serif;
	color: #666; 
	display: block;
}

.hidden {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  
#skip {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
  }