/*****************************************************************
 * HW-provided Top-level CSS stylesheet for cshljnls site
 *
 * Should contain (or import) all styles used across many pages
 * within the site, and overrides to HW global CSS stylesheet.
 * 
 *****************************************************************/

@import url("hw-cshljnls-sidebars.css");

#header .topright-ads ul {
background-color:#FFFFFF;
border:1px solid #FFFFFF;
position:absolute;
top:0;
left:420px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding: 17px 0 0 0;
width:468px;
}

#header .topright-ads li {
height:60px;
margin:0;
padding:0;
text-align:center;
width:468px;
}

#header .banner-ads {
        left: 380px;
        width:500px;
        top: -10px;
}

#header .banner-ads li {
    display:inline;
}

#header .banner-ads li img {
    display:inline;
    border: 0px;
}


#col-3 {
    float: right;
}

#col-3 ul.tower-ads {
    padding: 20px;
}

#header ul.header-buttons {
	right: 0;
}

#sub-footer {
    background-color: white;
    margin-left: 10px;
}

#sub-footer .footer-icon-group {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 5px 0 5px 37px;
    padding-left: 0px;
    padding-top: 12px;
    vertical-align: middle;
}

#sub-footer .footer-icon-group li {
    border-left: 1px solid #F5F5F5;
    display: inline;
    margin: 0pt;
    padding: 0 50px 0 0;
}

#sub-footer .footer-icon-group li a {
    padding-right: 10px;
}


/***cshl journal_logo 8px taller than standard***/
#header .header-qs {
top:125px; 
}

#header #hdr-login {
height:88px; 
}
/*** end custom journal logo size css ***/

#footer .footer-group a {
color:white;
}

/*matching standard design #footer .copyright margin and padding*/
#footer .footer-buttons {
margin:1em auto;
}

#footer .footer-group .copyright {
    font-family: arial,sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    padding: 5px 10px;
}

#footer .footer-buttons li {
border-color: #F5F5F5;
}

#footer .footer-buttons li.first {
        border-left: none;
        padding-left: 0;
}

#footer .footer-group ul {
padding-left: 10px;
}

#footer {
background-image: none;
}

.cit.openaccess {
background-color:#FFFFFF;
}

.cit .open-access-indicator {
        color: #707070;
}

.cit .open-access-note {
        color: #707070;
}

.cit cite .cit-sep-vol {
        padding: 0 4px 0 0;
}

#pageid-home #content-block .jnl-links a
{
color:#666666;
}

#pageid-home #content-block .main-block h2.under-cover-info, #pageid-home #content-block .main-block div.cshl-announcements, #pageid-home #content-block .main-block .other-pub {
    margin-left: 40px;
    margin-bottom: 1em;
    width: 242px;
}

#pageid-home #content-block .main-block .other-pub ul {
    line-height: 0.9em;
    padding-top: 0.4em;
}

#pageid-home #content-block .main-block .other-pub ul li {
list-style: none;
display: inline;
list-style-position: inside;
}

#pageid-home #content-block .main-block .other-pub ul li a {
font-size: .8em;
color: #336699;
}

#pageid-home #content-block .main-block .other-pub h3 {
margin: 0;
font-size: 0.9em;
color: #666666;
font-weight: bold;
font-style: italic;
}

#pageid-home #content-block .main-block .cshl-announcements li {
padding: 0.2em;
}

#pageid-home #content-block .in-this-issue ul a {
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
}

div#docked-slugline .slug-pub-date,
div#docked-slugline .slug-pages,
div#slugline cite .slug-pub-date,
div#slugline cite .slug-pages {
        font-weight:normal;
}

#header .header-buttons,
#footer .footer-buttons {
    font-family: arial,sans-serif;
}

#footer .footer-buttons {
    font-size: 10.6667px;
}

#header .inst-branding, #header #hdr-login, #header .header-qs {
    border-left:0px solid;
}

div#header {
    background-image:none;
}

#header .bar, #footer .bar {
    margin-left:0;
    padding-left:0;
    width:960px;
}
