/*****************************************************************
 * HW-provided CSS stylesheet specific to journal content pages
 *****************************************************************/

div.ref-list cite abbr.cit-jnl-abbrev {
        	font-style: italic;
}
div.ref-list .cit-vol {
        	font-weight: 600;
}

div.ref-cit .cit-metadata span.cit-pub-id {
        display: inline;
}

.article div.section h3, .article div.section h4, .article div.section h5 {
display:block;

}

div#content-block div.article h3.kwd-header{
	padding-top:2px;
	border-top:1px dotted #999999;
}

div#content-block div.article ul.kwd-group {
	border-top:0px solid;
}

#content-block .cit .cit-metadata .cit-title {
    padding-left: 5px;
    display: block;
}

#content-block .cit .cit-metadata .cit-auth-list {
    padding-left: 38px;
    display: block;
}

/* above style not for reference lists */
#content-block div.ref-list .cit .cit-metadata .cit-auth-list {
    padding-left: 0px;
    display: inline;
}

#content-block .references-only-view .cit .cit-metadata .cit-title {
    padding-left: 0px;
    display: inline;
}

#content-block .references-only-view .cit .cit-metadata .cit-auth-list {
    padding-left: 0px;
    display: inline;
}

#content-block ul.kwd-group li.kwd {
background-color:transparent;
}

/* no display for table captions and footers */
div.table-expansion div.table-caption,
div.table-expansion div.table-foot {
	display: none;
}