 /*****************************************************************
 * HW-provided Top-level CSS stylesheet for journal site
 *
 * Should contain (or import) all styles used across many pages
 * within the site, and overrides to HW global CSS stylesheet.
 * 
 *****************************************************************/
 /** requires sidebar styles **/


@import url("hw-journal-sidebars.css");

#header .header-buttons, #header .header-buttons a, #header #hdr-login {
        color: #333333;
}

#header .bar-inner, #footer .footer-group {
        background-color: #336699; /*override in local*/
}

#header .bar, #footer .bar {
        background-color: #224466; /*override in local*/
}

div.hw-gen-page a, div.hw-gen-page a:link {
	color: #336699;
}

/*****************************************************************
 * HW-provided CSS stylesheet for journal Home page
 *****************************************************************/


#pageid-home #content-block h2, #pageid-home #content-block h3, #pageid-home #content-block h2 a, #pageid-home #content-block div.home-announce a {
        color:#336699;
}

#pageid-home #content-block h2.current-issue  {
        border-bottom: 1px dotted #336699;
}

#pageid-home #content-block .in-this-issue ul a, #pageid-home #content-block .in-this-issue h2 {
        border-color: #336699;
}

.pap-index-page-name {
	font-style:italic;
}

.accepted-preprints-name {
	font-style:italic;
}

.cit .accepted-manuscript {
    color:#A70716;
}

#pageid-home #content-block .in-this-issue ul a, #pageid-home #content-block .in-this-issue h2 {
    border-color:#336699;
}