
.collab_infobox a a:link {
	color: #0000b5; 
	text-decoration: none;
}

.collab_infobox a:visited {
	color: #575757; 
  	text-decoration: none;
}

.collab_infobox a:hover {
	color: #007eb5; 
	text-decoration: none;
}

.collab_infobox div, html, input, select, table, td {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 1em;
}

.collab_body {
	font-family: Helvetica, Arial, sans-serif;
   align: left;
	font-size: 1.0em;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #575757;
}


.collab_grayTable {
    background-color:#F6F6F6;
    border-color:#CCCCCC rgb(204, 204, 204) -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:0.9em;
    padding:0px;
}
.collab_grayHeader {
    /* background-image:url(<bean:write name='collabBkInfo' property='imgPath' />/right_gradient.gif); */
    background-repeat:repeat-x;
    border-bottom:1px solid #CCCCCC;
    padding:7px 5px;
}
.collab_collabHeader {
    /* background-image:url(<bean:write name='collabBkInfo' property='imgPath' />/right_gradient.gif); */
    background-repeat:repeat-x;
    border-bottom:1px solid #CCCCCC;
    padding-bottom:7px;
    padding-top:7px;
}
#rightPane {
    display:inline;
}
#rightPane.hide {
    display:none;
}

#colint_box, #colint_box_timeout, #colint_box_noinfo {
    border: 1px solid #CCCCCC;
    /* height: 210px; */
    /* height: 226px; */
    width: 338px;
}

.collab_infobox img {
	border-style: none;
}


.collab_infobubble-container {
    position:relative;
    z-index:10;
}
.collab_infobox ul {
    /* list-style-image:url(<bean:write name='collabBkInfo' property='imgPath' />/bullet_small.gif); */
    list-style-type:none;
    margin:0px 0px 0px 15px;
    padding:0px;
    text-indent:3px;
    vertical-align:middle;
}
.collab_infobox li a:hover {
    text-decoration:none;
}
.collab_infobubble {
    background-color:#EFEFEF;
    border:1px solid #999999;
    display:none;
    left:-300px;
    padding:8px 10px 10px;
    position:absolute;
    text-indent:-1px;
    top:0px;
    width:290px;
}
.collab_infobubble2 {
    background-color:#EFEFEF;
    border:1px solid #999999;
    display:none;
    left:0px;
    padding:8px 10px 10px;
    position:absolute;
    text-indent:-1px;
    top:10px;
    width:290px;
    z-index:30;
}
.collab_infobubble span {
    color:#000000;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}
.collabScroll {
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    height:100px;
    overflow:auto;
    padding:2px;
}
.collabLink {
    background-color:#F6F6F6;
    padding-bottom:5px;
    padding-top:5px;
    width:336px;
}
.collabContainer {
    background-color:#FFFFFF;
}
