/* koala CSS - warning: not processed by TWiki templating engine for %-vars */
/* see: http://www.richinstyle.com/masterclass/fonts.html */
@import url(fonts.css);
/* Buggy browsers: avoid em */
body {font-size: 16px;font-family:verdana,arial,geneva,helvetica,sans-serif;}
code, kbd, tt, samp, pre {font: 16px /* 16*.9 */ monospace; overflow: auto;}
big, large {font-size: 18px}
small, sup, sub {font-size: 14px}
h1 {font: 32px sans-serif}
h2 {font: 28px sans-serif}
h3 {font: 24px sans-serif}
h4 {font: 21px sans-serif}
h5 {font: 18px sans-serif}
h6 {font: 16px sans-serif}

.footer{font-size: 14px}
.small{font-size: 14px}
.xsmall{font-size: 12px}
.buttonBar{font-size: 14px; font-weight: bold;}
.title {font-size: 18px; font-weight: bold;}
.headline {font-size:32px;font-weight:bold;}
.topicTitleBig {font-size: 18px;font-family:arial,geneva,helvetica,sans-serif;}
.topicTitleSmall {font-size: 14px;font-family:arial,geneva,helvetica,sans-serif;}
.topicItem {font-size: 14px;font-family:arial,geneva,helvetica,sans-serif;}

.groupsbar {font-family:arial,geneva,helvetica,sans-serif;}
.websbar {font-family:arial,geneva,helvetica,sans-serif;}

/* tables */
table.topic {border-collapse:collapse;border: 1px solid #9f001a;border-spacing: 0px}
table.topic tr th {text-align:left;font-weight: bold; padding: 2px; color: #efc2ca; background: #9f001a}
table.topic tr td {padding: 2px; background: #efc2ca}
table.topic tr td ul {padding-left:0em; margin-left:1.5em;}

/* general */
body {background : #FFFFFF; color: black;}
td.contents {margin-left:10}
span.text * i {color: #5f000f}
span.text * b {color: #5f000f}
span.text * strong em {color: #5f000f}
.none {display:none}
.invisibleInNormal {display:none}
.headline:link, .headline:visited, .headline:active {text-decoration:none;}
#leftbar{float:left;width: 110;margin-top: 10px;}
#text {margin-left: 110px; padding-left:10px;}
#footer {clear: left;}

/* class definition for groups */
.group:link, .group:visited, .group:active {
 font-weight: bold; text-align: center;	text-decoration:none; color: black;}
.groupCell {background: #e0e0c0;}
.selectedGroup:link, .selectedGroup:visited, .selectedGroup:active {
 font-weight: bold; color: #ffddaa; text-align: center;
 text-decoration:none;}
.selectedGroupCell {background: #9f001a;}
.unselectedGroup:link, .unselectedGroup:visited, .unselectedGroup:active {
 font-weight: bold; text-align: center; text-decoration:none; color: white;}
.unselectedGroupCell {background: #9f001a;}

/* class definition for webs */
.web:link, .web:visited, .web:active {
 font-weight: bold; text-align: center; text-decoration:none; color: white;}
.webCell {background: #9f001a;}
.selectedWeb:link, .selectedWeb:visited, .selectedWeb:active {
 font-weight: bold; text-align: center; color: #ffddaa; \
 text-decoration:none;}
.selectedWebCell {background: #9f001a;}

/* class definition for topics */
.topicTableOutline {background: #9f001a;}
.topicTitle {
 font-weight: bold; margin-left:5; margin-right:5; margin-top:2;
 margin-bottom:2; color: #efc2ca; background: #9f001a;}
span.topicTitle b {color: #efc2ca}
.topicTitle a:link, .topicTitleBig a:visited, .topicTitleBig a:active {
 text-decoration:none; color: white;}
.topicTitleBig {
 font-weight: bold; margin-left:5; margin-right:5;
 margin-top:2; margin-bottom:2; color: #efc2ca;}
.topicTitleBig a:link, .topicTitleBig a:visited, .topicTitleBig a:active {
 text-decoration:none;color: white;}
.topicTitleSmall {
 font-weight: normal; margin-left:5; margin-right:5;
 margin-top:2; margin-bottom:2; color: #efc2ca;}
.topicTitleSmall a:link, .topicTitleSmall a:visited, .topicTitleSmall a:active
{ text-decoration:none;	color: white;}
.topicTitleCell {background: #9f001a;}
.topicItem {margin-left:10; margin-right:10; margin-top:5;
 margin-bottom:5;}
.topicItemCell {background: #efc2ca;}
.topicItemCell2 {background: #efd1d6;}
.inv:link, .inv:visited, .inv:active {color: #efd1d6;}

/* contents */
.color {color: #5f000f}
blockquote {background:#efd1d6; border: thin solid #5f000f; 
 padding: 1%; margin: 2%;} 
q {color: #5f000f}
dt { font-weight: bold;float: left;display:inline;margin-right: 1em}
dd { display:block; margin-left: 2em}
dl.block dt {float: none;display:block;margin-right: 0em}
dl.signature dd {margin-left: 30em}
.bg1-Research{background:#9f001a;color:white;}
.bg2-Research{background:#efc2ca;color:white;}
.bg1-Main{background:#9f001a;color:white;}
.bg2-Main{background:#efc2ca;color:white;}
.bg1-JBrowse{background:#9f001a;color:white;}
.bg2-JBrowse{background:#efc2ca;color:white;}
.bg1-TWiki{background:#9f001a;color:white;}
.bg2-TWiki{background:#efc2ca;color:white;}
.bg1-Teaching{background:#009e9f;color:white;}
.bg2-Teaching{background:#c2efef;color:white;}
.bg1-Fall08{background:#009e9f;color:white;}
.bg2-Fall08{background:#c2efef;color:white;}
.bg1-Sandbox{background:#009e9f;color:white;}
.bg2-Sandbox{background:#c2efef;color:white;}
.bg1-Blog{background:#9f0000;color:white;}
.bg2-Blog{background:#efc2c2;color:white;}
.bg1-Fall07{background:#009e9f;color:white;}
.bg2-Fall07{background:#c2efef;color:white;}
.bg1-Fly{background:#009f0b;color:white;}
.bg2-Fly{background:#c2efc6;color:white;}
