
a { background-color: rgb(255, 255, 204) ! important; }

body {
	font-family: Arial, "Bitstream Vera Sans", Helvetica, sans-serif;
	margin: 1% 20% 1% 10%;
}

.main {
	clear: both;
}

.headbox { 
  background: #FFE9B4;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 10%;
  margin-right: 10%;
}
.headboxtop { 
  background: url(img/headne.gif) no-repeat top right; 
}
.headboxtop div { 
  height: 15px; 
  background: url(img/headnw.gif) no-repeat top left; 
}
.headboxbottom { 
  background: url(img/headse.gif) no-repeat bottom right; 
}
.headboxbottom div { 
  height: 15px; 
  background: url(img/headsw.gif) no-repeat bottom left; 
}
.headboxcontent {
	padding: 0px 15px 0px 15px;
	text-align: center;
	font-size: 400%;
}

.footer {
	margin-top: 25px;
	border-top: 3px solid;
}
.copyright {
	font: x-small italic;
	text-align: center;
	border-top: 1px solid;
}
