.rwui_expandable_item_title.rwui_expand {
    font-size: 18px;
    color: #2085b3 !important;
    font-family: Bitter, Georgia, Times, "Times New Roman," serif;
    font-weight: 400;
}
.rwui_expandable_item_body, 
.rwui_expandable_item_body p {
    background-color: #FFF;
}

.rwui_expandable_item {
    background: #ebf2f9;
}

.rwui_expandable_item_title.rwui_expand:hover {
    color: #ebf2f9 !important;
    background-color: #2085b3 !important;
}

.brikit-header-backdrop {
    margin: 0 0 0 0 !important;
}

.brikit-page-metadata {
    visibility: hidden;
    display: none;
}

.brikit-content-layer-table {
    background-color: #FFF;
}

.brikit-architect-container-content .brikit-content-layer-table {
    background-color: #192e59;
}

.brikit-content-layer-table {
    border-width: 0px !important;
}

.wiki-content.brikit-draggable-area.brikit-content-layers {
    background-color: #FFF;
}

.brikit-container.brikit-header-container,
.brikit-header-backdrop,
.aui-header {
    background-color: #2085b3 !important;
}

#brikit-toggle-header-button {
    position: absolute;
    top: 52px;
}

#main-header.brikit-header {
    position: relative;
    height: 70px !important;
    background-color: #2085b3;
}

/* TITLE - h1 */
.brikit-content-layer-table h1 {
    color: #2085b3;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* CONTENT - h4 */
.brikit-content-layers h4 {
    margin-top: 10px !important;
}

/* DROPDOWN */
.aui-dropdown2.aui-style-default.brikit-menu-dropdown ul li a {
    background-color: #2085b3 !important;
    text-align: center;
    font-size: 16px;
    font-family: Bitter, Georgia, Times, "Times New Roman," serif;
}

.aui-dropdown2.aui-style-default.brikit-menu-dropdown ul li a:hover {
    background-color: #33CCCC !important;
    color: #FFFFFF;
}

.brikit-menu-dropdown.aui-dropdown2.aui-style-default a.active {
    /* font-size: 28px !important; */
}

.aui-dropdown1-trigger,
.aui-dropdown2-trigger,
.aui-dropdown3-trigger,
.aui-dropdown4-trigger,
.aui-dropdown5-trigger {
    color: #ebf2f9 !important; !important;
}

/* BOLD FIRST DROPDOWN ITEM */
.aui-dropdown2.aui-style-default strong  {
    padding: 0px 0px !important;
}
.aui-dropdown2.aui-style-default strong a {
    padding: 0px 0px !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: #FFFFF !important;
}
.blog-post-list li.blog-item .blog-title,
.blog-item .blog-title a {
    font-size: 24px;
    font-weight: 600;
    display: inline !important; 
    visibility: visible;
}

.blog-post-list .sub-heading,
.blog-item .icon.icon-blog,
.blot-item .blog-item-space,
.blog-item .blog-title {
    display: none !important;
    visibility: hidden !important;
}


.blog-title span .icon.icon-blog {
    visibility: visible;
    display: block;
}

.blog-item-creator,
.blog-item-space {
    display: none !important;
    visibility: hidden !important;   
}

#Home-Introduction {
    margin-top: 10px;
    margin-bottom: 10px;
}

.brikit-container-backdrop.brikit-title-backdrop {
    display: none !important;
    visibility: hidden !important;       
}

.brikit-content-block.designable-element p {
    margin-top: 0px;
}

.brikit-content-block.designable-element h2 {
    margin-top: 12px;
}

.brikit-content-block.designable-element.edit-focus a {
    color: #33CCCC;
}

/* SUPPRESS EXPAND PANE BOTTOM BORDER ON HOVER */
.rwui_expandable_item_title {
    border-bottom: none !important;    
}

/* SET WIDTH OF LEFT NAVIGATION BAR */
#content-column-11 {
    width: 300px !important;
}

.code, code, pre {
    color: #FFF;
    background-color: #000;
    font-family: "Source Code Pro",sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15),0 0 3px rgba(0,0,0,0.15);
    padding: .99em;
    position: relative;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
    font-size: 0.95em;
    line-height: 1.8em;
}

.preformatted.panel {
    border-width: 0px !important;
}

.panelContent {
    padding: 5px !important;
}

.rwui_expandable_item_body {
    padding: 1px 1px 1px 1px !important;
}

.rwui_text_box {
    background-color: #FFF;
    padding: 0px !important;
    margin: 0px !important;
}

.rwui_text_box pre {
    background-color: #FFD;
    color: #000;
}

.brikit-container {
    width: 100% !important;
}

