/* -- THIS IS A TEMP PRINT CSS, near direct copy of screen.css, enables near true print for staff -- */
/* CHANGES FROM screen.css:
	npmangin - hide display of mouseover navigation
	npmangin - hide display of TOCs
*/

/* -- CSS FOR SCREEN, 2005.03.18 -- */

/* redefined tags */
body, input, select, textarea {  
	font-family: verdana, arial, sans-serif; 
	font-size: 10px;
}
body {
	background-color: #acac9f;
	margin-top: 13px;
}
h1 {
	font-size:13px; 
	text-transform: uppercase;
}
h2 { 
	font-size:12px; 
} 
h3 { 
	font-size:11px; 
} 
h1, h2, h3 { 
   padding-top:4px; 
   padding-bottom:4px;	
} 
form {
	padding: 0;
	margin: 0;
}
/*	
p {
   margin-top: 7px; margin-bottom: 7px;
	padding-top:2px; padding-bottom:2px; 
}*/
hr {
	color: #d6d6d6;
	background-color: #d6d6d6;
    height: 1px;
    border: 0;
}

/* banner navigation */
#bannerNav {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #4d4036;
	border-bottom-color: #4d4036;
	border-left-color: #4d4036;
}
#bannerNavPlain {
	background-color: #333;
	height: 31px;
	color: #ede894;
	padding-left: 5px;
}
#bannerNavPlain a {
	color: #ede894; 
	text-decoration:none;
	padding:0 4px; 
}
#bannerNavPlain a:hover { 
	color: #ede894; 
	text-decoration:underline; 
}

/* banner images */
#bannerLogo {
	border: 1px solid #4d4036;
}
#bannerImg {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-color: #4d4036;
	border-bottom-color: #4d4036;
	border-right-color: #4d4036;
}

/* shadow classes */
.shadowRight {
	background-image: url(/website/images/shadowRight.gif);
	background-repeat: repeat-y;
}
.shadowBottom { 
	background:url(/website/images/shadowBottom.gif);
	background-repeat: repeat-x; 
	width:100%; 
	height:3px; 
}

/* my library bar */
#myLibraryBar {
	background-color: #333;
	height: 29px;
	color: #ccc;
}
#myLibraryBarText{
	padding-left: 5px;
}
#myLibraryBarTitle {
	color:#f8f5a5;
	font-weight:bold;
	padding-left: 4px;
}
.myLibraryBarLinks {
	color:#ccc;
	text-decoration:none;
	padding-right: 8px;
	padding-left: 8px;
}
.myLibraryBarLinks:hover {
	color: #ccc; 
	text-decoration: underline;
}
#myLibraryBarLogInOut { 
	color: #f8f5a5;
	padding-right: 4px; 
}
.myLibraryBarLogInOutLinks {
	color: #f8f5a5;
	padding-right: 5px;
	padding-left: 5px;
}

/* quick links & search */
#quickLinksBarLeft {
	background-color: #fff;
	vertical-align:top; 
	height:29px; 
	border-top:1px solid #87876d; 
	border-left:1px solid #87876d; 
}
#quickLinksBarRight {
	background-color: #fff; 
	vertical-align:top; 
	border-top:1px solid #87876d; 	
	border-right:1px solid #87876d; 
}
#quickLinksBarContainer { 
	padding:5px 5px 0 0; 	
	color:#920909; 
}
#quickLinksBar a { 
	color:#920909; 
	text-decoration:none; 
	padding: 0 6px 0 6px; 
}
#quickLinksBar a:hover { 
	color:#920909; 
	text-decoration:underline; 
}
#quickLinksBarSearch { 
	width:90px; 
}
.quickLinksBarSubmit { 
   font:9px verdana, sans-serif; color:#920909; font-weight:bold;
}
/* .quickLinksBarSearchSubmit { 
   font:9px verdana, sans-serif; color:#920909; font-weight:bold;
	font-weight:bold; 
	background-color: #fff;
	border: 1;
   color:#920909;
	text-decoration:none; 
	padding: 0 0 0 0px; 
}*/

/* category bar */
#catBarBrowseSubjects {	
	background-color:#605298;
	border: 3px solid #fff;
}
#catBarCommunity {	
	background-color:#920909;
	border: 3px solid #fff;
}
#catBarLibraryInfo {	
	background-color:#6f584d;
	border: 3px solid #fff;
}
#catBarNewsEvents {	
	background-color:#095a09;
	border: 3px solid #fff;
}
#catBarSearchCollection {	
	background-color:#d40715;
	border: 3px solid #fff;
}
#catBarServices {	
	background-color:#78b2a1;
	border: 3px solid #fff;
}
#catBarWebDev {	
	background-color:#a85300;
	border: 3px solid #fff;
}

/* main content */
#mainContent {	
	border:1px solid #87876d;
	background-color: #fff;
	font: 11px/1.4em verdana, arial, sans-serif;
}
#mainContent a {
	text-decoration: none;
}
#mainContent a:hover {
	text-decoration: underline;
}
/* ------ Browse Subjects -- */
#mainContentTOCBrowseSubjects, #mainContentTOCBrowseSubjectsG {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCBrowseSubjects, #mainContentTOCBrowseSubjects a, #mainContentTextBrowseSubjects a {
	color: #605298;	
}
#mainContentTextBrowseSubjects {
	font: 10px/1.3 verdana, arial, sans-serif;
	padding: 20px 30px;
}
#mainContentTextBrowseSubjectsG {
	padding: 20px 30px;
}
/* ------ Community */
#mainContentTOCCommunity {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCCommunity, #mainContentTOCCommunity a, #mainContentTextCommunity a {
	color: #920909;
}
#mainContentTextCommunity {
	padding: 20px 30px;
}
/* ------ Library Information */
#mainContentTOCLibraryInfo {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCLibraryInfo, #mainContentTOCLibraryInfo a, #mainContentTextLibraryInfo a {
	color: #a85300;
}
#mainContentTextLibraryInfo {	
	padding: 20px 30px;
}
/* ------ News/Events */
#mainContentTOCNewsEvents {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCNewsEvents, #mainContentTOCNewsEvents a, #mainContentTextNewsEvents a {
	color: #095a09;
}
#mainContentTextNewsEvents {
	padding: 20px 30px;
}

/* ------ Search the Collection */
#mainContentTOCSearchCollection {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCSearchCollection, #mainContentTOCSearchCollection a, #mainContentTextSearchCollection a {
	color: #d40715;
}
#mainContentTextSearchCollection {
	padding: 20px 30px;
}
/* ------ Services */
#mainContentTOCServices {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCServices, #mainContentTOCServices a, #mainContentTextServices a {
	color: #4B8775;
}
#mainContentTextServices {
	padding: 20px 30px;
}
/* ------ Web Development */
#mainContentTOCWebDev {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCWebDev, #mainContentTOCWebDev a, #mainContentTextWebDev a {
	color: #a85300;
}
#mainContentTextWebDev {	
	padding: 20px 30px;
}
/* ------ Plain */
#mainContentTOCPlain {
	font: 11px/1.2em arial, verdana, sans-serif; 
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 26px;	
}
#mainContentTOCPlain, #mainContentTOCPlain a, #mainContentTextPlain a {
	color: #0000FF;
}
#mainContentTextPlain {
	padding: 20px 30px;
}

/* tabs */
#tabContainer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tabOn {
    color: #333;
    background-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-width: 1px;
    border-bottom-color: #dddddd;
  font-weight: bold;
}
.tabOff {       
    background-color: #ccc;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
} 

/*
.tabOn {        
	color: #eeeeee;
	background-color: #fff;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eeeeee;
	border-left-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #eeeeee;
}
.tabOff {		
	background-color: #eeeeee;
    border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eeeeee;
	border-left-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #eeeeee;
}
*/

.tabOnBrowseSubjects {        
	color: #605298;
	background-color: #fff;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #605298;
	border-left-color: #605298;
	border-bottom-width: 1px;
	border-bottom-color: #605298;
}
.tabOffBrowseSubjects {		
	background-color: #605298;
    border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #605298;
	border-left-color: #605298;
	border-bottom-width: 1px;
	border-bottom-color: #605298;
}

/* inline images */
.imageRight { float:right; padding:5px 0px 5px 12px; }
.imageLeft { float:left; padding:5px 12px 5px 0px; }

/* footer */
#footer {	
	background:#333; 
	height:31px;
	color: #ede894;
}
#footer a { 
	color: #ede894; 
	text-decoration:none; 
	padding:0 4px;
}
#footer a:hover { 
	color: #ede894; 
	text-decoration:underline; 
}
#footerSub {	
	color: #333;
	padding-top: 8px;	
}
#footerSub a { 
	color: #333; 
	text-decoration:none;	
}
#footerSub a:hover { 
	color: #333; 
	text-decoration:underline; 
}

/* MISCELLANEOUS OTHERS */
.highlight { background-color:#ffc }
.alert { color:#c00; }
.normalText { font:11px/1.4em verdana, arial, sans-serif; }
.smallText { font:10px/1.3em verdana, arial, sans-serif; }
.thinBorder { border-collapse: collapse; }
ul.lineSpace li { margin-left: -10px; padding-top:3px; padding-bottom:3px; } 
ol.lineSpace li { margin-left: -2px; padding-top:3px; padding-bottom:3px; } 
dl.lineSpace dd { margin-left: 18px; padding-top:3px; padding-bottom:3px; } 

/* no indent */
ul.noIndent li { margin-left: -20px; padding-top:3px; padding-bottom:3px; } 
ol.noIndent li { margin-left: -14px; padding-top:3px; padding-bottom:3px; } 
dl.noIndent dd { margin-left: -23px; padding-top:3px; padding-bottom:3px; } 

/* noIndentLineSpace - used on hpnews */
dl.noIndentLineSpace dt { padding-bottom:6px; } 

/* no indentPad */
ul.noIndentPad li { margin-left: -20px; } 

.callnumber { color:#c00; }
.citationtitle { color:#c00; font-style:italic }
.lineBottom { border-bottom:solid 1px #d6d6d6; }
.lineTop { border-top:solid 1px #d6d6d6; }
.red { color:#c00; }
.grey { color:#999; }
li.address { list-style-image: url(/images/address.gif); padding-left:7px; }
li.bulletRB { list-style-image: url(/images/bulletRB.gif); padding-left:7px; }
li.bulletRG { list-style-image: url(/images/bulletRG.gif); padding-left:7px; }
li.bulletRR { list-style-image: url(/images/bulletRR.gif); padding-left:7px; }
li.bulletRY { list-style-image: url(/images/bulletRY.gif); padding-left:7px; }
li.bulletSB { list-style-image: url(/images/bulletSB.gif); padding-left:7px; }
li.bulletSG { list-style-image: url(/images/bulletSG.gif); padding-left:7px; }
li.bulletSR { list-style-image: url(/images/bulletSR.gif); padding-left:7px; }
li.bulletSY { list-style-image: url(/images/bulletSY.gif); padding-left:7px; }
li.email { list-style-image: url(/images/email.gif); padding-left:7px; } 
li.excel { list-style-image: url(/images/excel.gif); padding-left:7px; } 
li.fax { list-style-image: url(/images/fax.gif); padding-left:7px; } 
li.fillableform { list-style-image: url(/images/fillableform.gif); padding-left:7px; }
li.info { list-style-image: url(/images/info.gif); padding-left:7px; } 
li.news { list-style-image: url(/images/news.gif); padding-left:7px; }
li.pdf { list-style-image: url(/images/pdf.gif); padding-left:7px; }
li.person { list-style-image: url(/images/person.gif); padding-left:7px; }
li.phone { list-style-image: url(/images/phone.gif); padding-left:7px; } 
li.powerpoint { list-style-image: url(/images/powerpoint.gif); padding-left:7px; }
li.print { list-style-image: url(/images/print.gif); padding-left:7px; }
li.rss { list-style-image: url(/images/rss.gif); padding-left:7px; }
li.text { list-style-image: url(/images/text.gif); padding-left:7px; }
li.word { list-style-image: url(/images/word.gif); padding-left:7px; }
li.webpage { list-style-image: url(/images/webpage.gif); padding-left:7px; }
li.xml { list-style-image: url(/images/xml.gif); padding-left:7px; }
li.xml1 { list-style-image: url(/images/xml1.gif); padding-left:7px; }
li.yes { list-style-image: url(/images/yes.gif); padding-left:7px; }
li.no { list-style-image: url(/images/no.gif); padding-left:7px; }


/* home page */
.mainContentHome {	
	border:1px solid #87876d;
	background-color: #fff;	
}
.catText {
	font-size: 9px;
	line-height: 1.4em;
	color: #333;
	padding-top: 9px;
	padding-right: 13px;
	padding-bottom: 25px;
	padding-left: 13px;
}
.catTextShaded {
	font-size: 9px;
	line-height: 1.4em;
	color: #333;
	padding-top: 9px;
	padding-right: 13px;
	padding-bottom: 20px;
	padding-left: 13px;
	background:url(/website/images/shading.gif) repeat-x; 
	
}
.homeLinks { 
	color:#920909; 
	text-decoration:none;
}
.homeLinks:hover { 
	color:#920909; 
	text-decoration:underline; 
}
.divider { 
	width:705px; 
	background:url(/website/images/divider.gif) repeat-x; 
	margin:0 auto; 
	padding:0; 
	height:1px;
}
#contactInfo {
	font-size: 9px;
	line-height: 1.4em;
	color:#6E5C4E;
	padding: 10px 13px;
}

/* Suggestion from Nick */
p.imageRight {
    font:10px/1.3em verdana, arial, sans-serif;
    font-style:italic;
    text-align:center;
    margin:0;
}
p.imageRight img {
    display:block;
}
p.imageLeft {
    font:10px/1.3em verdana, arial, sans-serif;
    font-style:italic;
    text-align:center;
    margin:0;
}
p.imageLeft img {
    display:block;
} 

/* LANDING PAGES */
/* ------ Library Information */
#landingPageLibraryInfo {
	font: 11px/1.2em arial, verdana, sans-serif; 
   color: #a85300;
}
/* ------ Services */
#landingPageServices {
	font: 11px/1.2em arial, verdana, sans-serif; 
	color: #4B8775;
}

/* A-Z NAVIGATION #e0ddbf*/
.azNav {
	text-align: left;
	}
.azNav a {
   font-weight: bold;
   padding:2px 4px 2px 4px;
	border: 1px solid #bbb;
	text-decoration: none;
	}
.azNav a:hover {
	background-color: #eee;
	}

/* PLAIN BANNER WITH RED NAV BAR */
#bannerNavPlain1 {
	background-color: #c00; 
	height: 31px;
	color: #eee;
	padding-left: 5px;
}
#bannerNavPlain1 a {
	color: #eee; 
	text-decoration:none;
	padding:0 4px; 
}
#bannerNavPlain1 a:hover { 
	color: #c00; font-weight:bold;
	background-color: #ddd; 
	text-decoration:none; 
}

/* Added by DVL 2008-Aug-22 */
/* Edited by DVL 2008-Aug-22 */
#bookcover {
	float: right;
	width: 80px;
	border-width: 0px;
	text-align: center;
	z-index: 0;  /* Added to make sure the covers appear below the "Browse Subjects" pop up links */
}

#bookcover div {
	margin: 0;
	padding: 0;
}

#bookcover div img {
	border-width: 0;
}


/* Entries below added by EFP 2009-Jan-13 per request by JMC */

#browse_subjects fieldset {
   border: 0px;
   margin: 0px;
   padding: 0px;
}

#browse_subjects fieldset select, #browse_subjects fieldset a, #browse_subjects fieldset input {
   margin-left:-10px;
   /* margin-left:-14px; */
}

#browse_subjects fieldset input {
   margin-left:-4px;
   /* margin-left:-5px; */
} 

/* End added by EFP */



/*MOUSEOVER NAVIGATION and TOCs are hidden from view*/
#puNav ul, #mainContentTOCServices, #mainContentTOCPlain, #mainContentTOCLibraryInfo, #mainContentTOCSearchCollection, #mainContentTOCBrowseSubjects, #mainContentTOCNewsEvents, #mainContentTOCCommunity, #lcClassificationDimensionBlock, #dimensionNavigationBlock { display:none; }



