.title, .addtitle, .addtitle1
	{font-size:160%;
	font-family:Verdana;
	font-weight:500;}
.heading1
	{font-size:150%;
	font-family:Verdana;
	font-weight:700;}
.heading2
	{font-size:135%;
	font-family:Verdana;
	font-weight:700;}
.heading3
	{font-size:130%;
	font-family:Verdana;
	color:#993366;
	font-weight:700;}
.heading4
	{font-size:125%;
	font-family:Verdana;
	color:#993366;
	font-weight:700;}
body,td
	{
	font-size:76%;
	font-family:Arial;
	color:black;
	letter-spacing: 0.2px;
	line-height:1.4em
}	
p,li,.regulartext
	{
	font-size: 1em;
	font-family:Arial;
	color:black;
	font-weight: 300;
}
.regulartextbold
	{font-size:1em;
	font-family:Arial;
	color:black;
	font-weight:700;}