body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #FFF;
}

td {
    font-size: 14px;
}

a {
    text-decoration: underline;
    color: #333399;
}

a:visited {
    text-decoration: underline;
    color: #666666;
}

/* specify link and visited so the 'hover' style doesn't apply to
   other links, like those which are just NAME anchors.
*/
a:link:hover {
    text-decoration: underline;
    color: #0000CC;
}

a:visited:hover {
    text-decoration: underline;
    color: #0000CC;
}


small {
    font-size: 9px;
}

hr {
    color: #191970;
    background-color: #191970;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
}

h1 {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    background-color: #A0B4F1;
    border: 1px solid #3E4A74;
    padding: .5em;
    margin-top: 0px;
}

h1 a {
    color: #000;
    text-decoration: none
}

h2 {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    background-color: #A0B4F1;
    border: 1px solid #3E4A74;
    padding: .2em;
}

h2 a {
    color: #000;
    text-decoration: none
}

h3 {
    color: #000;
    font-size: 14px;
    font-weight: bolder;
}

h3 a {
    color: #000;
    text-decoration: none
}

tr {
    vertical-align: top;
}

img {
    border: none;
}

#logo {
    background-color: #fff;
    padding: 1em;
    text-align: center;
}


#search {

}


/* Navigation */

#nav {
    float: left;
    width: 180px;
    font-size: 12px;
    margin: 0em; 
    margin-top: -1px;
    padding: 7px;
    background-color: #A0B4F1;
    border: 1px solid #3E4A74;
}

#nav h4 {
    margin-bottom: 0;
    font-size: 14px;
}

#menu a {
    text-decoration: none;
    color: #222266;
}

#menu a:visited {
    text-decoration: none;
    color: #222266;
}

#menu a:link:hover {
    text-decoration: none;
    color: #0000CC;
}

#menu a:visited:hover {
    text-decoration: none;
    color: #0000CC;
}

#menu ul {
    border-left-width: 1px;
    border-left-style: dashed;
    list-style-type: none;
    margin-top: 0;
    margin-left: .5em;
    padding-left: .5em;
}


/* Content */

#content {
    background-color: #FFFFFF;
    float: left;
    margin-left: 10px;
    width: 500px;
    font-size: 12px;
}


/* Footer */

#footer {
    clear: left;
    font-size: 12px;
    width: 700px;
    text-align: right;
}

#footer-right {
}

#footer-left {
    text-align: right;
    width: 600px;
    float: left;
}


/* ST includes and elements */

.wiki-include-page {
    border: none;
}

.wiki-include-title {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    background-color: #A0B4F1;
    border: 1px solid #3E4A74;
    padding: .5em;
    margin-top: 0px;
}

.wiki-include-title a {
    color: #000000;
    text-decoration: none;
}

.query_wafl_titlebox {
    color: #000;
    display: none;
}

