/* global top navigation links */

.topnav {font-family: tahoma, verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; font-weight: bold; text-decoration: none;}

.topnavsml {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: underline;}
	
.login {font-family:verdana, arial, helvetica, sans-serif; font-size: 10px; color:#000000;}
a.login {color: #00834c; font-decoration: underline;}

.search {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold;  
}

.adsearch {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #00834c; text-decoration: underline;}

/* left & right nav  */

.leftnavon {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none;}

.leftnav {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold; text-decoration: none;}
a.leftnav:hover {color: #cc3300;}

.leftnav2 {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none;}
a.leftnav2:hover {color: #cc3300;}

.leftnav2on {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration: none;}

.leftnav3 {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;}
a.leftnav3:hover {color: #cc3300;}

.leftnav3on {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #ffffff; text-decoration: none;}

.blacksml2 {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none;}
a.blacksml2:hover {color: #cc3300;}

.blacksml3 {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000;}
a.blacksml3 {color: #00834c; text-decoration: underline;}
a.blacksml3:hover {color: #cc3300;}

.greysml2 {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #666666; text-decoration: none;}
a.greysml2 {text-decoration: underline;}
a.greysml2:hover {color: #cc3300;}

/* npg subject areas box */

.subject {font-family: arial, verdana, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;}
a.subject:hover {color: #cc3300;}

.subjectred {font-family: arial, verdana, helvetica, sans-serif; font-size: 10px; color: #cc3300; text-decoration: none;}

/* Subject Area classes */
.subjecttitle {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}

.subjecttext {FONT-SIZE: 10px; COLOR: #990000;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

/* non-journal content styles */

.breadcrumb, .breadcrumblink {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none}

.redsml {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; color: #cc3300; text-decoration: underline}
.redsml2 {FONT-SIZE: 10px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.blacksml {font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small; color: #000000; text-decoration: none;}
a.blacksml {color: #00834c;}
a.blacksml:hover {color: #ce0000;}

.top {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: underline}
a.top:hover {color: #cc3300;}

.date {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000;}

.linksml {font-family: verdana, arial, helvetica, sans-serif; color: #00834c; font-size : 10px; text-decoration: underline;}
a.linksml:hover {color: #cc3300;}

.linksml2 {font-family: verdana, arial, helvetica, sans-serif; color: #00834c; font-size : 11px; text-decoration: underline;}
a.linksml2:hover {color: #cc3300;}

.greysml {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #cccccc; text-decoration: none; text-transform : uppercase;}

.greensml {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #00834c; text-decoration: none;}

.browselink {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #00834c; text-decoration: underline;}
a.browselink:hover {color: #cc3300;}

.articlelink {font-family: verdana, arial, helvetica, sans-serif; font-size: small; color: #00834c; font-weight : bold;}
a.articlelink {text-decoration: underline;}
a.articlelink:hover {color: #cc3300;}

.whitehead {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #ffffff; font-weight: bold;}

/* Small white 10px text */
.whitesml {FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; text-transform : uppercase;}

/* Web focus text coloured 11px text */
.webfocustext {FONT-SIZE: 11px; COLOR: #56177B; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;line-height: 15px;}

.introtext {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #000000; line-height : 14px;}

/* links to articles (toc) */


/* old article links in black */
.articletitle {font-family: georgia, times new roman, times, serif; font-size: small; color: #000000; font-weight : bold;}
a.articletitle:hover {color: #cc3300}


/* new article links in green */
/* Homepage Article Links */
A.articletitle {
	FONT-SIZE: x-small;
	COLOR: #00834c;
	FONT-FAMILY: georgia, times new roman, times, serif;
	TEXT-DECORATION: underline;
	font-weight : bold;
}
A.articletitle:visited {
	FONT-SIZE: x-small;
	COLOR: #00834c;
	FONT-FAMILY: georgia, times new roman, times, serif;
	TEXT-DECORATION: underline;
	font-weight : bold;
}
A.articletitle:hover {
	FONT-SIZE: x-small;
	COLOR: #00834c;
	FONT-FAMILY: georgia, times new roman, times, serif;
	TEXT-DECORATION: underline;
	font-weight : bold;
}


.author {font-family: verdana, arial, helvetica, sans-serif; font-size: small; color: #000000; text-decoration: none;}

/* Grey author names 10px */
.authorname {FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; line-height : 14px;}

.seealso {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; color: #cc3300; text-decoration: none;}

/* Free text small red 10px variable */
.freeaccess { FONT-SIZE: x-small; COLOR: #CC3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}

.pagenum {font-family: verdana, arial, helvetica, sans-serif; font-size: small; color: #999999; text-decoration: none;}

.doi {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; color: #000000;}

.divider {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; color: #000000;}

.tocsection {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-size: 12px; color: #666666;}

.contentslink {font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small; color: #00834c; text-decoration: underline;}
a.contentslink:hover {color: #cc3300;}

/* content styles */

.heading1, h1 {font-family: georgia, times new roman, times, serif; color: #000000; font-size: 18px; font-weight: bold;}

.heading2, h2 {font-family: verdana, arial, helvetica, sans-serif; font-size: medium; color: #00834c; font-weight: bold;}

.heading3, h3 {font-family: verdana, arial, helvetica, sans-serif; font-size: small; color: #00834c; font-weight: bold; text-transform: uppercase;}

.heading4, h4 {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000;}

.articletext {font-family: verdana, arial, helvetica, sans-serif; font-size: small; color: #000000;}
a.articletext {color: #00834c; text-decoration: underline;}

.blacknorm {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none; line-height: 16px;}

.quote {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; color: #CC3300;}
.quote2 {font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small; color: #CC3300;}

a {color: #00834c; text-decoration: underline;}

/* bottom nav */

.bottomnav {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #666666; line-height: 14px; text-decoration: none}
a.bottomnav:hover {color: #cc3300;}

.copyright  {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none}
a.copyright:hover {color: #cc3300;}

.privacy  {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #00834c;	text-decoration: underline;}
a.privacy:hover {color: #cc3300;}

.footer {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; color: #00834c; text-decoration: underline;}
a.footer:hover {color: #cc3300;}

/* archive page tables */

/* Top anchor  Links */
.anchor2 {FONT-SIZE: small; COLOR: #691F94; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: underline;}
A.anchor2:hover {COLOR: #cc3300;}

/* Archive month Links */
A.archivemonth {FONT-SIZE: x-small; COLOR: #691F94; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: underline;}
A.archivemonth:hover {COLOR: #cc3300;}

.archivehead {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #4D876E; font-weight: bold;}

/* Archive table headings 11px white */
.archivehead {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* 1st level table headings 12px variable */
.table1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* 2nd level table headings 12px variable */
.table2 {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/* 3rd level table headings 10px variable */
.table3 {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.archivesubhead {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #4d876e; font-weight: bold;}

.archivelink {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #4d876e; text-decoration: underline;}
a.archivelink:hover {color: #ce0000;}

.archivetext {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; color: #666666;}

/* Toc page title 14px variable */
.toctitle {FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #666666;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}

.categ_small {FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;FONT-SIZE: 14px;COLOR: #666666;TEXT-DECORATION: none;TEXT-TRANSFORM: uppercase;LINE-HEIGHT: 24px;	}

.categ_large {FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;FONT-SIZE: 18px;COLOR: #666666;TEXT-DECORATION: none;TEXT-TRANSFORM: uppercase;LINE-HEIGHT: 28px;}

/* white previous and next unlinked */
.whitesml2 {
	FONT-SIZE:11px; COLOR:#FFFFFF; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif
}

/* white previous and next links */
A.whitesml2 {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}
A.whitesml2:visited {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}
A.whitesml2:hover {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}


.lgn_border {background-color: #EFEFDB;}
.lgn_background {background-color: #EFEFDB;}
.lgn_text {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 10px; line-height: 11px;}
a.lgn_text, a.lgn_text:link {color: #4D876E; text-decoration: underline;}
a.lgn_text:visited {color: #384955; text-decoration: underline;}
a.lgn_text:hover {color: #CC3300; text-decoration: underline;}
.lgn_textbig {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; line-height: 14px;}
.lgn_textalt {color: #384955; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; line-height: 16px;}
.lgn_textred {color: #CC3300; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 10px; line-height: 11px;}
.lgn_textbox {color: #000000; font-family: Verdana, Arial, Geneva, sans-serif; font-size: 11px; margin-left: 0px; padding-left: 0px;}



.boxbar {
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.boxtitle {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.boxlink {
	FONT-SIZE: xx-small;
	COLOR: #4D876E;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	LINE-HEIGHT: 1.5;
}

.boxlink:visited {
		color:#4D876E;
}

.boxlink:hover {
		color:#4D876E;
}

.boxlinkedtitle {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #4D876E;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
}

.boxlinkedtitle:visited {
		color:#4D876E;
}

.boxlinkedtitle:hover {
		color:#4D876E;
}
	
.boxtext {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.boxseealso {
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	COLOR: #cc0033;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
/* Small grey links 10px */

A.greysmllink {

            COLOR: #666666;

            FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

            TEXT-DECORATION: underline;

            line-height : 14px;

            font-size: 10px;

}

A.greysmllink:hover {

            COLOR: #cc3300;

            FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

            TEXT-DECORATION: underline;

            line-height : 14px;

            font-size: 10px;

}

A.greysmllink:visited {

            COLOR: #666666;

            FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

            TEXT-DECORATION: underline;

            line-height : 14px;

            font-size: 10px;

}
/* products search box */
.prdnorm{
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

A.prd_red {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300; font-weight:normal; text-decoration:underline;
}
A.prd_red:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight:normal;
	text-decoration:underline;
}
A.prd_red:visited {
font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc33000; font-weight:normal;
	text-decoration:underline;
}

/* jobs search box */
.jbsnorm {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
}

A.jbslink {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight: bold;
	text-decoration:underline;
}
A.jbslink:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300;font-weight: bold;
	text-decoration:underline;
}
A.jbslink:visited {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;font-weight: bold;
	text-decoration:underline;
}

.jbs_red {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc3300; font-weight:normal; text-decoration:underline;
}
.jbs_red:hover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000; font-weight:normal;
	text-decoration:underline;
}
.jbs_red:visited {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#cc33000; font-weight:normal;
	text-decoration:underline;
}

.smallcaps {
	FONT-SIZE: x-small;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-TRANSFORM: uppercase;
}

