
body {
	color:#333;
	background-color:white;
	margin:20px;
	margin-top: 5px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
	text-align: left;
}

h1 {
    margin:0px 0px 0px 0px;
    padding:0px;
    font-size: 16px;
    font-weight:900;
	color: #003e6e;
}

h2 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	color: #697c10;
}

h3 {
	font:bold 10px/12px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	color: #697c10;
}

th {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	color:blue;
    text-align: left;
}

td {
    text-align: left;
}

p {
	font:11px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
}

.Content>p {margin:0px;}

.Content>p+p {text-indent:30px;}


/* All the content boxes belong to the content class. */

.content {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
	margin:0px 210px 20px 140px;
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	overflow: hidden;
}

.contentonly {
/*	position:relative;*/ /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
	margin:0px 0px 20px 140px;
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}

.andOthers {
	display: none;
}
.othrgrp {
	background-color: #ffccff;
}
.othrusr {
	background-color: #ccffff;
}

body>#navBeta {width:168px;}

.navleftinner {
	border-left:1px dashed black;
	border-right:1px dashed black;
	border-bottom:1px dashed black;
	border-top:1px dashed black;

	background-color:#eee;

	padding:10px;
 }	

#navleft {
	position:absolute;
	width:142px;
	top:89px;
	left:20px;


	z-index:2;


/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */

	voice-family: "\"}\"";
	voice-family:inherit;
	width:120px;

	}

/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */

body>#navAlpha {width:120px;}

#navright {
	position:absolute;
	width:190px;
	top:89px;
	right:20px;
	border:1px solid black;
	background-color:#eee;
	padding:10px;
	z-index:1;

/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:168px;
}

/* Again, "be nice to Opera 5". */

body>#navBeta {width:168px;}


.topright {
	margin-bottom: 0px;
	margin-left: 0.5em;
	padding-left: 1em;
	padding-right: 0.5em;
	right: 0;
	top: 0;
	text-align: right;
}
.logo {
	font-weight: bold;
	font-size: 30px;
	font-family: Verdana, sans-serif
}	  
.heading {
	font-weight: bold;
	font-size: 20px;
	font-family: Verdana, sans-serif;
	color: blue;
}	  

.blue {
	color: #465700;
}
.red {
	color: red;
}
.vague {
	color: #444444;
	font-size: 11px;
}
.normal {
	color: #333;
	font-size: 12px;
	margin-top: 1em;
}
.vaguebox {
	background-color: #f7f7f7;
	float: left;
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: black thin dashed;
}

a { 
	color: #1f81cd;
}

a.author {
	color: #444444;
}

a:hover {
	background-color: blue;
	color: white 
}

a.title {
	font-weight: bold;  
}

a.plain {
	color: #003e6e;
	text-decoration: none;
}


a.tag { 
	color: #300000;
}

a:hover.tag { 
	background-color: #300000;
	color: white;
}


a:hover.author { 
	background-color: darkblue;
	color: white;
}

a:hover.plain { 
	background-color: white;
	color: blue;
}

div .vote-unit {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

div .arrow {
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
}

.black { 
	color: #333;
}

.tagbar {
	background-color: lightgray;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: black thin solid;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


li.menu {
	list-style-type: square;
	list-style-position: outside;
	color: red;
	margin-top: 1.0em;
	text-align: left;
}


blockquote {
	margin:1em 0;
	padding-left:30px;
	background:url(http://static.citeulike.org/img/quote-open.png) top left no-repeat;
}

a .head1 {
	background-color: #f66;
}

div .thead {
	background-color: lightgray;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 5px;
	padding: 5px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Browser specific (not valid) styles to make preformatted text wrap */
pre { 
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.tabs {
	color: #000;
	border-bottom: 1px solid black;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px;
	font-weight: bold;
}

.tabs li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.tabs a {
	color: #000;
	background: #eeeeee;
	border: 1px solid black;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	
}

.tabs a.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tabs a:hover {
	background-color: blue;
	color: white
}

.tabs a.active:hover {
	background-color: white;
	color: #000
}

.tabs a.active-multi {
	background: #eee;
	border-bottom: 1px solid #eee;
}
 
.tabs a.active-multi:hover {
	background-color: #eee;
	color: #000
}

.content_tabs {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 210px 0px 140px;
	background-color:white;
	padding:0px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	overflow: hidden;
}
.unboxedcontent {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 210px 10px 140px;
	background-color:white;
	padding:0px;
}
.contentonly_tabs {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 0px 0px 140px;
	background-color:white;
	padding:0px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	overflow: hidden;
}
.unboxedcontentonly {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 0px 10px 140px;
	background-color:white;
	padding:0px;
}

ul.tab {
	list-style-type: none;
	position: relative;
}

li.tab {
	position: relative;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 130px;
/* 	border-top-width:  1px; */
/*	border-top-style: solid; */
	clear: left;
}
	
.tabhdr {
	position: absolute;
	top: 10px;
	left: 0px;
}

dt {
	font-weight: bold;
	position: absolute;
	left: 0px;
}


.ind {
	margin-left: 1em;
}

.wbox {
	border: 1px dashed black;
	padding: 1em;
	background-color: #fff;
	overflow: hidden;
}

.fwidth {
	width: 100%;
}


.suggest {
	text-decoration: none;
	
}

a:hover.suggest-selected {
	background-color:red;
}

.suggest-selected {
	text-decoration: none;
	background-color: red;
	color: white;
}


a img { border: 0; text-decoration: none; }

div.campaigns img {display:block;}

.li_selected {
	background-color: #dfd;
}

.li_deselected {
	background-color: white;
}

.private {
	background-color: #eee;
}

.private_selected {
	background-color: #bdb;
}

.faded {
	opacity:1.0;
}

.amazon_images {
	float: right; 
	width: 70px; 
	text-align: center; 
	margin: 5px; 
}

.article_details {
}

.dragHandle {
	cursor: move;
}

.show_details_on {
	cursor: pointer;
}
.show_details_off {
	cursor: pointer;
}

.selectable {
	margin-left:1em; 	
	margin-right:1em; 
	padding-left:1em; 	
	padding-right:1em; 
	padding-top: 0.75em;
	vertical-align:top;
	width:2.0em;
}

.notselectable {
	margin-left:1em; 
	margin-right:1em; 
	padding-left:1em; 	
	padding-right:1em; 
	vertical-align:middle;
	width:2.0em;
}

.list_item {
	margin-left: 3em;
 	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	color: lightgray;
	margin-top: 1.0em;
	text-align: left;
}

ol.list li {
	margin-left: -3em;
 	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 2em;
	list-style-type: square;
	list-style-position: outside;
	color: red;
	margin-top: 1.0em;
	text-align: left;
}

div.list li {
	margin-left: 3em;
 	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 2em;
	list-style-type: none;
	list-style-position: outside;
	color: red;
	margin-top: 1.0em;
	text-align: left;
}

.actionbutton {
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-decoration:none;
	color: white;
	background-color: #f87b00;
	border:1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding:0px 3px 0px 3px;
	margin:0px;
}

/* Markup preview items */

div.overlay {
	 visibility: hidden;
	 position: fixed;
	 left: -100%;
	 top: 0%;
	 width:0%;
	 height:0%;
	 z-index: 5;
	 background-image:url(http://static.citeulike.org/bml/overlay.gif);
}

div.overlay-box {
	left: 5%;
	height: 86%;
	top: 5%;
	width: 86%;
	background-color: #fff;
	border:1px solid #000;
	padding: 15px;
	position: relative;
	overflow: auto;
}

div.overlay-title {
	background-color: red;
}

div.pdfoverlay {
	 visibility: hidden;
	 position: fixed;
	 left: -100%;
	 top: 0%;
	 width:50%;
	 height:0%;
	 z-index: 5;
	 background-image:url(http://static.citeulike.org/bml/overlay.gif);
	 text-align: center;
	 vertical-align: middle;
}

div.pdfoverlay-hidden {
	 visibility: hidden;
	 position: fixed;
	 left: -100%;
	 top: 0%;
	 width:0%;
	 height:0%;
	 z-index: 5;
	 background-image:url(http://static.citeulike.org/bml/overlay.gif);
	 text-align: center;
	 vertical-align: middle;
	 overflow:none;
}

div.pdfoverlay-visible {
	 position: fixed;
	 z-index: 5;
	 background-image:url(http://static.citeulike.org/bml/overlay.gif);
	 text-align: center;
	 vertical-align: middle;
	 left:5%;
	 right:5%;
	 top:10px;
	 bottom:auto;
	 height:96%;
	 width:auto;
	 align:center;
	 visibility:visible;
	 overflow:auto;
}


div.pdfbox {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 2%;
	vertical-align: middle;
	height: auto;
	width: 650px;
	background-color: #fff;
	border:1px solid #000;
	padding: 15px;
	position: relative;
	overflow: auto;
}


/*
 * Markup text...
 */
.markup {
	font-size: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 4px;
}

.markup p {
	font:11px/15px verdana, arial, helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

.markup h1,h2,h3 {
    padding:0px;
	margin-bottom: 4px;
    font-weight:900;
	color: #003e6e;
}

.markup h1 {
    margin-top: 12px;
    font-size: 18px;
}

.markup h2 {
    margin-top: 10px;
    font-size: 14px;
}

.markup h3 {
    margin-top: 8px; 
    font-size: 12px;
}

ul {
   margin-left: 0;
   padding-left: 15px;
}

li {
	margin: 0;
	padding: 0;
}

.markup ul,ol {
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	list-style-type: square;
	list-style-position: outside;
}

.markup li {
	font:11px/13px verdana, arial, helvetica, sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
}

/*
 * Textarea for markup editing - provide a visual clue that it's markup not plain text
 */
.markup_edit {
	background-color: #ffd;
}


.spammer_regex {
	background-color: #ffd;
}

.spam {
	background-color: rgb(255,221,221);
}

.ham {
	background-color: rgb(221,255,221);
}

#
# for post-registration page
# 
#
.ie {

}

.sf, .ff {
	display:none;
}

.ctrotator-item{
	list-style:none;
	padding:2px 0 3px 0;
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 0px 0px;
	color: #697c10;
}

.highlight { 
	background-color: yellow 
}

