* {	background: none; color: #000 !important; float: none !important; text-align:left; position: relative; overflow: visible; display: inline;}

body 
{
font-family: "Times New Roman", Times, serif;
font-size: 12pt;
line-height: 18pt; 
height: auto;
max-width: 6.5in;
display: inline;
overflow: visible;
color: #000 !important; 

}

#wrapper {overflow: visible; margin: 2%;}

#contentContainer,#mainContent, ul, ol, dl, li, dd, p, h1, h2, h3
{display: block;}

#contentContainer, #mainContent, table {width: 100% !important;}

ul {list-style-type: disc;}

ol {list-style-type: decimal;}

dl {list-style-type:disc;}

table {display: table; max-width: 600px;}

tr
{display: table-row;}

 tbody, tfoot, thead
 {display: table-row-group;}
 
 td, th
 {display: table-cell}

th {font-weight: bold;}

img {border: none;}

#branding-logo, #branding-logo img
{display: inline; height: 80px;}

body #container 
{margin: 1in; /*max-width: 6.5in;*/}

#supportNav, #localNav, #branding-tagline, #globalNavContainer, #subheader, 
 .callout, ul #breadcrumb, ul #issueNav, ul #journalTools, div #linkingProviders ul li,
div #footer p a, div #totalResults fieldset, .jsp_crossSearchTabs, ul #browseBy, select, input, .infoPageNav, #skipNav, #provider-longVers, #tabsContainer, .participateNav, ul.alphaAnchors, #availCollections a.button, .myJstorTable td label, .myJstorTable td input, .classificationTable caption
{display: none;}

 td, th, tr, thead, table td, table th, tbody, th, .dynaInfoTable, .dynaInfoTable td, .dynaInfoTable tr, .dynaInfoTable thead, #tabsContainer, #tabsContainer ul, #tabsContainer li, #tabsContainer a, .participateNav, .participateNav ul, .participateNav li, .participateNav li.leftBorder, .participateNav li.active, .dynaInfoTable tbody, .classificationTable td, .classificationTable tr, .classificationTable tbody, .classificationTable thead, .classificationTable th, .browseTable thead, table.browseTable, .browseTable tr, .browseTable tr, .browseTable td, .browseTable thead tr th, .jstorFacts, .jstorFacts tr, .jstorFacts td, .jstorFacts th, .jstorFacts tbody, .jstorFacts thead, .jstorFacts tfoot, .staffTable, .staffTable tfoot, .staffTable thead, .staffTable tbody, .staffTable tr, /*.staffTable th, .staffTable td,*/ .participantList, .participantList thead, .participantList tbody, .participantList tfoot, .participantList tr, .participantList th, .participantList td, input, textarea, select
{border: 2px solid #333 !important; border-top: 2px solid #333 !important; border-right: 2px solid #333 !important; border-bottom: 2px solid #333 !important; border-left: 2px solid #333 !important; border-collapse: collapse; background: #fff; color: #000; font-size: 9pt;}

* html .staffTable td, * html .staffTable th {border: none !important;}

* html .staffTable table, * html .staffTable tr {border: 1px solid black !important;}

* html .staffTable tr {padding: 10px 0;}

.dynaInfoTable thead th.missingCol, .dynaInfoTable thead th.issueCol, .dynaInfoTable thead th.collectionCol {width: 33%;}

.callout  
{float: none; display: block; position: static; border: none !important; margin: 0; padding: 0; color: #000; background: #fff; width: auto;}



h2, h2.headerBar, h2.listHeader, #exportTitleList, caption 
{border: none !important;}


#wrapper, #content 
{width: auto;
margin: 0;
padding: 0;
border: 0;
float: none !important;
color: black;
max-width: 6.5in; 
}


div#content
{
margin: 3%;
padding-top: 1em;
/*max-width: 6.5in;*/ 
}

#subContent, #mainContent, #footerContainer 
{
width: auto;
border: 0;
margin-right: 20px;
padding: 0;
float: none !important;
font-size: 11pt;
max-width: 6.5in; 
background: #fff;
}

#footerContainer {font-size: 10pt; display: inline;}


body.hasLocalNav #contentContainer {margin: 0; border: 0;}

a:link, a:visited {
color: #333;
background: transparent;
text-decoration: underline;
}


table, tr {page-break-inside: avoid;}

*html table {page-break-before: always;}