P {font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 10px; 
   margin: 10px;
   padding-left: 8px;
   color: #333333;
  }

TD {font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color: #333333;
   }
   
H5 {font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color:#000000;
	text-indent: 17px;
	line-height: 10px;
}

A:LINK {color: #FF9900;
        font-weight: bold;  
        text-decoration: underline;
		font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
       }

A:VISITED {color: #FF6600;
           font-weight: bold;
           text-decoration: underline;
		   font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
          }

A:ACTIVE {color: #FF9900;
          font-weight: bold;
          text-decoration: underline;
		  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
         }

A:HOVER {color:#FF9900;
         font-weight: bold;
         text-decoration: underline;
		 font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
        }

.small
 {font-family: verdana, arial, helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: normal;
  line-height: 14px;
  padding-left: 10px;
  color: #333333;
 }
 
 UL,OL {line-height: 12px;}

INPUT, TEXTAREA, SELECT {background-color: #eeeeee;
                         font-family: verdana, arial, helvetica, sans-serif; 
                         font-size: 10px;
                         color: #333;
                         padding: 0px; 
                        } 

INPUT.BUTTON {background-color: #ccc;
              border-style: outset;
              border-color: #999;
              border-width: 2;
             }
			 
OL  { font-family: Verdana, Arial, Helvetica, sans-serif ; font-size: 9px}
 
UL { font-family: Verdana, Arial, Helvetica, sans-serif ; font-size: 9px}