


.outputtable {
    background-color: #bbb;
}

.outputtable TD {
    background-color: #fff;
}



p, blockquote, #content li li {
    font-size: 1em;
}



#topsearchbox {
    padding-top: 10px;
    float: right;
}



#subnav {
    padding-bottom: 10px;
    font-size: 80%;
}

select {
    background-color: #fff;
}

#content h3 {
    line-height: 1.1em;
}

.image_panel img {
    border: solid 1px #bbb;
}

input {
    font-size: 100%;
}

.inputtable, .outputtable {
    width: 700px;
    border: solid 1px lightgray;
}

.inputtablelabel {
    font-weight: bold;
}

.inputtablenarrow {
    border: solid 1px #bbb;
    margin-right: 5px;
}

.sidebarimg {
    float: left;
    padding-right: 5px;
    position: absolute;
    left:10px;
    top:95px;
}

body, strong, b {
    color: #000000;
}
