/* CSS Document */

*{margin:0; padding:0; text-decoration:none;  list-style:none;}

body{ background:#ccc /*url(images/bg.jpg) top repeat */;   font-family : Helvetica, Arial, sans-serif; font-size : 77%; color : #404040; }
a:link, a:visited{color:#04637F;/*3480c6*/} 
a:hover{color:#04637F; text-decoration:none;}


h1, h2, h3, h4	{ color : #000; font-weight : normal; }
h2 				{ font-size : 114%; }
h2 a:link,
h2 a:visited,
h2 a:active		{ border : 0; }
h2 a:hover		{ background : transparent; border : 0; }
h3				{ font-size : 107%; }
abbr			{ cursor : help; border-bottom : 1px dotted #222; }
code,
pre				{ font-family : Courier, monospace; /* "Lucida Grande", Veranda, Arial, Helvetica, sans-serif; */ }
p				{ margin : 1em 0; }
p				{ line-height : 19px; }
ol			{ margin : 1em 0; padding-left : 2em; list-style-type : decimal; }
ul			{ margin : 1em 0; padding-left : 2em; list-style-image :none; }
li			{ margin : 5px 0; line-height : 19px; }
strong		{ font-weight : bold; }
em			{ font-style: italic; }


/* next line is node title on front page */
h2 a:link, h2 a:visited, h1 a:link, h1 a:visited, h3 a:link, h3 a:visited{color:#000; font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3{color:#000; font-size:18px; }
#h2title h2{margin:0 0 5px 0;}
li.leaf, ul li, .item-list ul li {list-style-image:none; list-style-type:none;}
li.collapsed{list-style-image: none;}
/*container*/

#container{ width:878px; margin:0px auto 12px auto; /*background:#fff; /* PAGE BACKGROUND !!! */  border:solid #e6e5e5 0px}
#container2{ /*border:solid #fff 5px;background:url(images/container.png) repeat-x top #fff; */}

/*Header*/

/*#header{height:50px; /* background:url(images/header.jpg) no-repeat top} */

#header{height:137px; position:relative; background:url(images/header.png) no-repeat top; padding-top:0px;}
#badge {height: 113px; width: 112px; position: absolute; top:20px; right:50px;background:url(images/badge.png) no-repeat;} 

#blogdesc{float:left; height:50px; padding: 0 20px 0 0; }
#logocontainer{float:left;}
#logocontainer img {width:350px; height:60px; position:relative;top:70px;}


#texttitles{float:left; margin:20px 0 0 10px;}
#header #blogdesc h1 a, #header #blogdesc a:hover{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#484642; text-decoration:none; font-size:22px; }

#header .site-slogan{ font-family: Arial, Helvetica, sans-serif; color:#afafaf; text-decoration:none; font-size:18px; }

#header-content{ width:468px; padding:4px; float:right; height:96px;}

/*
#finding {float:right;padding-top:14px; padding-left:10px;padding-right:0px;padding-top:10px;width:230px; height:34px;display:block;}
#finding .form-text {position:relative;top:0px;border:1px solid #e8e8e8; background-color:#fafafa ;}
#finding .form-submit { position:relative;top:6px;padding-right:20px;}
*/

#finding {position: absolute; top:10px; left:500px;padding-left:10px;padding-right:0px;padding-top:10px;width:230px; height:34px;display:block;}
#finding .form-text {border:1px solid #bebebe; background-color:#dbdbdb ;}
#finding .form-submit {position: absolute;}


/*Navigation*/
/*#navigation2{ height:26px; background:url(images/menu2.png) repeat-x ; color:#dedede; font-family:tahoma;}*/
#navigation2{ height:23px; background:#ebebeb; color:#fff; /*border-top:1px solid #2c2b22 */; font-family:tahoma;}
#subnavlist a{color:#000; font-size:11px; text-transform:uppercase;}
#subnavlist a:hover{color:#92170f; font-size:11px; text-transform:uppercase;}
#subnavlist{ padding:1px 0 0 0;}
#subnavlist li{padding:0 18px;}


/*wrapper*/ 
#wrap{ padding:12px 4px 10px 4px; background: #fcfcfc ; display:table-cell; width:870px;}
#content_top { width:705px; /*background:#323232; */padding:0;margin:0 0 0 10px;height:30px;}
#content_top img {padding:0;margin:0px;}
/*#content_top img{padding:5px;}
#content_top .content {background:#f2f1ef;}*/
#content_top h2{font-size:16px; font-weight:normal; padding:5px 8px 5px 18px; color:#000; }
body.sidebars #content_top{ }
body.sidebar-left #content_top, body.sidebar-right #content_top{}
/*
body.sidebars #content_top{  padding:10px; margin:1px 0 12px 0; background:#dbdad5 ; border-bottom:1px solid #f3f1ed;  border-top:1px solid #fff;}
body.sidebar-left #content_top, body.sidebar-right #content_top{padding:10px; margin:0 0 12px 0; background:#dbdad5 ;  border-bottom:1px solid #f3f1ed; border-top:1px solid #fff;}
*/


#leftside{ float:left; width:140px;}

body.sidebars #contentmiddle{  float:left; width:500px; margin:0 5px; }
body.sidebar-left #contentmiddle{  float:left; width:500px; margin:0 5px; }
body.sidebar-right #contentmiddle{  float:left; width:530px; margin:0 5px; }

#rightside{ float:right; width: 200px; padding-right:10px; padding-top:11px; }



/*Blocks*/
#leftside .block{ margin:0 0 12px 0; background:#fafafa /*url(images/left-top.jpg) no-repeat top*/; border:0px; }
#leftside .block h2.blocktitle{font-size:13px; font-weight:normal; display:block; text-transform: uppercase;padding:16px 3px 3px 8px; color:#000;}
#leftside .block .content{ padding:6px; }
#rightside .block {background: #ededed; border:0px solid #181818; margin: 0 0 12px 0;}
#rightside .block .content{padding:0 4px 6px 4px; }
#rightside .block h2.blocktitle, #rightside .block h2.blocktitle a{font-size:13px; font-weight:normal; text-transform:uppercase;display:block; color:#443e3b; /*background:url(images/righth2.png) repeat-x;*/ padding:8px 8px 4px 8px; margin:2px;}
#rightside .block ul li{ list-style:none; list-style-image:none; line-height:22px; margin:0; padding: 0 0 0 4px;}
#rightside .block ul.menu, #rightside .block ul{padding:0 0 0 4px;}


/*Content*/
.breadcrumb{padding:0 4px 5px 4px; font-size:11px;}
.node{border:1px solid #fafafa; padding:8px; background: #fafafa /*url(images/node.jpg) no-repeat top*/; margin: 0 0 12px 0;}
.node .content{ padding:0px 0;}
.links  ul.links.inline {text-align:right; display:block; width:99%;}
#mission{border:1px solid #151515; margin: 0 0 15px 0;}
#mission .inner{border:1px solid #fff; padding:10px; background:url(images/mission.png) repeat-x bottom #f3f1ed;}
#missiontitle{padding:0 0 6px 0; margin:0 0 6px 0; background:url(images/li-mission.gif) bottom repeat-x;}
#missiontitle h3{ font-size:18px; padding: 0 20px 0px 20px; background:url(images/our-mission.png) no-repeat left center;}
.postmeta{margin:0 0 4px 0; text-align:right}

/*Misc*/

.submitted{color:#999999; font-size:10px;}
.taxonomy{font-size:11px;}
a.node_read_more{background:url(images/collapsed.png) no-repeat left center; padding: 0 0 0 10px;}
a.comment_add{background:url(images/comment.png) no-repeat left center; padding:0 0 0 15px;}




/*Admin*/

div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu { background-image:none;
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}

div.admin-panel {
  background: #fff;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #f3f1ed;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #ece4da;
}

/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #f3f1ed;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #f3f1ed;
}

div.status {
  color: #3a3;
  border-color: #f3f1ed;
}

div.error {
  color: #c52020;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #f3f1ed;
  color: #494949;
}

/**
 * Watchdog.module
 */
tr.watchdog-user {
  background-color: #fcf9e5;
}

tr.watchdog-user td.active {
  background-color: #fbf5cf;
}

tr.watchdog-content {
  background-color: #fefefe;
}

tr.watchdog-content td.active {
  background-color: #f5f5f5;
}

tr.watchdog-warning {
  background-color: #fdf5e6;
}

tr.watchdog-warning td.active {
  background-color: #fdf2de;
}

tr.watchdog-error {
  background-color: #fbe4e4;
}

tr.watchdog-error td.active {
  background-color: #fbdbdb;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #d7ffd7;
}
tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #f3f1ed;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #f3f1ed;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #f3f1ed;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #ece4da;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
 /* border: solid #ece4da;
  border-width: 1px 0;*/ border:none;
}

tr.odd, tr.info {
  background-color: #ccc;
}

tr.even {
  background-color: #ddd;
}

tr.odd td.active {
  background-color: #ccc;
}

tr.even td.active {
  background-color: #ddd;
}

td.region, td.module, td.container {
  border-top: none;
  border-bottom: none;
  background-color: #434343;
  color: #fff;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}
textarea, select {
  font: 12px/160% "Verdana";
  color: #494949;
  width:98%;
 
}
textarea{ height:170px;}

/*footer*/

#footer{ margin-left:auto; margin-right:auto;margin-top:-20px;width:870px; padding:22px 9px; text-align:center;/* background:url(images/footer.gif) repeat-x top #020202; */color:#e1e0de; font-size:11px; line-height:14px;}
.credit a, .credit{color:#464646; font-size:12px;}
#footer a:link, #footer a:visited{color:#eceae6;}
#pic{padding:10px;float:right;}
 .field-field-picture {
  background: #fcfbfb url(images/ecard-background.jpg) top center no-repeat;
  padding-left:36px; padding-top:21px;
  height:286px;
  }

/*.field-field-picture{margin-left: auto; margin-right: auto;} */


.views-view-grid {width:700px; padding-left:3px;margin-left:10px;}
.views-field-name { color:#787472; text-transform: uppercase; font-size:9px;}
.views-field-title{width:160px; padding-top:0px;}
.views-field-title a:link, .views-field-title a:visited {color: #242424;font-size:12px;}
td.col-1, td.col-2, td.col-3, td.col-4{height:150px; vertical-align:top;}

fieldset {
  width: 500px;margin-left:auto;margin-right:auto;
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align:left;
}
.mceContentBody { background:#fcfbfb;}
.o2k7Skin table.mceLayout {margin-left:1px;}
.form-item{margin-left:15px;font-weight:normal; }
.label {font-weight:normal;}
/* block list.. example left column on front page */ 

.block ul {list-style:none;margin:0px;padding:0 0 1px;}
.block li{background:url(images/dotted-line.gif) repeat-x bottom left;padding-bottom:2px;}
.block ul li a {border:none;display:block;color:#000; }
.block ul li a:hover {color:#1dc4f4;}

ul.primary {border:0px;}
li.collapsed  {list-style-type:none;}
.profile h3 {border:none;}

.picture {border:5px solid #ededed;} 
blockquote {
	font-style: italic;
	border-left: 5px solid #D0D0D0;
	padding-left: 10px;
	}
blockquote p {
	font-family: georgia, serif;
	}
blockquote code {	font-style: normal;}