a.adobe {
	font-style:italic;
}

BODY 
 {
	border : 0px;
	border-width : 0px;
	margin : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	padding : 0px;
	margin-top : 0px;
	background-color : White;
	font-family: Verdana, sans-serif;
	font-size: .75em;1
}


dd {
	
	margin-bottom: 15px;
}

dl {
	
	padding-left: 25px;
}

dt {
	
	font-weight: bold;
	margin-bottom: 7px;
}

td {
	font-family: Verdana, sans-serif;
	font-size: .75em;
}


input.textfield {
	border: 1px solid;
	width: 200px;
	font-size: 80%;
}

input.button {
	background-color : #FFD18C;
	border: 1px solid;
	font-size: 80%;

}

input.radio {
	border: none;
	width: 10px;
	margin-left: 10px;
}

select {
	width: 280px;
	border: 1px solid #45A2FF;
	font-size: 80%;

}

label {
	font-weight: bold;
}

th {
	text-align : left;
	text-size: 110%
}


.LeftNavLinks
{
	padding-left : 0px;
}

.LeftNavLinks a
{
	color :  #000033;
	font-family: Verdana,Helvetica,sans-serif;
	font-size : 9pt;
	line-height: 15pt;
	font-weight : bold;
	text-decoration : none;
}

.LeftNavLinks a:hover
{
	color : #FF9900;
	font-family: Helvetica,sans-serif;
	font-size : 9pt;
	line-height: 15pt;
	font-weight : bold;
	text-decoration : underline;
}

.Intro 
{
	/*color: #333366;*/
	font-family: Verdana, sans-serif;
	/*line-height: 15pt;
	font-weight: bold;*/
	font-size: .75em;
	padding-bottom: 25px;
	padding-right: 10px;
}

td.Intro 
{
	/*color: #333366;*/
	margin-top: 25px;
	/*line-height: 15pt;
	font-weight: bold;*/
}

.plinks A:LINK		
{color : #2C5197;}
.plinks A:VISITED	
{color : #2C5197;}
.plinks A:HOVER		
{color : #E42217;text-decoration: underline;}

.Intro A:LINK		
{color : #2C5197;}
.Intro A:VISITED	
{color : #2C5197;}
.Intro A:HOVER		
{color : #E42217;text-decoration: underline;}

	
.crumb {font-family: Verdana, sans-serif; font-size:11px; width:100%; height:auto; padding:10px 0px 4px 0px; color:#466593;}

.crumb a {font-family: Verdana, sans-serif; font-size:11px; color:#466593;} 

.crumb a:hover {font-family: Verdana, sans-serif; color:#000000; text-decoration:none;} 


.intro-text
{
	color: #000033;
	font-family: Verdana, sans-serif;
	line-height: 15pt;
	font-weight: bold;
	font-size: 11pt;
	text-align: left;
}

.IFSLeftNavLinks
{
	padding-left : 15px;
	padding-right: 15px;
}

.IFSLeftNavLinks a
{
	color : #2C5197;
	font-family: Helvetica, sans-serif;
	font-size : 9pt;
	line-height : 12pt;
	font-weight : bold;
	/*text-decoration : none;*/
}

.IFSLeftNavLinks a:hover
{
	color : #E42217;
	font-family: Helvetica,sans-serif;
	font-size : 9pt;
	line-height : 12pt;
	font-weight : bold;
	text-decoration : underline;
}

.UserWelcome
{
	color: #E42217;
	font-family: Verdana, sans-serif;
	font-size: 8.5pt;
	font-weight : bold;
	text-align : left;
	padding-left : 15px;
}

.AgencyLevel
{
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 8.5pt;
	font-weight : bold;
	text-align : left;
	padding-left : 15px;
}

.header-s {
	font-size:medium; 
	font-family:Verdana,Arial,Helvetica,sans-serif; 
	color:#466593; 
	text-transform:uppercase;
}

.Helvetica
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11pt;
}

.Helvetica A:LINK	{color : #2C5197;}
.Helvetica A:VISITED	{color : #2C5197;}
.Helvetica A:HOVER	{color : #E42217; text-decoration: underline;}

/* IFS FORM STYLES */

.loginHeader
{
	color: Red;
	font-family: Helevtica, sans-serif;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
}

.loginText
{
	color: #000033;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	text-align : left;
	font-weight : bold;
}

.formHeader
{
	color: #2C5197;
	font-family: Helevtica, sans-serif;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
}

.FormLabel
{
	color: #000033;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	text-align : left;
	font-weight : bold;
}

/* IFS TABLE DATA STYLES */

.TH			{
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #142B4B;
}

.TH  a:link {
	color: White;
	text-decoration: none;
}
.TH  a:visited {
	color: White;
	text-decoration: none;
}
.TH  a:active {
	color: White;
	text-decoration: none;
}
.TH  a:hover {
	color: Silver;
	text-decoration: blink;
}

.body-s		{font-family: Helvetica, sans-serif; font-size: 0.75em; color: Black;}

.row		{background-color: #CCCCCC;}
.rowyellow	{background-color: #FAEBD7;}

.row A:LINK	{color : #000033;}
.row A:VISITED	{color : #000033;}
.row A:HOVER	{color : #FFFFFF; text-decoration: underline;}



/* IFS ERROR MESSAGE STYLES */
.ErrHead	{font-family: Verdana,Helvetica; font-size: 16pt; color: #CC3333;}
.error		{font-family: Verdana,Helvetica; font-size: 10pt; color: #CC3333;}
.error-s	{font-family: Verdana,Helvetica; font-size: 8pt; color: #CC3333;}

/* 508 COMPLIANCE - SKIP NAVIGATION LINKS */
.invisiblelink {
	color: #FFFFFF;
	font: bold 1pt Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: none;
}

.selectedLinks { width:600px; height:auto; padding:0px 110px 10px 0px;}
.selectedLinks a {font-size:11px; color:#466593; text-decoration:none; margin-left:10px;}
.selectedLinks a:hover {color:#000000; text-decoration:underline;}

.btnRss img {border:0; margin-right:4px; padding-left:20px;}
.btnRss {background:transparent url(../images/icon_rss.gif) no-repeat top left;padding-left:20px; padding-bottom:10px;}
