
/* Skip Navigation - per 4/14/2008 HHS email */
#skip a, #skip a:hover, #skip a:visited 
{ 
position:absolute; 
left:0px; 
top:-500px; 
width:1px; 
height:1px; 
overflow:hidden;
} 

#skip a:active, #skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
}  

/*All H1, H2, H3 turned into headline  */ 
.headline1
{	font-size: 1.6em;
	COLOR: #8C1E1E;   /* was 993366*/
	FONT-WEIGHT: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	background-image: url(/images7/divider_blue.jpg);
	background-repeat: repeat-x;
	background-position: bottom;}
	
.headline1_A, h1
{	font-size: 1.6em;
	COLOR: #8C1E1E;
	FONT-WEIGHT: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	background-repeat: repeat-x;
	background-position: bottom;}	

.headline2, h2, h3, h4, .subhead1, .plustwo
{	font-size: 1.3em;
	COLOR: #8C1E1E;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}

.headline2_black
{	font-size: 1.3em;
	COLOR: #000000;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}

.headline3, .plusone, .header, .subhead
{	font-size: 1.1em; 
	COLOR: #8C1E1E;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}
	
.headline3_black
{	font-size: 1.1em; 
	COLOR: #000000;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}

.headline4
{	font-size: 1.0em; 
	COLOR: #8C1E1E;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}

.headline4_black
{	font-size: 1.0em; 
	COLOR: #000000;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 10px;}

.smalltext_1, .minusone
{	font-size: .85em; 
}
	
.underhead  {     /* For NIHGPS */
	font-family: Arial,Geneva, Verdana, Helvetica, sans-serif;
	font-size: 1.3em;
	FONT-WEIGHT : bold;
	COLOR: #000000;
}
	
body 
{	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;	
	color: #8C1E1E;}

td
{	font-size: .65em;
	/* font-size: .65em; */
	/* color: #192A50; */
 	color: #000000;
}
p
{	margin-bottom: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;}
/*FPN inspected above this line */ 


/* HFI = <BODY link="#244FAE"  vLink="#244FAE" bgcolor="#FFFFFF"> */
/* Current OER site = <BODY link="#3333cc"  vLink="#666666" bgcolor="#FFFFFF"> */
/* HHS Requirement = <BODY link="#0000FF"  vLink="#800080" bgcolor="#FFFFFF"> */

/* Infonet = <body bgcolor="White" link="#3333CC" alink="#3333CC" vlink="#660000" text="Black"> */

/* 
Blue
0033CC *
0C4FC9

Purple
481073 *
460A74
480080
430076
410073
D3168
77003C 
*/

a:link 
{	color: #0033CC; 
	text-decoration:}
a:active 
{	color: #FF0000;  
	/* color: #244FAE; */
	text-decoration:}
a:visited 
{	color: #481073;
	text-decoration:}	
a:hover               
{	color: #FF0000;  
	/* color: #244FAE; */
	text-decoration:}
	


ul
{	margin-left: 0px;
	padding-left: 15px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;}
	
li
{	padding-left: 0px;
	margin-left: 15px;
	padding-bottom: 2px;}

ul.innerul li
{	list-style-image: url(/images7/bullet-02.gif);
	margin-top: 3px;
	margin-bottom: 0px;
	padding-bottom: 0px;}
	
ul li ul
{
	margin-left: 0px;
	padding-left: 15px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/*classes for banner*/
.banner
{
	height: 108px;
	background-image: url(/images7/banner_bg.jpg);
	background-repeat: no-repeat;
	white-space: nowrap;
	/*width: 778px;*/
}
.bannertile
{
	height: 108px;
	background-image: url(/images7/banner_bg_tile.jpg);
	background-repeat: repeat-x;
}
.logoarea
{
	white-space: nowrap;
	vertical-align: top;
}
.logoarea table
{
	width: 530px;
	margin-top: 10px;
	margin-left: 12px;
}
.globallink
{
	vertical-align: top;
	text-align: right;
}
.globallink div
{
	width: 210px;
	position: relative;
	margin-right: 5px;
	margin-bottom: 12px;
	margin-top: 7px;
	z-index: 1;
	float: right;
	text-align: right;
	vertical-align: top;
}
.globallink div table
{
	margin-top: 5px;
}
.globallink div td
{
	width: auto;
	padding-left: 3px;
}
.pnav
{
	vertical-align: text-bottom; 
	margin-top: 9px;
}
.pnav td
{
	vertical-align:bottom; 
	text-align: right;
}
.mainbanner
{
	height: 88px;
	vertical-align: top;
	background-color: #DDE8F4;
}
.bannerleft
{
	background-image: url(../images/top_bg_20.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.global
{
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}
/*banner end */
#content
{
	padding-left: 10px;
}
#content1
{
	margin-top: 10px;
	margin-bottom: 10px;
}
td.promotionalarea
{
	vertical-align: top;
	text-align: right;
}
.promotional
{
	margin-bottom: 5px;
	background-color: #D6E6F6;
	width: 180px;
	vertical-align: top;
}
.footer
{
	border-top: #B8C5E0 solid 1px;
	/*background-color: #EFF2F9;
	padding-left: 10px;
	padding-right: 10px;*/
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 1em;
}
.footer1
{
	border-top: 1px solid #415FA2;
	/*background-color: #EFF2F9;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	/*font-size: 1em;*/
}
.footer1 p
{
	font-size: 1.1em;
}

#tocsel
{
	border-style: solid;
	border-left:  #7A9De1;
	border-bottom:  #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-top-width: 0px;	
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	background-color: #FFFFFF;
	background-image: url(/images7/tocselbg.gif);
	color: #8C1E1E;
}

#tocsel_2
{
	border-style: solid;
	border-left:  #7A9De1;
	border-bottom:  #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-top-width: 0px;	
	padding-left: 25px;
	padding-top: 3px;
	padding-bottom: 4px;
	background-color: #FFFFFF;
	background-image: url(/images7/tocselbg_2.gif);
	color: #8c1e1d;
	font-size: 0.7em;
}

#tocsel_3
{
	padding-left: 25px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-style: solid;
	border-color:  #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;	
	font-size: 0.7em;
}

.leftnav
{
	width: 183px;
	white-space: nowrap;
	/*background-color: #E1E2CF;  darker */
	 background-color: #F2F0E7; /* lighter */
	vertical-align: top;
}


.leftnav table
{
	margin-top: 4px;
	border-style: solid;
	/* border-color: #EEEFE4; */
	border-color:  #EEEFE4;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;	
}


.leftnav td
{
	padding-left: 10px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-style: solid;
	/* border-color:  #EEEFE4;  off white */
	border-color: #FFFFFF; /*  white */
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;	
	font-size: 0.75em;
}

.leftnav th
{
	color: #5A5A5A;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-right: 3px;
	font-weight: bold;
	text-align: left;
	border-style: solid;
	border-color: #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	font-size: 0.8em;
}

.leftnav th.secondlevelheading
{
	color: #5A5A5A;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-right: 3px;
	font-weight: bold;
	text-align: left;
	border-style: solid;
	border-color: #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	font-size: 0.75em;
}


/* 
a:link 
{	color: #0033CC;  - blue
	text-decoration:}
a:active 
{	color: #FF0000;   red
	text-decoration:}
a:visited 
{	color: #481073;  purple
	text-decoration:}	
a:hover               
{	color: #FF0000;  red
	text-decoration:}
 */


.leftnav a
{
	color: #244EB0;
	text-decoration: none;
}
.leftnav a:link
{
	color: #244EB0;
	text-decoration: none;
}
.leftnav a:active
{
	color: #244EB0;
	text-decoration: none;
}
.leftnav a:visited
{
	color: #244EB0;
	text-decoration: none;
}
.leftnav a:hover
{
	color: #FF0000;
	text-decoration: underline;
}

.leftnav #tocsel a
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel a:link
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel a:active
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel a:visited
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel a:hover
{
	color: #8C1E1E;
	text-decoration: underline;
}


.leftnav #tocsel_2 a
{
	color: #2E1111;
	text-decoration: none;
}
.leftnav #tocsel_2 a:link
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel_2 a:active
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel_2 a:visited
{
	color: #8C1E1E;
	text-decoration: none;
}
.leftnav #tocsel_2 a:hover
{
	color: #8C1E1E;
	text-decoration: underline;
}

.rightpannel
{
	width: 190px;
	background-color: #EFF5FE;
	vertical-align: top;
}
.rightpannel table
{
	margin-top: 10px;
}
.rightpannel td
{
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 0.75em;
}
.rightpannel ul
{
/*list-style-image: url(/images7/bullet.gif);*/
padding-left: 0px;
margin-left: 5px;
margin-bottom: 2px;
padding-bottom: 5px;
}
.rightpannel li
{
/*list-style-image: url(/images7/bullet.gif);*/
padding-left: 0px;
padding-bottom: 6px;
}
.rightpannel ul.innerul
{
/*list-style-image: url(/images7/bullet-02.gif);*/
padding-left: 0px;
margin-left: 5px;
margin-bottom: 2px;
padding-bottom: 5px;
}
.rightpannel li.innerul
{
/*list-style-image: url(/images7/bullet-02.gif);*/
padding-left: 0px;
padding-bottom: 2px;
}
.rightpannel ul.noindent
{
	list-style:  none;
	padding-left: 0px;
	margin-left: 0px;
	/*margin-bottom: 10px;*/
}
.rightpannel ul.noindent li
{
	list-style:  none;
	padding-left: 0px;
	margin-left: 0px;
	padding-bottom: 5px;
	list-style-image: none;
}
.rightpannel .header1
{
	background-image: url(/images7/rightpannel_header_bg1.jpg);
	background-repeat: repeat-x;
	COLOR: #444273;  /* Same color as top Tab bar */
	height: 20px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-right: 3px;
	font-weight: bold;
}
.rightpannel .header2
{
	background-image: url(/images7/rightpannel_header_bg1.jpg);
	background-repeat: repeat-x;
	COLOR: #444273;   /* Same color as top Tab bar */
	height: 20px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	font-weight: bold;
}



.rightpannel .title
{
	font-size: .95em;
	COLOR : #8C1E1E;
	font-weight:600;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rightpannel .highlights
{
	background-color: #CFDAF4;
}
.rightpannel p
{
	margin-bottom: 12px;
}
.rightpannel p.right
{
text-align: right;
margin-bottom: 14px;
}
.maincontent
{
	padding-left: 13px;
	padding-right: 0px;
	vertical-align: top;
	font-size: .8em;
}

/*---------*/

.maincontent table ul.noindent
{
	
	vertical-align: top;
	/* font-size: 1.0em; */
	font-size: 1.0em;
}
.maincontent ul
{
	margin-left: 15px;
	padding-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.maincontent ul li
{
	padding-bottom: 3px;
	/* padding-left: 10px; */
	padding-top: 3px;
	/* list-style: url(/images7/bullet.gif); */
}
.maincontent ul.noindent
{
	list-style:  none;
	padding-left: 0px;
	margin-left: 0px;

}
.maincontent ul.noindent li
{
	list-style:  none;
	padding-left: 0px;
	margin-left: 0px;
	padding-bottom: 5px;
	list-style-image: none;
}

/*---------*/

.maincontent td
{
 	font-size: 0.80em;  /* original = .80 */
	vertical-align: top;
}

.maincontent th  /* added - TGT */
{
 	font-size: 0.80em;  /* original = .80 */
	vertical-align: top;
}

.home
{
	border-style: solid;
/*	border-color:  #EEEFE4;*/
	border-color: #E7E8DA;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-top-width: 0px;	
	margin-top: 10px;
	margin-bottom: 10px;
}
.home h2
{
font-size: 1.1em;
margin-bottom: 5px;
margin-top:4px;
}

.home th
{
	background-image: url(/images7/home_header_bg.gif);
	background-repeat: repeat-x;
	background-position: right;
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;

}
.home td
{
	font-size: 0.75em;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 4px;
	padding-top: 3px;
	vertical-align: top;
}
.home .center
{
	margin-top: 2px;
}
.border
{
	border-color: #E7E8DA;
	border-style: solid;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-top-width: 0px;	
}
.home1
{
	border-style: solid;
/*	border-color:  #EEEFE4;*/
	border-color: #E7E8DA;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;	
	margin-bottom: 0px;
	margin-bottom: 0px;
}

.home1 th
{
	background-image: url(/images7/home_header_bg.jpg);
	background-position: right;
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 4px;
	padding-top: 3px;

}
.home1 td
{
	font-size: 0.75em;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 3px;
	vertical-align: top;
}
.homesearch
{
	background-color: #F2F0E7;
	color: #244FAE; 
}
.homesearch input
{
	margin-bottom: 10px;
}
.homesearch td
{
	color: #244FAE; 
}
.homesearch p
{
	margin-top: 10px;
	margin-bottom: 0px
}
.contentpadding
{
  padding-left: 10px;
  padding-right: 5px;
}
.contentdivider
{
	background-image: url(/images7/divider_blue.jpg);
	background-repeat: repeat-x;
	height: 11px;
}

	

.right
{
text-align: right;
}
.center
{
/*text-align: center;
vertical-align: middle;*/
position: absolute;
float: right;
}
.alert
{
	color: #DD0000;
}
.smalltext
{
	font-size: 0.8em;
	color: #5C5C5C;
}
form{
	margin: 10px 0px 0px 0px;
	padding:  0px 0px 0px 0px;
}
.formtable{
	background-color: #f7f7f2;
	padding-left: 0px;

}
.formtable th{
	font-size: .7em;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
}
.formtable td{
	font-size: .7em;
	vertical-align: top;
}
.leftpad{
	padding-left: 10px;
}

/* 
left nav (darker) = E1E2CF
homesearch (lignter) - F2F0E7
 */

table.searchtable {
	background-color: #F2F0E7;
	border: 1px solid #E7E8D9;
	margin-top: 10px;
}
.searchtable td{
	padding-top: 2px;
	vertical-align: middle;
}
.searchtable td.header{
	font-size: .8em;
	height: 20px;
	vertical-align: top;
}
.searchtable td.form{
	vertical-align: top;
	height: 32px;
}
.inactive{
	color: #888888;
}
h2.search{
	padding-top: 3px;
}
.inactivered{
	text-align: right;
	color: #ff0000;
}
.data
{
	border-color: #e7e8d9;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 5px;
}
.data td
{
	border-color: #e7e8d9;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 0.7em;
}
.data td.alternaterow
{
	background-color: #F7F7F2;
	border-color: #e7e8d9;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 0.7em;
}
.data th
{
	border-color: #BABBA2;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-top: 6px;
	/*background-color: #E1E2CF;  darker */
	 background-color: #F2F0E7; /* lighter */
	text-align: left;
	font-size: 0.75em;
	font-weight: bold;
}
.data p
{
	padding-top: 0px;
	padding-left: 0px;
	margin-left: -10px;
}