html {min-height:100%; margin-bottom:1px; height:1%} /* This is to remove firefox wiggle by adding a permanent scrollbar at the right*/
.aboutjournal {font-size: 11px; line-height: 14px; }
ul.aboutjournal {margin:5px 3px; padding:0px; list-style-type: none; }
p.aboutjournal {margin-left:5px}
.aboutjournal li {margin:5px 2px; background:url(/bmcimages/navbullet.gif) 0px 5px no-repeat; padding-left: 10px; }

/*common stylesheet, default version, V18 21 July 2003, old and new consolidated */
body, dl, ol, p, ul, td, th {font-size: 12px; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
body {margin:0px; padding:0px; }
dt {margin-top:5px}
h1 {margin-top:20px; font-size:18px; line-height:20px; font-weight:normal}
h2 {margin:15px 0px 5px 0px; padding:0px; font-size:17px; line-height:18px; font-weight:normal;}
h3 {font-size:16px; line-height:22px; font-weight:bold}
h4 {font-size:15px}
h5 {margin:1px 0px 1px 0px; padding:0px; font-size:12px; line-height:16px; font-weight: bold}
img {border:0px}
img.welcomeimage {float:right; margin:0px 0px 5px 10px;}
li {margin-top: 0px; margin-bottom: 0px}
sub {vertical-align: -20%}
sup {vertical-align: 20%}

/* about, small menu */

/* added to wrap indie browse navigation */
.submenu {font-size:11px; clear:left; margin-bottom:15px; color:#ccc}
.submenu a {text-decoration:none; white-space:nowrap; line-height:24px; font-size:10px; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif }

/* styles for drop down banner ads */ 
#newad {position:absolute; width:100%; top:0px; z-index:1}
#dropdown {display:block} /* targets ads with this specific id that utilise a drop down animation */


.acrightcolumn {margin: 0px 0px 25px 10px; padding: 2px 5px 4px 5px; float: right; width:160px}
.block {display:block}
.blog, .latest {margin:0px 0px 18px 0px; padding:0px; list-style-type:none}
.latest {margin:0px 0px 0px 16px}
.blog li, .latest li {margin:0px 0px 8px 0px; padding:0px}
.blog strong a, .latest strong a {text-decoration:none}
.blog strong a:hover, .latest strong a:hover {text-decoration:underline}
.bmcblog strong a, .latest strong a {color:#000}
.bodytext {font-size: 12px; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.bodytextwhite {font-size: 12px; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #ffffff}
.borderblack {border: 1px solid #000} 
.bordergrey {border: 1px solid #666}
.browselist {margin-top:10px; clear:both}
.celltext {font-size: 12px; line-height: 20px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.center {margin:0px auto; text-align:center}
.compact {font-size: 11px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.emailgrey {font-size: 11px;line-height:14px;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; color:#818181; width:124px;}
.compactbody {font-size: 12px; line-height: 13px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.compactsmall {font-size: 11px; line-height: 12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
#contenttop {margin: 0px 0px 7px 0px; padding:7px 10px 7px 10px; background-color:#f2f2f2; border-bottom:3px solid #e3e3e3 }
#contenttop p {margin:0px; padding:0px 0px 5px 0px; font-size:12px; line-height:14px}
#contenttop .editors, #contenttop .strapline {margin:0px 0px 2px 0px; padding:0px; font-size:11px}
#contenttop .callforpapers {margin:16px 0px 2px 0px}
.callforpapers h3 {margin-bottom:5px; color:#009966; font-size:14px}
.entity {font-family: 'Times New Roman', 'Times Roman', Times, Garamond, serif; font-size: 110%}
.error {padding: 4px; border: 1px solid #f00; color: #f00; font-weight:bold}
h4.error, #article h4.error {min-height:2em; margin:0px 0px 1em 0px; padding:5px 2px; border:1px dashed #f00; border-width:1px 0px; background:#fff0f5; color:#f00; font-size:12px; font-weight:normal}
.flags {margin:0px 0px 25px 10px; padding:2px 5px 4px 5px; float:right; width:90px; background-color:#fff}
.flags a {font-size:11px; line-height:14px;}
.flags span {padding:2px 0px; height:16px; display:block}
.flags img {margin:0px 0px -3px 0px}
.floatedmenu {width:120px; float:right; border:1px solid #999; padding:3px; font-size:11px; margin:17px 0px 10px 10px}
.floatedmenu ul {margin:-5px 0px 0px 0px; padding:0px; list-style-type:none}
.floatedmenu li {margin:0px 0px 0px 1px; padding:0px;}
.floatedmenu li.flags {margin:0px 25px 0px 25px}
.floatedmenu img {padding-top:5px}
.floatedmenu {clear:right}
.footer2t td {font-size:10px; line-height:16px}
.footer2t, .footer2t a {color:#fff}
.greyout {color:#999}
.infobox {border:1px solid #ccc;padding:20px;text-align:justify;font:12px/18px verdana,arial,helvetica,sans-serif;background:#d9eeff;}
A.hiddenlink {text-decoration: none}
A.hiddenblack {color: #000000; text-decoration: none}
A.hiddenblack:hover {color: #000000}
#homecontentpart2 h3 {color:#003399;font-size: 16px; line-height: 22px}
.inlineimg img {float:left; margin:0px 10px 5px 0px}
.mainHead {font-size: 18px; font-weight: bold; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.message {margin:1em 0px; padding:5px; border:1px solid #666;}
.message img{float:left;padding:0px 4px 1px 2px}
.messagealert{	font-size: 12px; font-family: verdana, trebuchet, arial, helvetica; line-height: 16px;	color: RED;}
.monospace {font-weight: normal; font-family: Courier, 'Courier New', monospace;}
#new {margin:10px}
.nowrap {white-space: nowrap}
.notunderlined A {text-decoration: none}
.offsetbg {margin-top:5px; font-size:12px; line-height:16px; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
.offsetsm {margin-top:5px; font-size:10px; line-height:15px; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
.querybox {width:460px; background-color:#d9eeff; border:1px solid #999; margin:0px auto; padding:10px; text-align:center}
.querybox h4 {margin:0px 0px 7px 0px; font-size:16px}
.querybox select {margin-bottom:10px}
.spacedbullets {margin:5px 0px 0px 0px}
.spacedbullets li {margin-bottom: 5px}
ul.spacedlist {margin:5px 0px 0px 20px; padding:0px; list-style-type:none}
ul.spacedlist li {margin-bottom:10px}
.spacedlist p {margin:0px}
.stronglist dt {font-weight:bold}
#homecontentpart2 .supplement {margin:0px 10px 10px 12px}
#homecontentpart2 .supplement h3 {margin-top:9px}
.toptext:after {content:"."; display:block;height: 0; clear:left; visibility:hidden}

.addfile {margin:10px 80px 0px 20px; padding:0px; border-top:1px dashed #666; clear:left;}
.addfile object {margin-bottom:2px}
.addfile p {margin:5px 0px 0px 0px; font-size:11px;}
.fig img.play, #popwindow img {margin:0px; float:none;}
.additional .addfile {margin:15px 0px 15px 0px; padding:0px 0px 10px 0px; border-top:none; border-bottom:2px solid #aaa; font-size:12px}
#innerframe {width:100%; background-color:#fff; border-top:1px solid #999; border-right:1px solid #999; border-left:1px solid #999; margin-top:80px; z-index:2; position:absolute}
#popwindow .addfile {margin:5px; border:none}
#popwindow .addfile p, #popwindow .fig p, .additional .addfile p {font-size:12px}
#popwindow {background:#fff}
.embedded, p.embedded {margin-bottom:16px}
.addfile span img {display:block}
.longstring {word-spacing:-0.25em}
.movie {position:relative}
.movie img {padding-bottom:20px; display:block}
.movie embed , .movie object {display:block}
.movie br {display:none}
.play {position:relative; bottom:24px; left:4px;}
.movie .play {position:absolute; bottom:6px; left:4px;}
.noteref {margin-left:1px}
#outerframe {max-width:1024px; min-width:776px; margin:0px auto; position:relative; text-align:left}
.poster {border:1px solid #999}
.progress2 td {line-height:8px}
.rightbutton {background-color:#003399}
.rightbutton img {display:block}
.smalltext {font-size: 11px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.smallcelltext {font-size: 11px; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.softMainHead {font-size: 18px; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.softsubBHead {font-size: 15px; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.softsubCHead {font-size: 13px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.softsubHead {font-size: 16px; line-height: 22px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.subBHead {font-size: 15px; font-weight: bold; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.subCHead {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; line-height: 14px}
.subHead, .subhead {font-size: 16px; font-weight: bold; line-height: 22px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.tinytext {font-size: 10px; line-height: 15px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.tightlist {margin:0px 0px 0px 20px; padding:0px; list-style-type:none}
.tightlist li {margin-bottom:2px}
.titlenote {font-size:11px; line-height:14px; margin:0px 0px 20px 0px}
.topad {padding-top:2px; white-space:nowrap; height:95px;}
.topad div {display:inline}
.topad table {display:inline}
#topnav {font-size:11px; line-height:20px; padding-right:5px; text-align:right; white-space:normal}
#topnav a {color:#000; text-decoration:none; white-space:nowrap}
#topnav a:hover {text-decoration:underline}

.topright img { margin-bottom: 3px; margin-top: 3px }
.topright img { display: block }

/* footer 
#footer1 {text-align:center}
#footer1 a {white-space:nowrap}
#footer1 div {padding:10px 0px 1px 0px; font-size:10px; text-align:center; width:100%}
#footer2 {font-size:10px; background-color:#003399; text-align:center}
*/

/*BMC home page*/
#welcome h4 {margin:0px; padding:0px 0px 3px 0px; font-size:16px; line-height:22px}
#welcome p {margin:0px; padding:0px 0px 3px 0px; font-size:12px; line-height:16px}
#announcement {} /*this is a place holder for styles for important announcements to put on BMC home page*/
#homecontent h3, #mycontent h3 {margin:0px 0px 10px; padding:0px 0px 3px 13px; color:#039; font-size:13px; line-height:17px; border-bottom:1px solid #8d8d8d; background:url(/graphics/interface/header_sub.gif) 0px 5px no-repeat}
#homecontent h3 .helptext {font-weight:normal}
#homecontent .latest, #mycontent .latest {margin:0px; padding:0px; list-style-type:none}
#homecontent .latest li {margin:0px 0px 10px 0px}
#homecontent .more, #mycontent .more {margin-top:0px; font-size:11px; line-height:14px} /*this is a class used to style more link*/
.sidesegment {margin:0px 0px 35px 0px}
.latest .offsetbg {margin-top:3px}
/*temp styles for latest articles on BMC home page*/
#homecontent .latestarticles {margin-top:-20px}
#homecontent .latestarticles h3 {background:url(/graphics/interface/header_sub.gif) 0px 8px no-repeat}
/*adjusting spacing on the comment page*/
#commentcontent .latest {margin-left:0px}
/*adjusting spacing round the research awards button*/
.researchbut {padding-top:3px}

/*browse list with tiny images*/
.tinythumblist {margin:10px 0px; padding:0px}
.tinythumblist li {list-style-type:none; margin-bottom:8px; clear:left}
.tinythumblist img {float:left; width:30px}
.tinythumblist img.rss {float:none; width:16px}
.tinythumblist div {margin-left:35px}

/* info table - FAQ, conferences, article */
.info {border:1px solid #999; margin-bottom:5px;}
.info td {vertical-align:top}
.info .smcol {width:100px}
.info .bgcol {width:200px}
.info th {background-color:#d7d5d5; border-bottom:1px solid #999; text-align:left}
.info .label {font-weight:bold; text-align:left; width:90px}
.alt {background:#f2f2f2}
.vevent abbr {border:0px}


/* series list */
.steplist, .steplist ul {list-style-type:none}
.steplist {margin:0px 0px 0px 18px; padding:0px}
.steplist ul {margin:0px; padding-left:0px}
.steplist ul ul {margin:0px; padding-left:0px}
.steplist li {margin-bottom:8px}
.steplist h2 {font-weight: bold; font-size: 15px; line-height:18px; color:#000; margin:0px; padding:15px 0px}
.steplist h3 {font-weight: normal; font-size: 12px; line-height:14px; margin:0px; padding:10px 0px 4px 0px}
.steplist li {font-size: 11px; line-height:14px;}
.steplist li a {font-size: 12px; font-weight: bold; line-height: 14px; text-decoration:none}
.steplist li a:hover {text-decoration:underline}

.xalphabet {font-weight: bold; font-size: 16px; color: #aaaaaa; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xalphabet A {color: #0066cc; text-decoration: none}
.xalphabet A:hover {color: #0066cc}
.xalphabeton {background-color: #0066cc; color: #ffffff}
.xauthor {font-size: 12px; font-weight: bold; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
A.xbmclink {color: #003399; text-decoration: none}
A.xbmclink:active {color: #6699ff}
A.xbmclink:visited {color: #3366cc}
.xborder {border: 1px solid #000000}
.xbuttontext {font-size: 11px; line-height: 11px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xbuttontext A {color: #000000; text-decoration: none}
.xbuttontext A:hover {color: #0033992}
.xbuttontext A:hover font {color: #0033992}
.xcaption {font-size: 11px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xcaptionscheme {font-size: 12px; line-height: 24px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  margin-top:10px; padding-left:5px; BORDER-BOTTOM:1px solid #ccc; width: 80%}
.xcitation {page-break-inside: avoid}
.xcitationtitle {font-size: 14px; font-weight: bold; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xcitationtitle A {text-decoration: none}
.xcitationtitle2 {font-size: 16px; font-weight: bold; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xcitationtitle2 A {text-decoration: none}
.xdispform {text-align:CENTER; width: 100%}
.xdispformid {text-align:RIGHT;}
.xfull {font-size: 13px; line-height: 17px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xfullindent1 {padding-left: 20px; font-size: 13px; line-height: 17px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xfullindent2 {padding-left: 40px; font-size: 13px; line-height: 17px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xfullindent3 {padding-left: 60px; font-size: 13px; line-height: 17px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.ximage {margin-top:1.5em; margin-bottom:2.5em}
.xindent {padding-left: 10px; padding-bottom: 5px; text-indent: -10px; font-size: 12px; line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xindent A {color: #0033ff; text-decoration: none}
.xindent2 {color: #999999; font-style: italic}
.xindent2 A {color: #999999}
.xinfo td {line-height:14px}
.xinfo img {display:block}
.xinfobullet {padding-right:3px; vertical-align:top; font-size: 11px;}
.xinfoheading {padding-top: 3px; font-size: 11px; font-weight: bold;}
.xinfoheading A {text-decoration: none}
.xinfoheadingon {padding-TOP: 3px; font-size: 11px; color:#009966; FONT-WEIGHT: bold;}
.xinfolink {font-size: 11px; line-height:13px}
.xinfolink A {text-decoration: none}
.xinfolinkon {font-size: 11px; color: #009966; font-weight: bold;}
.xinfolinkon A {text-decoration: none; color:#009966;}
#xinfomaincol {width:605PX; padding: 0 5PX 0 5PX}
#xinfoonecol {width:600PX; padding: 0 0 0 5PX}
#xinforightcol {padding: 0; width: 160PX; border-width: 0; margin-top:10PX; text-align:left}
.xnavbox td {font-size: 11px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif}
#auth1, #auth2, .xon {padding-left:13px}
.xpagehead {font-size: 16px; font-weight: bold; color: #009966; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xpagesubhead {font-size: 13px; font-weight: bold; line-height: 14px; color: #009966; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xpapertitle {color: #000000; font-size: 20px; line-height: 26px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xpushbutton {border-top:1px solid #b2c1e0; border-right:1px solid #039; border-bottom:1px solid #039; border-left:1px solid #b2c1e0; color:#039; font-size:11px; line-height:14px; font-style:italic; padding:0px 5px; text-decoration:none}
.xpushbutton:hover {border-top:1px solid #039; border-right:1px solid #b2c1e0; border-bottom:1px solid #b2c1e0; border-left:1px solid #039; color:#039; text-decoration:none; }
.xprocess {color: #ffffff; font-size: 11px; font-weight: bold; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xprocess A:link, .xprocess a:visited {color: #ffffff; text-decoration: none}
.xprocess A:hover {color: #33ff99}
.xqctext {color: #FF0000; font-size: 12px; font-weight: normal; font-family: Courier, 'Courier New', monospace;}
.xqctextblack {color: #000000; font-size: 12px; font-weight: normal; font-family: Courier, 'Courier New', monospace;}
.xreference {font-size: 12px; line-height: 15px; font-weight: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xscientist td {padding-top:6px}
.xscientisttop {background-color:#99ccff}
.xsection {font-size: 18px; line-height: 24px; font-weight: bold; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xsideheading {font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #ffffff}
.xsideheading A {color: #ffffff; text-decoration: none}
.xspacer {color: #cccccc; font-size: 16px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xswitchsearch {font-size: 11px; line-height: 8px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.xtab {font-size: 15px; font-weight: bold; font-family: Geneva, Arial, Helvetica, sans-serif;}
.xtab A {text-decoration: none}
.xthumb TD {padding-top:5px; padding-bottom:5px}
.xtoplinks {color: #ffffff; font-size: 10px; line-height: 15px; text-decoration: none;  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

@media print {
#leftcolumn, .lineno {display:none}
#innerframe {width:auto; z-index:auto; position:static}
}

/*ADVOCACY NEW DESIGN STYLE */
.sectionrow {width:720px; float:left; margin-bottom:10px; border:0}
.section {float:left; width:350px; margin:0px 10px 0px 0px; padding:10px 0px 0px 0px}
.section img {display:block; padding:0px 10px 2px 0px; margin:0px 10px 0px 0px}
.section img.floating {float:left; padding:0px 10px 2px 0px; margin:0px 10px 0px 0px}
.section h2  {color:#004f8b; margin:0px 0px 10px; padding:0px; font-size:17px; line-height:20px; border:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold}
.section h2 a:link, .section h2 a:visited {color::#146b14; text-decoration:none}
.section h2 a:hover {color::#146b14; text-decoration:underline}

/* Forms */

.standardform, .searchform, .searchresults {width:auto}
#article .standardform {margin-right:185px}
.formtable {margin:0px 0px 10px 0px; width:100%; border:1px solid #999; background-color:#d9eeff; clear:left}
#article .formtable {background-color:#f2f2f2;}
.formtable p {margin:0px 0px 5px 0px}
.formtable td {vertical-align:top; border:0}
.formtable input, .formtable select {vertical-align:middle}
.formbuttons {margin:0px 0px 10px 165px; padding:5px 5px 5px 13px}
h4.formtitle {margin:10px 0px 2px 0px; padding:5px 8px 0px 0px; font-size:13px; line-height:13px}
.label {text-align:right; width:165px; font-weight:bold}
#article .label {width:200px}

/* NEW DESIGN styles for new fulltext - start*/
/*general*/
#article td, #article p, #article ul, #article ol {font-size:12px; line-height:16px; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif}
/* #article {max-width:1024px; min-width:776px; margin:0px auto; position:relative} */
#article img {border:0px}
#article p {margin:0px 0px 1em 0px; line-height:18px}
/* #article p {font-family: STIXGeneral,Verdana,Geneva,Arial,Helvetica,sans-serif} */
#article hr {border:0px; height:1px; width:100%; background-color:#666; color:#666}
#article .hrgrey {border:0px; height:1px; width:100%; background-color:#999; color:#999}

/*links*/
#article a:link {color:#003399}
#article a.xtoplinks:link {color:#fff}
#article a:visited {color:#3366cc}
#article a.xtoplinks:visited {color:#fff}

/*page headings*/
#article h1 {margin:15px 0px; padding:0px; font-size:22px; line-height:24px; color:#000; font-weight:normal; font-family:Verdana, Arial,Geneva,Helvetica,sans-serif}
#article #topmatter h1 {margin:0px; padding:13px 0px 10px 0px}
#article h1 img {margin-left:20px}
#article h2 {margin:10px 0px; padding:5px 8px 4px 0px; border-bottom:1px solid #666; font-size:15px; font-weight:bold; color:#003399; background-color:#fff; clear:left; font-family:Verdana, Arial,Geneva,Helvetica,sans-serif}
#article h3 {margin:10px 0px; padding:5px 8px 4px 0px; border-bottom:1px solid #666; font-size:15px; font-weight:bold; color:#003399; background-color:#fff; clear:left; font-family:Verdana, Arial,Geneva,Helvetica,sans-serif}
#article h3.notitle {padding-top:24px}
#article h4 {margin:0px; padding:10px 0px 5px 0px; font-size:14px; clear:left; font-family:Verdana, Arial,Geneva,Helvetica,sans-serif}
#article h4.message {min-height:2em; margin:0px 0px 1em 0px; padding:5px 2px; border:1px dashed #666; border-width:1px 0px; background:#f2f2f2; font-size:12px; font-weight:normal}
#article h4.bottommessage {text-align:center; border:1px solid #666; background-color:#f2f2f2; padding:20px; margin:30px 120px; font-size:12px; font-weight:normal; clear:right}
#article h5 {margin:0px; padding:10px 0px 0px 0px; clear:left}

/*skip menu*/
.skip {display:block; position:relative; top:-100px; left:0; z-index:0; width:100%}
.skip a {padding:5px; left:0; z-index:0}
.skip a:focus, .skip a:active {display:inline; z-index:2; border:1px solid #f00; background-color:#fff0f5; color:#f00; text-decoration:none; position:relative; top:150px; left:0}

/*page content*/
#article #content {padding:15px 10px 10px 10px; width:100%}

/*left column and outline menu*/
#article #leftcolumn {padding-top:15px}
#article #outline {top:auto; left:0px; width:119px; margin:0px 0px 0px 10px; padding:0px; border:1px solid #999; font-size:11px; text-align:right; color:#000; background:#fff}
#article #outline li {border-bottom:1px dashed #ccc; list-style-type:none; min-height:26px; overflow:hidden; overflow-x:hidden; width:119px; position:relative; vertical-align:top}
#article #outline li.long {overflow:visible; overflow-x:visible}
#article #outline a:link, #outline a:visited {color:#000; text-decoration:none; padding:5px; display:block}
#article #outline a:hover {background-color:#f2f2f2; padding:5px 5px 5px 2px; border-left:3px double #666; color:#003399;}
#article #outline .long a  {display:block}
#article #outline a.full {white-space:nowrap; position:absolute; left:0px; top:auto; width:600px; overflow:hidden; overflow-x:hidden; background-color:#f2f2f2; margin:-1px 0px 0px 0px; padding:5px 5px 5px 7px; border:1px dashed #ccc; border-right:1px solid #ccc; border-left:3px double #666; text-align:left}
#article #outline li.lowest {border-bottom:none}

/*top of the article*/
#article .articletype {font-size:12px} /*located at the very top of the article*/
#article #topmatter, #article #topmatter td, #article #topmatter p {font-size:11px; line-height:14px}
#article #topmatter td {padding-right:10px}
#article #topmatter table {margin-bottom:10px}
#article .pseudotab {margin-left:20px} /*doi*/
#article .pseudotabau {margin-right:20px} /*author images*/
#article .access  {float:right; margin-left:5px; padding:2px 0px 0px; vertical-align:baseline}
.singleins, .multipleins {margin-bottom:1em; position:static}
#article .singleins p {margin:0px; padding:0px; line-height:14px}
#article .multipleins p {margin:0px 0px 0px 20px; padding:0px; line-height:14px}
#article .multipleins p sup {float:left; display:block; width:16px; margin-left:-20px}
#article .singleins p.authors, #article .multipleins p.authors {margin:0px; padding:0px}
#article .multipleins p.authors sup {width:auto; float:none; display:inline; margin-left:0px}


/*next previous*/
#article .articlepager {float:right; width:200px; margin-top:3px; text-align:right; font-size:11px}
#article .articlepager a {margin-left:7px; white-space:nowrap; text-decoration:none}
#article .articlepager a:hover {text-decoration:underline}

/* article navigation box */
#article #navbox {float:right; width:180px; background-color:#fff; margin:-2px -3px 0px 0px; padding:0px 0px 0px 7px; z-index:20; position:relative}
#article #navbox table {width:180px}
#article #navbox td {font-size:11px; line-height:14px; border:1px solid #999}
#article #navbox ul {margin:0px; padding:0px 0px 10px 2px}
#article #navbox li {list-style-type:none; font-size:11px; line-height:14px; background:url(/bmcimages/article/navbullet.gif) 1px 6px no-repeat; padding-left:8px}
#article #navbox li div {margin-left:7px}
#article #navbox #auth {margin-left:20px}
#article #navbox ul li img {vertical-align:bottom}
#article #navbox a:link, #article #navbox a:visited {text-decoration:none}
#article #navbox a:hover {text-decoration:underline}
#article #navbox p img {display:block; margin:10px auto}
#article #navbox ul.iconlist {list-style-type:none; padding:0px 0px 0px 2px; margin:0px}
#article #navbox ul.iconlist li {margin:0px; padding:0px; background:none}
#article .navboxmessage {margin:5px; font-size:11px; line-height:14px}
#article li div#authg, #article li div#authpm, #article li div#authos, #article li div#autha {margin-left:20px}

/*figures, additional files, tables, schemes*/
#article .addfile object {margin-bottom:2px}
#article .additional .addfile {margin:15px 0px 15px 0px; padding:0px 0px 10px 0px; border-top:none; border-bottom:1px dashed #666; background-color:transparent}
#article .additional .addfile p {font-size:12px}
#article .embedded, #article p.embedded {margin-bottom:16px}
#article .fig, #article .table, #article .scheme, #article .addfile {margin:12px 0px 0px 0px; padding:0px 8px 1px 8px; border-top:1px dashed #666; border-bottom:1px dashed #666; clear:left; background-color:#f2f2f2;}
#article .fig p, #article .table p, #article .scheme p, #article .addfile p {margin:5px 0px; font-size:11px; line-height:16px}
#article .fig:after, #article .table:after, #article .scheme:after, #article .addfile:after {content:"."; display:block;height: 0; clear:left; visibility:hidden}
#article .figs {margin:20px 80px 20px 20px; padding:0px}
/*#article .figs .fig img, #article .figs .table img, #article .figs .addfile img {margin:3px 8px 7px 0px; float:left; display:inline}*/
#article .figs .fig img.thumbnail, #article .figs .addfile img.thumbnail {margin:3px 8px 7px 0px; float:left; display:inline}
#article .figs .scheme img {margin:3px -70px 0px 0px}
#article img.mathimg {vertical-align:middle}
#article .poster {border:1px solid #999}

/*article popup*/
#popup img.mathimg {vertical-align:middle}
#popup {font-size:12px; line-height:16px; background:#e8e8e8 url(/bmcimages/square.gif)}
#popup p, #popup td {font-size:12px; line-height:16px}
#popup hr {border:0px; height:1px; width:100%; background-color:#666; color:#666}
#poparticle {border:1px solid #666; margin:10px; padding:5px; background-color:#fff}
#poparticle table {margin:5px 0px 5px -5px}
#poparticle td {padding-right:10px}
#poparticle h1 {font-size:15px; line-height:16px; padding:0px; margin:0px; color:#003399; font-weight:bold}
#poparticle p {margin:5px 0px}
#poparticle .legend {font-size:12px; line-height:16px; border-top:1px dashed #666; padding-top:5px}

.helptext {font-size:11px; line-height:14px; vertical-align:bottom}

.headinglinks {float:right; width: 35%; text-align:right; font-size:11px}
.headinglinks a {margin:0px 5px; white-space:nowrap}
.headinglinks a.active {text-decoration:none; color:#000; font-weight:bold}
.headinglinks .active {color:#000; font-weight:bold}
.headinglinks img {vertical-align:middle}

/*equation numbering*/
#article .inlinenumber {text-align:center}
#article .inlinenumber span {position:absolute; right:50px}
#article .inlinenumber span.entity {position:static} 
#article .inlinenumber span.lineno {position:absolute; text-align:left}

/* references and footnotes */
#article #references {padding:0px; margin:0px 0px 0px 55px}
#article #references li {padding-bottom:15px}
#article #references li p {margin:0px 0px; padding:0px}
#article #references li p img {vertical-align:middle}
#article #references a {white-space:nowrap; text-decoration:underline}  /* extra underline here is for Opera */
#article #references a.longstring {white-space:normal; text-decoration:underline}
#footnotes {padding:0px; margin:0px 0px 0px 55px;}
#footnotes li {padding-bottom:15px}
#footnotes li p {margin:0px 0px 5px 0px; padding:0px;}
#footnotes li p img {vertical-align:middle;}
#references :target, #footnotes :target {background-color: #f2f2f2}
#references :not(:target) .totext, #footnotes :not(:target) .totext {display:none}
#references :target .totext, #footnotes :target .totext {display:block}


/*quality control*/
#article #qcarticle {margin-left:70px}
#article #qcarticle h3 span, #article #qcarticle h4 span, #article #qcarticle h5 span {color:#f00}
#article #qcarticle .entity {color:#000}
#article #cqbox {margin:1em 0px; border:1px solid #666; padding:10px; background:#f2f2f2}
#article #cqbox table {margin-left:-5px}
#article #cqbox td {padding-right:5px}
#article #cqbox h4, #article #cqbox h5 {margin:5px 0px}
#article #cqbox a:link, #article #cqbox a:visited, #article #cqbox a:hover {color:#f00}
#article .qccheck {color:#f00}
#article .lineno {color:#f00; position:absolute; left:130px; top:auto; font-weight:bold}
#article .lineref {color:#f00}
#article .lineref span.math {color:#000}
#article .math img {padding:5px 0px}

/*email a friend, post comment, download references*/
#topmatterbox td h3 {background-color:#f2f2f2; border-bottom:0px; margin:0px; padding:0px 0px 5px 0px; font-size:14px}
#topmatterbox p {font-size:11px; line-height:14px}

/*readers comments*/
#article .top {text-align:right}
#article .top a:link, #article .top a:visited {text-decoration:none; padding-right:13px; background:transparent url(/bmcimages/article/top_arrow.gif) bottom right no-repeat}
#article .top a:hover {text-decoration:underline; padding-right:13px}
#article ul.standalone {margin:1em 0px 1em 20px; padding:0px}

/*prepublication history*/
#article .alt {background:#f2f2f2}

/*post comment page*/
.err {color:#f00; font-size:10px}
/* NEW DESIGN styles for new fulltext - end*/

/*fixing buttons in the left navgiagation BMC*/
/*hiding from IE5/Mac \*/
.navbutton img {display:block}
/*end*/


/*microformats - vcard*/
.vcard {width:600px; padding:5px}
.vcard .logo, .vcard .url, .vcard .geo, .vcard .tel .type {position:absolute; top:-9000px; left:-9000px}
.vcard .email .type, .vcard .tel .switchboard, .vcard .tel .customerservices, .vcard .tel .facsimile, .vcard .postaladr {font-weight:bold; float:left; width:150px; text-align:right; padding-right:10px; margin-top:20px}
.vcard .email .value, .vcard .tel .value, .vcard .tel .customerinfo, .vcard .postaladrinfo {float:left; width:350px; margin-top:20px}
.vcard p {clear:left; font-size:12px; line-height:16px}
.vcard div, .vcard span {font-size:12px; line-height:16px}
.vcard .adr span {display:block}
.vcard .adr span.locality, .vcard .adr span.postal-code {display:inline}
.vcard .postaladrinfo {margin-bottom:20px}


/* LEGACY STYLES BELOW --- DO NOT USE */
.inlineSans {font-size: 13px; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.internalNavMain {font-size: 11px; line-height: 11px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.midSans {font-size: 12px;  line-height: 16px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.smallSans {font-size: 10px; line-height: 15px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.smallLinks {font-size: 10px; line-height: 15px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

.FrontLevel1 {font-size: 16px; font-weight: bold; line-height: 18px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.FrontLevel3 {font-size: 11px; font-weight: bold; line-height: 12px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.TocHead {font-size: 14px; line-height: 18px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

.field {border-width : 2; font-size : 14px; font-family : Arial;}
.FrontLevel2 {font-size: 14px; FONT-WEIGHT: bold; line-height: 16px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

.inlineTocSans {color: #000000; font-size: 10px; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.interfaceText {font-size: 12px; line-height: 18px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.internalNav {color: #666666; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.internalNavOptions {color: #cc0000; font-size: 10px; line-height: 12px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.sectionHead {font-size: 16px; line-height: 16px; mso-pagination: widow-orphan; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.SectionNav {color: #666666; font-size: 11px; line-height: 13px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.sideTocText {color: #000000; font-size: 10px; line-height: 12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.sideTocLink {text-decoration: none}
.sideTocHead {color: #000000; font-size: 11px; line-height: 13px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.Splash {color: #ffffff; font-size: 10px; line-height: 14px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.SplashToo {color: #cccccc; font-size: 13px; line-height: 14px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.smallLinksB {font-size: 10px; line-height: 20px; text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.spacer {color: #cccccc; font-size: 16px; line-height: 14px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.subDHead {font-weight: bold; font-size: 12px; line-height: 15px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
.style1 { font-size: 16px; font-weight: bold; }

/* LEGACY STYLES ABOVE --- DO NOT USE */

A:hover {text-decoration: underline}
.xtoplinks:hover {background-color: #6699ff; text-decoration: none} 

/* Style for issue image in Jbiol (3007)*/
.issuecover {
	float:right;
	font-size:11px;
	line-height:14px;
	margin:15px 0 30px 35px;
	text-align:center;
	width:155px;
}