#dhtmltooltip
{
		position: absolute;
		left: -300px;
		width: 150px;
		border: 1px solid black;
		padding: 2px;
		background-color: lightyellow;
		visibility: hidden;
		z-index: 100;
		/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
		filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer
{
		position:absolute;
		left: -300px;
		z-index: 101;
		visibility: hidden;
}

.txt
{
	color:red;
}
body, p, h1, h2, h3, table, td, th, ul, ol, li, form, textarea, input 
{
	font-family: Trebuchet MS, Arial, Helvetica, Verdana, sans-serif;
}

body, p, td, li, form 
{
    font-size: 9pt;
    color: #333333;
}

img 
{
	border:0px;
}

h1  { color:#666;}
h2  { color:#004896; }
h3  { color:#225591; }
h4  { color:#666; }
.title
{
	font-size: 14px; text-align:center;
	font-weight: bold;
}
.content_txt
{
	font-family: Copperplate, Times New Roman, Times, serif;
	font-variant: small-caps;
	font-size:13px;
	color:#827975;
	background:#eeeeee;
	padding: 3px 8px 3px 8px;
    margin-top: 10px;
    margin-right: 8px;
	text-decoration:none;
	line-height:14px;
	letter-spacing:0.5px;
}

.quiet 
{
    font-family: verdana, helvetica, sans-serif;
    font-size: x-small;
}

.quiet a 
{
  background-color:transparent;
}

.quiet a:link    {color: #cccccc;}
.quiet a:visited {color: #cccccc;}
.quiet a:active  {color: #3333aa;}
.quiet a:hover   {color: #3333aa;}



#page_head 
{
    width:800px;
    height:138px;
    vertical-align: top;
    background: url(../images/gaggle_banner.jpg) top left no-repeat;
}

#page_head p 
{
    margin: 8px 0px 4px 8px;
}

#page_head .inset 
{
    padding: 12px 0px 0px;
    margin: 0px 7px;
}

#page_head a 
{
    font-family: Copperplate, Arial, Helvetica, sans-serif;
    font-size:16px;
    text-decoration:none;
    line-height:12px;
    letter-spacing:.1px;
    font-weight:bold;
    text-align:center;
}

#page_head a:link    {color: #666666;}
#page_head a:visited {color: #666666;}
#page_head a:active  {color: #f7931d;}
#page_head a:hover   {color: #f7931d;}

#page_head table 
{
 padding: 2px;
 border: 2px solid #ff7711;
 background: #D0ECB3;
 width: 136px;
}

#page_head td 
{
 padding: 0.0em 0.2em 0.3em;
 vertical-align:bottom;
}



#left_nav_bar 
{
    width:151px;
    height:689px;
    vertical-align: top;
    background: #D0ECB3 url(../images/gaggle_left.jpg) top left no-repeat;
}

.nav_header 
{
    font-family: Copperplate, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 16px;
    text-decoration:none;
    line-height:13px;
    letter-spacing:.1px;
    font-weight:bold;
    text-align:center;
}

#left_nav_bar a 
{
    font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
    font-size:11px;
    color:#ffffff;
    text-decoration:none;
    font-weight:normal;
    /*text-align:center;*/
}

#left_nav_bar a:link    {color: #666666;}
#left_nav_bar a:visited {color: #666666;}
#left_nav_bar a:active  {color: #f7931d;}
#left_nav_bar a:hover   {color: #f7931d;}

#left_nav_bar table 
{
 padding: 2px;
 border: 2px solid #ff7711;
 background: #D0ECB3;
 width: 136px;
}

#left_nav_bar td 
{
 padding: 0.5em 0.2em 0.3em 0.2em;
}

#left_nav_bar .inset 
{
 margin: 2em 7px 2em 7px;
}



#content 
{
    width:645px;
    vertical-align: top;
}

#content h2 
{
    font-family: Copperplate, Times New Roman, Times, serif;
	font-variant: small-caps;
	font-size:14px;
	color:#827975;
	background:#f8d9a8;
    padding: 3px 8px 3px 8px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
	text-decoration:none;
	line-height:14px;
	letter-spacing:0.5px;
	font-weight:bold
}

#content h3 
{

}

.content_text 
{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#content a 
{
    text-decoration:none;
}

#content a:link    {color: #ff7711;}
#content a:visited {color: #ff7711;}
#content a:active  {color: #294A93;}
#content a:hover   {color: #294A93;}

#content li 
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#content .warning 
{
    color: red;
}

#content code .comment 
{
    color: blue;
}

#content .credits 
{
  text-align: center;
  padding-top: 1em;
}

#content .credits .section 
{
  padding-bottom: 0.4em;
}

#content .credits a:link    {color: #294a93;}
#content .credits a:visited {color: #294a93;}
#content .credits a:active  {color: #fc7907;}
#content .credits a:hover   {color: #fc7907;}

#content .contact
 {
  color: #fc7907;
}


#bottom_crossbar 
{
    background:#D0ECB3;
    font-size: x-small;
    color: #666666;
    text-align:right;
    padding: 4px 8px 4px 4px;
}

.article 
{
    padding: 1ex 2em 1ex 2em;
}

.article .title 
{
    font-weight: bold;
    padding-bottom: 0.5ex;
}

.article .author 
{
    font-weight: bold;
}

.special {
  float: right;
  width: 20em;
  border: 2px solid #ff7711;
  margin: 0 0 0.5ex 1em;
  background: #EEEEEE;
}

.special p, h3 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#news h1 
{
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 16pt;
}

#news .header 
{
  background:#EEEEEE;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-style: italic;
  padding: 0.5ex 2em 0.5ex 2em;
}

#news .by 
{
  text-align: left;
}

#news .date 
{
  float: right;
  text-align: right;
}

#news p 
{
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12pt;
  color: #333333;  
}

.tag 
{
    color: #336699;
}

.string 
{
    color: #00AA00;
}

.attr 
{
    color: #000066;
}

.citation 
{
    margin-left: 2em;
    margin-right: 2em;
}

.citation .title 
{
    font-style: italic;
}
#headerbg
{
	background-color:#f8d9a8;
	font-size: 12px;
	font-weight: bold;
}
#row1{ background-color:#f7ead3;}
#row2{ background-color:#f3ebdd;}
#row3{ background-color:#fbf8f2;}
a{
	color:#c55307;
	text-decoration: none;
}
a:hover{
	color:#c55307;
	text-decoration: underline;
}
#vline
{
	background-image: url(../images/vline.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#tools{
	color:#sdfsdf;
	text-decoration: none;
}
#tools:hover{
	color:#c55307;
	text-decoration: none;
}
.headerbg
{
	background-image: url(../images/headerbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.tableborder
{
	border: 1px solid #f1b96f;

}
tr.odd {
  background-color: #e2ebf0;
  border-bottom: 1px solid #c1dad7;
  padding: 0.1em 0.6em;
}
tr.even{
  background-color: #ffffff;
  border-bottom: 1px solid #c1dad7;
  padding: 0.1em 0.6em;
}
.textfield
{
	border: 1px solid #f1b96f;
	height: 16px;
	width: 230px;
}