/*                      */
/* styles for all pages */
/*                      */

body
{background-color: #f8f8f8}

.small-caps
{font-size: 80%;
font-variant: small-caps;
}

.monospace
{font-family: monospace}

.pmctop-bg
{background-color: #fffeee}

a.pmctop
{color: #004080;
font-family: Arial, sans-serif;
font-size: 12px;
text-decoration: none}

.pmc-body A:active, .pmc-body A:hover,
.pmc-body-table A:active, .pmc-body-table A:hover,
.pmc-body-figure A:active, .pmc-body-figure A:hover
, .pmc-body A:hover
{text-decoration: underline}

.pmc-body A:hover, .pmc-body-table A:hover, .pmc-body-figure A:hover
{}

hr
{color: #0072a8}

.base-highlight1
{background-color: #ebebeb}

.base-highlight2
{background-color: #cccccc}

.controls
{color: #000000;
font-family: Verdana, Arial, sans-serif;
font-size: 75%;
font-weight: bold;
text-decoration: none}

.formtext
{font-family: Arial, sans-serif;
font-size: 80%}

.link
{color: #0055aa;
text-decoration: none}

.footer-link
{font-family: Arial, sans-serif;
font-size: 80%;
text-align: center;
}

.side-head {
	font-family: Arial, sans-serif;
	font-size: 90%;
	font-weight: bold;
	}

.side-subhead {
	font-family: Arial, sans-serif;
	font-size: 75%;
	font-weight: bold;
	margin-top: 10px;
	}

.side-item, .side-curr-item {
	font-family: Arial, sans-serif;
	font-size: 75%;
	margin: 2px 1px 2px 4px;
	padding-bottom: 2px;
	border-bottom: 1px solid #c0c0c0;
	}

.side-item a {
	color: #0055aa;
	text-decoration: none;
	}

.side-curr-item {
	color: #808080;
	}

/* styles for TOC and Archive pages */

.toc-header-vid
{font-family: Arial, sans-serif;
font-size: 120%;
font-weight: bold;
margin-top: 1.1em;
margin-bottom: 1.1em;
line-height: 1.1em;}

.more-iss-text
{font-family: Arial, sans-serif;
font-weight: bold;
margin-top: 1.35em;
margin-bottom: 1.35em;}

.more-iss-link
{color: #0055aa;
text-decoration: none}

.arc-issue
{color: #004080;
font-family: Arial, sans-serif;
font-size: 80%;
text-align: center;
text-decoration: none}

.toc-entry
{line-height: 1.125em;}

.toc-comment
{font-family: Arial, sans-serif;
font-size: 70%}

/* styles for TOC article entries */

.toc-title
{font-family: Arial, sans-serif;
font-size: 80%;
font-weight: bold}

.toc-author
{font-family: Arial, sans-serif;
font-size: 75%}

.toc-cit-jour
{color: #666666;
font-family: Arial, sans-serif;
font-size: 75%;
font-style: italic}

.toc-cit-vol
{color: #666666;
font-family: Arial, sans-serif;
font-size: 75%}

.toc-cit-page
{color: #666666;
font-family: Arial, sans-serif;
font-size: 75%;
font-weight: bold}

.toc-cit-date, .toc-pmcid
{color: #666666;
font-family: Arial, sans-serif;
font-size: 75%;
white-space :nowrap;
}


.toc-link
{color: #004080;
font-family: Arial, sans-serif;
font-size: 75%;
text-decoration: none}

.toc-divider
{
font-family: Arial, sans-serif;
font-size: 75%;
text-decoration: none}

.toc-corrected-citation
{
	margin-left: 1em;
}

.toc-corrected-prefix,
.toc-corrected-1st-author-etal,
.toc-corrected-citation-title
{
	font-family: Arial, sans-serif;
	font-size: 75%;
}
.toc-corrected-prefix
{
	font-weight: 600;
}

.toc-corrected-citation-info
{
	font-family: Arial, sans-serif;
	font-size: 75%;
}

.toc-corrected-citation-info .citation-abbreviation
{
	font-style: italic;
}

.toc-entry-abstract-toc
{
	font-family: Arial, san-serif;
	font-size: 75%;
	padding: 0 2em;
	color: #333;
}

.cited-article-fm
{
	background-color: #ebebeb;
	border-width: 1px;
	border-style: solid;
	margin-left: 0px;
	padding-right: 8px;
	padding-left: 8px;
}

.citing-article-fm
{
	margin-left: 0px;
	padding-right: 8px;
	padding-left: 8px;
}
/* styles for Abstract, Full text & Corrections pages */

.sidefm-pmchead, .sidefm-pmhead
{color: #0055aa;
font-family: Verdana, Arial, sans-serif;
font-size: 85%;
font-weight: bold;
text-decoration: none}

.sidefm-pmsubhead
{
color: #000000;
font-family: Arial, sans-serif;
font-size: 75%;
font-weight: bold;
margin-top: 10px;
}

.sidefm-pmclink, .sidefm-pmart, .side-section, .side-caption, .figure-table-caption-in-article
{color: #004080;
font-family: Arial, sans-serif;
font-size: 75%;
text-decoration: none;
}

.figure-table-caption-in-article
{color: #000000;
line-height: 1.5em;
}

.sidefm-pmclink-item
{
    padding-left: 10px;
}
.sidefm-pmclink-item a, .sidefm-pmccurrent-item a, .sidefm-pmclink-item a:hover, .sidefm-pmccurrent-item a:hover
{
border-bottom: 1px dotted #c0c0c0;
text-decoration: none;
display: block;
padding-bottom: 2px;
padding-left: 5px;
line-height: 1.5em;
}

.sidefm-pmclink-item a
{
color: #004080;
}


.sidefm-pmclink-item a:hover, .sidefm-pmccurrent-item a:hover
{background-color: #b8c8d8;
}

.sidefm-pmccurrent-item a,
.sidefm-pmccurrent-item a:hover
{
color: #808080;
cursor: default;
}

.sidefm-pmccurrent-item a:hover
{
background-color: #dcdcdc;
}


.side-section-curr
{color: #808080;
font-family: Arial, sans-serif;
font-size: 75%;
text-decoration: none}

.sidebar-cell .sidefm-supplink,
.sidebar-cell .side-supplink
{
	font-size: 75%;
	font-family: Arial, sans-serif;
}

a.sidefm-supplink, a.side-supplink
{color: #b55a00;
text-decoration: none}

.side-section-group
{border-top: 1px #0077aa solid;
text-decoration: none;
padding-left: 3px;
padding-right: 3px;
line-height: 	100%;
}

.head-separate {margin-bottom: 1.2em;}

.links-box {
padding: 5px;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
border: 1px solid #666699;
border-top: 1px solid #ccd8e4;
border-right: 1px solid #ccd8e4;
}

:target {
  border: 1px dotted #336699;
}

.main-table-content, .main-figure-content {
    margin-left: 9px;
}

div.fm-author,
div.fm-editor

{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.fm-affl,
.fm-footnote 
{
    font-weight: normal;
    color: #5e5e5e !important;
}

div.fm-affl,
div.fm-footnote 
{ 
    margin: 0 !important;
}

div.fm-copyright,
div.fm-pubdate
{
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

div.fm-citation
{
    margin-top: 0 !important;
}

.fm-citation-ids
{
    text-align: right;
    font-size: 85%;
    font-family: Arial,sans-serif;
    white-space :nowrap;
    padding-left: 1em;
}

.fm-citation-ids-label
{color: #666;}

.fm-citation-pmcid
{
}

.fm-citation-manuscriptid
{
}

.fm-copyright
{
    margin-top: 6px;
}

.links-box .fm-footnote
{
    margin: 0;
}

.tocentry, .toc-entry-alt-lang
{
    margin-top: 1.125em;
    margin-bottom: 1.125em;
}

.toc-entry-alt-lang
{
    margin-left: 2.5em;
}

.toc-entry-alt-lang-msg
{
    font-size: 75%;
    font-family: Arial, sans-serif;
}
.portal-tocentry
{
    margin-top: 1.6ex;
    margin-bottom: 2ex;
    margin-right: 1em;
}

.button-elsevierwt
{
    border: 0;
}

.elsevierwt-sponsored-label
{
    color: #f8f8f8;
    font-weight: 600;
}

.banner-journal-publisher-over-image-elsevierwt
{
    position: relative;
    margin-left: 20px;
    top: -30px;
    color: #9A7947;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
    margin-right: 145px;
    overflow:hidden;
    height: 75px;
}

.banner-journal-name-elsevierwt
{
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 1em;
    color: #954A4A;
}

a.elsevierwt-button-link
{
    position: relative;
    left: 360px;
    top: 40px;
}

a.elsevierwt-button-link:hover
{
    background-color: #F1E8CE;
}

.fm-elsevierwt-disclaimer
{
    font-family: Arial, sans-serif;
    font-size: .6875em;
    margin-top: 12px;
    margin-bottom: 12px;
}


.ref-cit-blk,
.back-ref-list-1st-line-shifted li,
.back-ref-list li
{
    margin-top: 1.4em;
    line-height: 1.4em;
}


div.ref-label
{
    width: 45px;
    text-align: right;
    float:left;
    border: 1px solid #F8F8F8;
}

div.ref-cit
{
    margin-left: 55px;
}

span.ref-label
{font-style: italic;}

span.ref-cit
{}


.back-ref-list-1st-line-shifted li
{
    list-style-type:none;
    margin-left:2em;
    padding-left:1.5em;
    text-indent:-1.5em;
}

.array-table, .array-table-inline
{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f4f4f4;
    line-height: 1.3125em;
    width: 100%;

}

.array-table td
{
    padding: 0em 0.5em;
}

.array-table-inline
{
    display: inline;
}

.list-item-w-pw
{
    border: #f8f8f8 1px solid;
}

.list-item-w-pw-prefix-word
{
    display:inline-block; /*this line is here for opera specificaly*/
    position:relative;
    text-align: right;
}

.list-item-w-pw-content
{
    position:relative;
    top: -1.35em;
}

.list-item-p-question
{
	font-weight: bold;
}

span.underline
{
    border-bottom: 1px solid black;
}

span.double-underline
{
    border-bottom: 3px double black;
}

span.bold-double-underline
{
    border-bottom: 3px double black;
}

.verse-group
{
    margin: 1.3125em 2em;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 1.125em;
    line-height: 1.1666em;
}

.internal-control
{
 	margin: 1.5em auto;
	background-color: #f0f0f0;
	font-weight: bold;
	width: 95%;
	padding: 0.5em;
}

.sidebar-menu-square-image-holder
{
vertical-align:middle;
line-height: inherit;
/*float: left;*/
padding-right: 0.35em;
_padding-top: 0.35em; /*for ie6*/
}

div.figure-role
{
    margin: 1em 0;
}

div.signature
{margin: 1.8em 0;
font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;}

div.simple-list-item-w-label
{
    text-indent: -2em;
    float: left;
}

.selective-deposit-msg
{
    background-color: #f4f4f4;
    border:0.5em solid #F4F4F4;
    font-family: Arial,sans-serif;
    font-size: 80%;
}

.fm-title, .fm-trans-title
{
    margin-top: 16px;
}

.ukpmc-tocentry-icon
{
    border:                0;
    vertical-align:        text-bottom;
    margin-right:          0.25em;
}

.i18n-debug,
.i18n-debug *
{
  background-color: #FFF0DF;
}

.i18n-debug .i18n-debug,
.i18n-debug .i18n-debug *
{
  background-color: #FFE2BF;
}

.i18n-debug .i18n-debug .i18n-debug,
.i18n-debug .i18n-debug .i18n-debug *
{
  background-color: #FFD39F;
}

.i18n-debug .i18n-debug .i18n-debug .i18n-debug,
.i18n-debug .i18n-debug .i18n-debug .i18n-debug *
{
  background-color: #FFC47F;
}

a.i18n-switcher,
a.i18n-switcher:hover

{
  font-family: Arial, sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  text-decoration: none;
}

a.i18n-switcher-current,
a.i18n-switcher-current:hover
{
  font-family: Arial, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
}

img.i18n-switcher
{
  width: 11px;
  height: 8px;
  border: none;
  vertical-align: super;
  margin-right: 2px;
}

td.content-cell
{
  padding-left: 5px;
}
