body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333333;
	background-color: #eeeeee;
	margin: 10px 5px 15px 5px;
}
* html table {
	font-size: 100%;
}

/* h1 used for section/article title top of page */
h1 {
	font-size: 140%;
	margin: 0.5em 0 0.1em 0;
}
/* h2 used for sections / search results article title, and in article headings */
h2 {
	font-size: 120%;
	margin: 0.5em 0 0.25em 0;
}
/* h3 used for date/author etc under h1/h2 */
#left h3 {
	font-size: 85%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eee;
}
/* and also for the navigation headings */
#right h3 {
	/*border-top: 1px solid #fee193;*/
	font-size: 100%;
	margin: 0;
	padding-top: 4px;
	padding-left: 10px;
}

* html #right h3 {
	margin-bottom: 0.3em;
}

p {
	margin: 0.75em 0;
	line-height: 140%;
}

a {
	color: #535378;
}
a:hover {
	color: #000;
}

a.selected {
	text-decoration: none;
	font-weight: bold;
}

code {
	background: #eeeeee;
	font-size: 105%;
	*font-size: 100%;
}
code.block {
	display: block;
	border: 1px #666 solid;
	padding: 10px;
	overflow: auto;
	clear: both;
}
code.nobg {
	background: #ffffff;
}

pre {
	border: 1px #666 solid;
	padding: 10px;
	padding-bottom: 1em;
	overflow: hidden;
	overflow-x: auto;
	background: #eeeeee;
	font-size: 105%;
	*font-size: 100%;
	clear: both;
}
* html pre {
	width: 600px;
}

form {
	margin: 0px;
}

.clear {
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}

#center {
	text-align: center; /* for centering in ie */
}

#container {
	text-align: left;
	width: 933px;
	background-image: url(/images/gui/bg.gif);
	margin: auto;
}

#left {
	float: left;
	width: 653px;
}

#content {
	padding: 0px 18px 15px 20px;
	/*padding-right: 138px;*/
}

#topad {
	padding-bottom: 8px;
	background-color: #eee;
}

#topnav {
	background-image: url(/images/gui/top.gif);
	padding: 5px 0px 5px 17px;
}
#topnav input {
	font-size: 80%;
}
#topnav a {
	text-decoration: none;
	color: #333333;
}
#topnav a:hover {
	text-decoration: underline;
}

#right {
	float: right;
	width: 280px;
	line-height: 135%;
}
* html #right {
	line-height: 110%;
}
#right ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
	float: left;
}
#right ul.fullwidth {
	float: none;
	list-style-type: disc;
	padding-left: 25px;
}
#right ul#admin {
	border-bottom: 1px solid #eee; 
	padding-bottom: 0.5em;
}
#right li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding-left: 10px;
	width: 120px;
}
* html #right li a {
	width: 130px;
}
#right ul.fullwidth li a {
	width: 243px;
	padding-left: 0px;
}
#right li a:hover {
	background-color: #ccc;
}
#right li.space {
	line-height: 1px;
	font-size: 1px;
	border-top: 1px solid #fee193;
	margin: 2px 15px 1px 15px;
}
#right li img {
	margin-right: 4px;
	vertical-align: middle;
	border: none;
}

.articlesummary {
	border: 1px solid #ddd;
	margin-bottom: 1em;
	padding: 0.3em 1em;
}
.homearticles {
	padding: 0em;
	border: none;
	border-top: 1px solid #333;
	margin-top: 2.5em;
	padding-top: 0.3em;
}
h1 img, .articlesummary h2 img {
	float: left;
	margin-right: 5px;
	border: 0px;
}

#feature {
	visibility: hidden;
	position: absolute;
	top: 0px;
	width: 220px;
	background-color: #eee;
	border: 1px solid #999;
	padding: 10px 5px;
	margin-left: 505px;
}
* html #feature {
	margin-left: 517px;
}
#feature h1 {
	font-size: 120%;
	margin: 0;
}
#feature h1 span {
	font-size: 80%;
	font-weight: normal;
}
#feature img {
	margin: 6px 0 0 0;
	border: 1px solid #666;
	padding: 1px;
}
#feature p {
	padding-right: 5px;
}

.paging {
	font-size: 85%;
	margin-bottom: 1em;
	color: #ccc;
	padding-top: 1em;
}
.paging span {
	border: 1px solid #ccc;
}
.paging a {
	text-decoration: none;
	border: 1px solid #fec632;
}
.paging span, .paging a {
	padding: 1px 3px;
}
.paging a:hover {
	border-color: #fec632;
	background-color: #fec632;
	color: white;
}
.paging span.selected {
	color: #fff;
	background-color: #fec632;
	border: 1px solid #fec632;
}

.imgcenter {
	margin: 1em 0;
	text-align: center;
}

.subscribe {
	border: 1px dotted #333; 
	padding: 0px 10px; 
	margin-top: 1em; 
	background-color: #f3f3f3;
}

.running tr {
	background-color: rgb(221, 221, 221);
}

#ad250x250 {
	background-image: url(/images/gui/250-bg.gif);
	width: 262px;
	height: 264px;
	padding: 5px 0 0 11px;
	margin-top: 7px;
}
* html #ad250x250 {
	width: 273px;
	height: 269px;
}
#right .line {
	border-bottom: 1px solid #fee193;
	margin-right: 7px;
	border-top: 5px solid #fec632;
}

#logo {
	margin-bottom: -7px;
}

/*
#article-ad {
	float: left;
	margin: 0 10px 10px 0;
}
.imgcenter, pre {
	clear: both;
}
*/

#contact-form-message {
	display: none;
}


#tla {
	height: 1.3em;
}
#tla a {
	text-decoration: underline;
}
#tla a:hover {
	color: #666;
}
#tla ul {
	padding: 0; 
	list-style: none; 
	margin: 0; 
	width: 100%;
	margin-left: -6px;
}
#tla li {
	clear: none; 
	padding: 0;
	display: block; 
	float: left; 
	margin: 0; 
	padding-left: 5px;
}
#dzone_widget {
	float: left;
	padding: 10px 10px 10px 0px
}