/*
 * CSHL-maintained global CSS file for Genome Research
 */

/* add styles below */


/* sample widget styling */
div#col-3-widget-placeholder {
padding-bottom: 12px;
}
div#col-2-widget-placeholder p,
div#col-3-widget-placeholder p {
	font-size: 90%;
	padding-left: 15px;
padding-bottom: 10px;

padding-right: 15px;;

	border: 1px solid #ffffff;
margin: .2em .4em;

	}
div#pageid-home div#col-3-widget-placeholder p {
	color: #880000;
}
div#pageid-search div#col-2-widget-placeholder p {
	color: #000088;
}
div#pageid-search div#col-3-widget-placeholder p {
	color: #008800;
}

/* end sample */

