/*****************************************************************
 * HW-provided CSS stylesheet specific to PNAS content pages
 *****************************************************************/
#ref-list .cit-title {
	position: absolute;
	left: -9999px;
}
.link-ref {
	vertical-align: baseline;
}
#content-block div.section p.h-lead {
	display: inline;
}
#content-block div.section div.h-p-wrap {
	margin: 15px 0;
}
div.ref-list .cit-vol {
	font-weight: normal;
}
.fig-caption p.first-child {
	display: inline;
	text-align: left;
}

.fig-label, .table-label {
	margin-right: .5em;
}
.fig-caption, .table-caption {
	text-align: left;
}
.fig-caption p.first-child,
.table-caption p.first-child {
	display: inline;
	text-align:left;
}

#content-block div.article a,
#content-block div.article a:link,
#content-block div.article a:active,
#content-block div.social-bookmarking a,
#content-block div.social-bookmarking a:link,
#content-block div.social-bookmarking a:active {
	color: #333333;
}
#content-block div.article a:visited,
#content-block div.social-bookmarking a:visited {
	color: #003333;
}
#content-block div.article a.view-more:hover {
	background-color: #383838;
	color: white;
}
div.ref-list cite span.cit-source,
div.ref-list cite abbr.cit-jnl-abbrev,
div.ref-list cite span.cit-conf-name,
div.ref-list cite .ie6-abbr-wrap {
	margin-right: .5em;
}
#hovering-ref cite abbr.cit-jnl-abbrev,
#hovering-ref cite .ie6-abbr-wrap {
	margin-right: .5em;
}

/* for col expansion */
div.hide-cols div#col-2-min {
  background-color: #D8DBE3;
}
div.hide-cols div#col-3-min {
  background-color: #B1B7C7;
}
div.hide-cols div#col-2.palette,
div.hide-cols div#col-3.palette {
  right: 5px; top: 5px;
}

